html, body {
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	background: url('images/back2.jpg');
	background-size: 100% 100%;/*background-repeat: no-repeat;*/
	color: white;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.login-display-name {
	display: none !important;
}
.bg-image {
	background-image: url("images/back2.jpg");/* The image used */
	height: 100%; /* Full height */
	background-position: center;/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-size: cover;
}
img {
	height: 100%;
	width: 100%;
}
.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
	color: white;
}
.nav-item {
	display: inline;
	padding: 3%;
}
.heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5rem;
	text-align: center;
	margin: auto auto;
	color: white;
}
.navbar-nav {
	padding: 1.5rem;
	width: 25%;
	float: right;
	margin: 0;
}
input {
	color: black;
}
h2. h3 {
	color: white;
}
table, legend {
	color: darkgrey;
}
.adminEntries { 
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
table {
	margin: 0 0 40px 0;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	display: table;
	text-align: center;
	table-layout: fixed;
}
tr {
	color: lightgrey;
	display: table-row;
	background: grey;
}
tr:nth-child(even){
	background: lightgrey;
}
td {
	word-wrap: break-word;
	color: #101010;
	display: table-cell;
	padding: 1.2rem;
	margin: 0.5rem 0.5rem;
	padding-bottom: 0.35rem;
	font-size: 1.8rem;
}
th {
	display: table-row;
	font-size: 3rem;
	padding: 1rem; 
	text-align: center;
}
.orange-link {
	color: orange;
}
.orange-link:hover { 
	color: orange;
}
.logout {
	text-align: center;
	height: 3rem;
}
.nav-item {
	padding-left: 2.5vw;
	padding-top: 2vw;
	font-size: 20px; 
}
.navbar-nav .nav-item .nav-link {
	color: white;
}
.dropdown-menu {
	background-color:pink; 
}
.dropdown-menu a:hover {
	background-color: #FAA570;
}
.dropdown-menu .dropdown-item {
	color:black;
}
#div1,#div2,#div3,#div4,#div5 {
	display: none;
}
.footerimg {
	width: 40px;
}
.impinfo {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.45em;
}
