<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105307113-2');
  </script>
  <title>Workshops</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>techy | Elan & &eta;vision'19</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2019">
    <meta name="author" content="ELAN & ηvision 2019  ">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="ELAN & ηvision 2019">
    <meta property="og:title" content="ELAN & ηvision 2019">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
    <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" href="/styles/canva.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/techy.css">
    <script type="text/javascript">
      window.history.replaceState("", "", '/workshops');
    </script>
</head>
<body>
  <canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
          <a href="/ca">Campus Ambassador</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById('scrollmsg').style.display = 'none';
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById('scrollmsg').style.display = 'block';
      document.getElementById("myNavr").style.width = "0%";
    }
    function openNav() {
      document.getElementById('scrollmsg').style.display = 'none';
      document.getElementById("myNav").style.height = "100%";
    }
    function closeNav() {
      document.getElementById('scrollmsg').style.display = 'block';
      document.getElementById("myNav").style.height = "0%";
    }
    function openNav1() {
      document.getElementById('scrollmsg').style.display = 'none';
      document.getElementById("myNav1").style.height = "100%";
    }
    function closeNav1() {
      document.getElementById('scrollmsg').style.display = 'block';
      document.getElementById("myNav1").style.height = "0%";
    }
    function openNav2() {
      document.getElementById('scrollmsg').style.display = 'none';
      document.getElementById("myNav2").style.height = "100%";
    }
    function closeNav2() {
      document.getElementById('scrollmsg').style.display = 'block';
      document.getElementById("myNav2").style.height = "0%";
    }
    function openNav3() {
      document.getElementById('scrollmsg').style.display = 'none';
      document.getElementById("myNav3").style.height = "100%";
    }
    function closeNav3() {
      document.getElementById('scrollmsg').style.display = 'block';
      document.getElementById("myNav3").style.height = "0%";
    }
    function openNav4() {
      document.getElementById('scrollmsg').style.display = 'none';
      document.getElementById("myNav4").style.height = "100%";
    }
    function closeNav4() {
      document.getElementById('scrollmsg').style.display = 'block';
      document.getElementById("myNav4").style.height = "0%";
    }
    function openNav5() {
      document.getElementById('scrollmsg').style.display = 'none';
      document.getElementById("myNav5").style.height = "100%";
    }
    function closeNav5() {
      document.getElementById('scrollmsg').style.display = 'block';
      document.getElementById("myNav5").style.height = "0%";
    }
     function openNav6() {
      document.getElementById('scrollmsg').style.display = 'none';
      document.getElementById("myNav6").style.height = "100%";
    }
    function closeNav6() {
      document.getElementById('scrollmsg').style.display = 'block';
      document.getElementById("myNav6").style.height = "0%";
    }
  </script>
  <div class="container" style="margin-top: 10%">
    <!-- <div class="scrollmenu">
      <a href="/views/workshops/workshops.html">&nbsp;Cisco Networking</a>
      <a href="/views/workshops/hacking.html">&nbsp;Ethical Hacking</a>
      <a href="/views/workshops/gamedev.html">&nbsp;Game Dev using Python</a>
      <a href="/views/workshops/ml.html">&nbsp;Machine Learning</a>
      <a href="/views/workshops/mobile.html">&nbsp;Mobile Web Development</a>  
      <a href="/views/workshops/robot.html">&nbsp;Robotics Process Automation</a>
    </div> -->
    <h2 style="margin-top:15vh; text-align: center;">Workshops At Elan & Nvision 2019</h2>
    <hr>
    <div class="row justify-content-center">
      <div class="row justify-content-center no-gutters" data-aos="zoom-in-up" style="margin: 40px">
        <div class="col-sm-6 text-center">
          <div class="img-wrapper techy">
            <div class="flip-card"> 
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="/img/work1.jpg" alt="Avatar">
                </div>
                <div class="flip-card-back">
                  <h3 style="margin-top:50px;">Cisco Networking</h3>
                  <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='https://www.thecollegefever.com/college-events/city/iit%20hyderabad/elan-nvision-2019'">Register</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn" onclick="openNav()" style="margin-top:10px;">Details</button>
                </div>
              </div>
            </div>
          </div>
        <h3 style="margin-top:20px;">Cisco Networking</h3>
        </div>
      </div>
      <div id="myNav" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.4) 0%, rgba(12, 12, 12, 0.9) 100%), url('/img/robotix_bg.jpg'); background-size: cover;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div style="text-align:left;" class="overlay-content">
          <div class="container" style="padding-top: 40px;">
            <h2 style='text-align:center'>Cisco Networking</h2>
             <div class='tab-content'>
              <div class='tab-pane active' id='a1' role="tabpanel">
                <div class="col-lg-6" style="font-size: 35px;">
                    <h3>Introduction:</h3>
                    <h5>Cisco networking - Attend sessions from one of the biggest Networking Giants globally. </h5>

                    <h3>Contents:</h3>

                    <h5><ul><li>The Internet - How does it work?</li>
                    <li>OSI model</li>
                    <li>Common Utilities</li>
                    <li>Saving IPv4 Addresses using subnetting VLSM NAT</li>
                    <li>Routing</li>
                    <li>Switchming</li>
                    <li>Security</li>
                    </ul></h5>

                    <h3>Contact:</h3>

                    <h5>Adarsh Bandi : 9640724328<br>
                    P Aashrith   : 9493133346<br>

                    Contact Email : workshops@elan.org.in</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center no-gutters" data-aos="zoom-in-up" style="margin: 40px">
        <div class="col-sm-6 text-center">
          <div class="img-wrapper techy">
            <div class="flip-card"> 
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="/img/work3.jpg" alt="Avatar">
                </div>
                <div class="flip-card-back">
                  <h3 style="margin-top:50px;">Game Dev with Python</h3>
                  <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='https://www.thecollegefever.com/college-events/city/iit%20hyderabad/elan-nvision-2019'">Register</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn" onclick="openNav1()" style="margin-top:10px;">Details</button>
                </div>
              </div>
            </div>
          </div>
        <h3 style="margin-top:20px;">Game Dev with Python</h3>
        </div>
      </div>
      <div id="myNav1" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.4) 0%, rgba(12, 12, 12, 0.9) 100%), url('/img/robotix_bg.jpg'); background-size: cover;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
        <div style="text-align:left;" class="overlay-content">
          <div class="container" style="padding-top: 40px;">
            <h2 style='text-align:center'>Game Dev with Python</h2>
             <div class='tab-content'>
              <div class='tab-pane active' id='a1' role="tabpanel">
                <div class="col-lg-6" style="font-size: 35px;">
                    <h3>Introduction:</h3>
                  <h5> Create games on your own using a fast-growing and easy-to-use programming language.  </h5>

                  <h3>Contents:</h3>

                  <h5><ul>
                  <li>Introduction to python</li>
                  <li>Introduction to Pygame library</li>
                  <li>Graphics Setup</li>
                  <li>Creating Input controls</li>
                  <li>Boundaries,Crash Events and Menu Creation</li>
                  <li>Creating Obstacles Using polygons </li>
                  <li>Game Logic</li>
                  <li>Creating  Score Display</li>
                  <li>Adding Difficulty levels</li>

                  </ul></h5>

                  <h3>Contact:</h3>

                  <h5>Adarsh Bandi : 9640724328<br>
                  K SAI KRISHNA : 6303734148<br>

                  Contact Email : workshops@elan.org.in</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center no-gutters" data-aos="zoom-in-up" style="margin: 40px">
        <div class="col-sm-6 text-center">
          <div class="img-wrapper techy">
            <div class="flip-card"> 
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="/img/work2.jpg" alt="Avatar">
                </div>
                <div class="flip-card-back">
                  <h3 style="margin-top:50px;">Ethical Hacking</h3>
                  <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='https://www.thecollegefever.com/college-events/city/iit%20hyderabad/elan-nvision-2019'">Register</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn" onclick="openNav2()" style="margin-top:10px;">Details</button>
                </div>
              </div>
            </div>
          </div>
        <h3 style="margin-top:20px;">Ethical Hacking</h3>
        </div>
      </div>
      <div id="myNav2" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.4) 0%, rgba(12, 12, 12, 0.9) 100%), url('/img/robotix_bg.jpg'); background-size: cover;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
        <div style="text-align:left;" class="overlay-content">
          <div class="container" style="padding-top: 40px;">
            <h2 style='text-align:center'>Ethical Hacking</h2>
             <div class='tab-content'>
              <div class='tab-pane active' id='a1' role="tabpanel">
                <div class="col-lg-6" style="font-size: 35px;">
                  <h3>Introduction:</h3>
                  <h5> The best way to protect your system from a hacker is to think like one. Brute force your way through a plethora of real-life problems and learn from skilled professionals of the industry. </h5>

                  <h3>Contents:</h3>

                  <h5><ul>
                    <li>Need of Cyber Security</li>
                    <li>Fundamentals of Networking</li>
                    <li>Introduction to Kali Linux</li>
                    <li>Password Cracking</li>
                    <li>Wi-Fi Hacking</li>
                    <li>Introduction to DBMS</li>
                    <li>Automated SQL Injection</li>
                    <li>Introduction to Cryptography</li>
                    <li>Types of Encryption</li>
                    <li>Hashing</li>
                  </ul></h5>

                  <h3>Contact:</h3>

                  <h5>Adarsh Bandi : 9640724328<br>
                  N JYOTHI SWAROOP : 9381875455<br>

                  Contact Email : workshops@elan.org.in</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center no-gutters" data-aos="zoom-in-up" style="margin: 40px">
        <div class="col-sm-6 text-center">
          <div class="img-wrapper techy">
            <div class="flip-card"> 
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="/img/work4.jpg" alt="Avatar">
                </div>
                <div class="flip-card-back">
                  <h3 style="margin-top:50px;">Machine Learning</h3>
                  <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='https://www.thecollegefever.com/college-events/city/iit%20hyderabad/elan-nvision-2019'">Register</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn" onclick="openNav3()" style="margin-top:10px;">Details</button>
                </div>
              </div>
            </div>
          </div>
        <h3 style="margin-top:20px;">Machine Learning</h3>
        </div>
      </div>
      <div id="myNav3" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.4) 0%, rgba(12, 12, 12, 0.9) 100%), url('/img/robotix_bg.jpg'); background-size: cover;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
        <div style="text-align:left;" class="overlay-content">
          <div class="container" style="padding-top: 40px;">
            <h2 style='text-align:center'>Machine Learning</h2>
             <div class='tab-content'>
              <div class='tab-pane active' id='a1' role="tabpanel">
                <div class="col-lg-6" style="font-size: 35px;">
                  <h3>Introduction:</h3>
                  <h5>The one tool you must have in your arsenal in today's rapidly advancing technology-driven world. Millions of datasets, and only so much time to go through them all. ML's here to solve your problems.  </h5>

                  <h3>Contents:</h3>

                  <h5><ul>
                    <li>ntroduction to Machine Learning and AI</li>
                    <li>Python & Anaconda</li>
                    <li>Prediction Models</li>
                    <li>Linear regression</li>
                    <li>Natural Language Processing</li>
                    <li>Chatbots</li>
                    <li>Facial detection and Recognitions and AI concepts</li>

                  </ul></h5>

                  <h3>Contact:</h3>

                  <h5>Adarsh Bandi : 9640724328<br>
                  Sai Meher    : 9154407427<br>

                  Contact Email : workshops@elan.org.in</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center no-gutters" data-aos="zoom-in-up" style="margin: 40px">
        <div class="col-sm-6 text-center">
          <div class="img-wrapper techy">
            <div class="flip-card"> 
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="/img/work5.jpg" alt="Avatar">
                </div>
                <div class="flip-card-back">
                  <h3 style="margin-top:50px;">Mobile Web Development</h3>
                  <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='https://www.thecollegefever.com/college-events/city/iit%20hyderabad/elan-nvision-2019'">Register</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn" onclick="openNav4()" style="margin-top:10px;">Details</button>
                </div>
              </div>
            </div>
          </div>
        <h3 style="margin-top:20px;">Mobile Web Development</h3>
        </div>
      </div>
      <div id="myNav4" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.4) 0%, rgba(12, 12, 12, 0.9) 100%), url('/img/robotix_bg.jpg'); background-size: cover;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav4()">&times;</a>
        <div style="text-align:left;" class="overlay-content">
          <div class="container" style="padding-top: 40px;">
            <h2 style='text-align:center'>Mobile Web Development</h2>
             <div class='tab-content'>
              <div class='tab-pane active' id='a1' role="tabpanel">
                <div class="col-lg-6" style="font-size: 35px;">
                  <h3>Introduction:</h3>
                  <h5>Chances are you're reading this on your mobile phone, and so are billions more. Take this opportunity to become a Web Developer of the future and change with today's modern society. </h5>

                  <h3>Contents:</h3>

                  <h5><ul>
                    <li>HTML </li>
                    <li>CSS Basics </li>
                    <li>Advanced CSS</li>
                    <li>JavaScript Basics</li>
                    <li>PHP Basics</li>
                    <li>PHP Advanced</li>
                    <li>MySQL Database</li>
                    <li>Real Time Project Management</li>
                  </ul></h5>

                  <h3>Contact:</h3>

                  <h5>Adarsh Bandi : 9640724328<br>
                  M VARUN SANKAR : 9100429629<br>

                  Contact Email : workshops@elan.org.in</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center no-gutters" data-aos="zoom-in-up" style="margin: 40px">
        <div class="col-sm-6 text-center">
          <div class="img-wrapper techy">
            <div class="flip-card"> 
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="/img/work6.jpg" alt="Avatar">
                </div>
                <div class="flip-card-back">
                  <h3 style="margin-top:50px;">Robotics Process Automation</h3>
                  <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='https://www.thecollegefever.com/college-events/city/iit%20hyderabad/elan-nvision-2019'">Register</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn" onclick="openNav5()" style="margin-top:10px;">Details</button>
                </div>
              </div>
            </div>
          </div>
        <h3 style="margin-top:20px;">Robotics & Automation</h3>
        </div>
      </div>
      <div id="myNav5" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.4) 0%, rgba(12, 12, 12, 0.9) 100%), url('/img/robotix_bg.jpg'); background-size: cover;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav5()">&times;</a>
        <div style="text-align:left;" class="overlay-content">
          <div class="container" style="padding-top: 40px;">
            <h2 style='text-align:center'>Robotics Process Automation</h2>
             <div class='tab-content'>
              <div class='tab-pane active' id='a1' role="tabpanel">
                <div class="col-lg-6" style="font-size: 35px;">
                  <h3>Introduction:</h3>
                  <h5>Robots may or may not take our jobs away, but at least they can make our lives easier! Using RPA find out how you can task machines to get work done. </h5>

                  <h3>Contents:</h3>

                  <h5><ul>
                    <li>Dotnet Fundamentals</li>
                    <li>Workflow Design</li>
                    <li>Sequence Design</li>
                    <li>State Design</li>
                    <li>Automation Activities Overview</li>
                    <li>Bot Setup</li>
                    <li>Bot Deployment</li>

                  </ul></h5>

                  <h3>Contact:</h3>

                <h5>Adarsh Bandi : 9640724328<br>
                  A SAI MAHESH :  9381306441<br>

                  Contact Email : workshops@elan.org.in</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center no-gutters" data-aos="zoom-in-up" style="margin: 40px">
        <div class="col-sm-6 text-center">
          <div class="img-wrapper techy">
            <div class="flip-card"> 
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="/img/work5.jpg" alt="Avatar">
                </div>
                <div class="flip-card-back">
                  <h3 style="margin-top:50px;">Movie Making</h3>
                  <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='https://www.thecollegefever.com/college-events/city/iit%20hyderabad/elan-nvision-2019'">Register</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn" onclick="openNav6()" style="margin-top:10px;">Details</button>
                </div>
              </div>
            </div>
          </div>
        <h3 style="margin-top:20px;">Movie Making</h3>
        </div>
      </div>
      <div id="myNav6" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.4) 0%, rgba(12, 12, 12, 0.9) 100%), url('/img/robotix_bg.jpg'); background-size: cover;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav6()">&times;</a>
        <div style="text-align:left;" class="overlay-content">
          <div class="container" style="padding-top: 40px;">
            <h2 style='text-align:center'>Mobile Web Development</h2>
             <div class='tab-content'>
              <div class='tab-pane active' id='a1' role="tabpanel">
                <div class="col-lg-6" style="font-size: 35px;">
                  <h3>Introduction:</h3>
                  <h5>Two days film making workshop by industry experts.</h5>

                  <h3>Contents:</h3>

                  <h5><ul>
                    <li>Introduction to Indian and world cinema </li>
                    <li>Technology in today’s cinematic world</li>
                    <li>Direction department</li>
                    <li>Discussion and narration</li>
                    <li>Story and screenplay</li>
                    <li>Direction of photography (DOP)</li>
                    <li>Editing and stages of production</li>
                    <li>24 hour film making challenge with exciting prizes and gifts</li>
                              
                  </ul></h5>

                  <h3>Contact:</h3>

                  <h5>Bharadwaj : 7995270890<br>

                  Contact Email : events@elan.org.in</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="scrollmsg" style="position: fixed; width: 100vw; pointer-events: none; text-align: center; z-index: 50; top: 90vh;">
    <h4> Scroll to See More! </h4>
  </div>

  <script type="text/javascript" src="/js/canva-techy.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script> AOS.init(); </script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>