<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105307113-2');
  </script>
  <link rel="shortcut icon" href="/img//img/favicon.png" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"/>
  <title>Biggies | Elan & &eta;vision'19</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
  <meta name="copyright" content="ELAN & ηvision 2019">
  <meta name="author" content="ELAN & ηvision 2019  ">
  <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
  <meta name="theme-color" content="#283389">
  <meta property="og:site_name" content="ELAN & ηvision 2019">
  <meta property="og:title" content="ELAN & ηvision 2019">
  <meta property="og:type" content="website">
  <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
  <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  <link rel="stylesheet" href="/styles/canva.css">
    <link rel="stylesheet" href="/styles/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
      window.history.replaceState("", "", '/biggies');
       function openNav() {
          document.getElementById("myNav").style.height = "100%";
     }

     function closeNav() {
          document.getElementById("myNav").style.height = "0%";
     }
     function openNav1() {
          document.getElementById("myNav1").style.height = "100%";
     }

     function closeNav1() {
          document.getElementById("myNav1").style.height = "0%";
     }
     function openNav2() {
          document.getElementById("myNav2").style.height = "100%";
     }

     function closeNav2() {
          document.getElementById("myNav2").style.height = "0%";
     }
  </script>
 
</head>
<body>
  <canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=1000; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
          <a href="/ca">Campus Ambassador</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 4vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }
   
    
    function openNav() {
      document.getElementById("myNav").style.height = "100%";
    }
    function openNav1() {
      document.getElementById("myNav1").style.height = "100%";
    }
    function openNav2() {
      document.getElementById("myNav2").style.height = "100%";
    }
    function closeNav() {
      document.getElementById("myNav").style.height = "0%";
    }
    function closeNav1() {
      document.getElementById("myNav1").style.height = "0%";
    }
    function closeNav2() {
      document.getElementById("myNav2").style.height = "0%";
    }
  </script>


  <h1 style ="margin-top: 10%;text-align: center; margin-bottom: 30px;font-family: 'Julius Sans One', sans-serif;">BIGGIES</h1>

  <h2 style ="text-align: center; margin-bottom: 30px;">Event Schedule</h2>
  <hr>
  <div class="row justify-content-center no-gutters" data-aos="zoom-in-up">

      <div class=" col-lg-3 col-sm-6 text-center">
        <div class="img-wrapper biggies">
          <div onclick="openNav()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/Manthan.jpeg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:30px;margin-bottom: 10px;">Manthan</h3>
                <h4 style="margin-top:0px;padding-bottom: 15px;">Fusion Band Competition</h4>
                
                 <button type="button" class="btn" onclick="window.location.href='/register_manthan'">Register</button>
                  <button type="button" class="btn" onclick="">Details</button>


              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:20px;">Manthan</h3>
      </div>

      <div onclick="openNav1()" class=" col-lg-3 col-sm-6 text-center" data-aos="zoom-in-up">
        <div class="img-wrapper biggies">
          <div class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/portfolio_pic3.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">FBB Campus Princess</h3>
                <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/register_campus_princess'">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


              </div>
            </div>
          </div>
          <h3 style="margin-top:20px;">FBB Campus Princess</h3>
        </div>

      </div>
      <div onclick="openNav2()" class=" col-lg-3 col-sm-6 text-center" data-aos="zoom-in-up">
        <div class="img-wrapper biggies">
          <div class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/Elan-e-jung.jpeg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:30px;margin-bottom: 10px;">Elan-E-Jung</h3>
                <h4 style="margin-top:0px;padding-bottom: 15px;">Metal Band Competition</h4>
                <button type="button" class="btn" onclick="window.location.href='/register_elan_e_jung'">Register</button>
                <button type="button" class="btn" onclick="">Details</button>
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:20px;">Elan-E-Jung</h3>
      </div>
      
    </div>

  
  <div id="myNav1" class="overlay" style="background:  linear-gradient(40deg,  #00004d 33%,#990000 63%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container" style="padding-top: 40px;">
    <h2 style='text-align:center;text-decoration: underline;'>Campus Princess</h2>
<!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a12" role="tab"  aria-selected="true">&nbsp;Introduction</a>
      </li>
      <li class="nav-item">
        <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b12" role="tab"  aria-selected="false">&nbsp;Event Format</a>
      </li>
      <li class="nav-item">
        <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c12" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
      </li>
      <li class="nav-item">
        <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d12" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
      </li>
      <li class="nav-item ml-auto" >
        <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/register_campus_princess';" >&nbsp;Register</a>
      </li>
    </ul>
        <div class='tab-content'>
        <div class='tab-pane active' id='a12' role="tabpanel">
        <p>
        An event for all those young ladies out there who always dreamt of being a model. Elan & ηvision 2019 gives you the opportunity to take the first step towards your passion and getting judged by an experienced judge, you will have a lot to take back with you. 
<br>
        </div>
        <div class='tab-pane' id='b12' role="tabpanel">
        <h4>Flow of the event:</h4> <p>

       <i class='fa fa-circle' style='font-size:8px;'></i>  Round 1: Rampwalk. It will have 3 sequences back to back .<br>
<i class='fa fa-circle' style='font-size:8px;'></i> Round 2: Introduction of all the contestants.<br>
<i class='fa fa-circle' style='font-size:8px;'></i> Round 3: Question & Answer of the shortlisted contestants.<br>
<i class='fa fa-circle' style='font-size:8px;'></i> Round 4: Talent Showcase</p>

       </div>
        <div class='tab-pane' id='c12' role="tabpanel">
        <h4>Rules and Regulations:</h4>
        <p><i class='fa fa-circle' style='font-size:8px;'></i> Nationality: Indian Passport Holder</br>
          <i class='fa fa-circle' style='font-size:8px;'></i> The applicant should be between 18 - 25 years of age as of December 31, 2018. The applicant will be required to produce their age proof (Passport, birth certificate, school leaving certificate, driver's license, etc).<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Relationship Status: The applicant should not be married.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Height: 5'5" and above(without heels)<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Student of any recognized educational institution.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> If selected, the applicant will have to follow the dress code of a Black Cocktail Dress and Stilettos while walking the ramp.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> For any queries Contact Haveesh Singirikonda: 7799665254 or email at haveesh@elan.org.in.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> The applicant must agree to abide by all rules, as changed from time to time by the Organisers.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Dress Code: Black Cocktail Dress(knee/mid thigh length) & Stilettos.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Hair do brief: High Pony.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Make up: Basic makeup with nude lip gloss.
</p>
        </div>
        <div class='tab-pane' id='d12' role="tabpanel">
        <h4>Prizes</h4>
        <p>Prizes worth INR 25,000/-</p>
        <h4>Organisers</h4><p>
        Sandeep Kumar-6301678510 <br>
        Abhilashini-9398532891</p>
        <h4>contact</h4><p>
        <a href="mailto:haveesh@elan.org.in" style="font-size: 15px;"> haveesh@elan.org.in</a></p>
        </div>
      
   
        </div>
      </div>
    </div>
  </div>
  <div id="myNav2" class="overlay" style="background:  linear-gradient(40deg,  #00004d 33%,#990000 63%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container" style="padding-top: 40px;">
    <h2 style='text-align:center;text-decoration: underline;'>Elan-E-Jung</h2>
<!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a2" role="tab"  aria-selected="true">&nbsp;Introduction</a>
      </li>
      <li class="nav-item">
        <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b2" role="tab"  aria-selected="false">&nbsp;Event Format</a>
      </li>
      <li class="nav-item">
        <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c2" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
      </li>
      <li class="nav-item">
        <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d2" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
      </li>
      <li class="nav-item ml-auto" >
        <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/register_elan_e_jung';" >&nbsp;Register</a>
      </li>
    </ul>
        <div class='tab-content'>
        <div class='tab-pane active' id='a2' role="tabpanel">
        <p>
        Travel on double bass and riff through the jungle which has creatures who are calm like a bomb. Elan is back with its signature Event, the metal battle. Get ready to put the stage on Wildfire.<br>
        'For those about to rock, we salute you!'' - AC/DC<br>
        </div>
        <div class='tab-pane' id='b2' role="tabpanel">
        <h4>Event Format</h4> <p><i class='fa fa-circle' style='font-size:8px;'></i> This event will consist of 2 rounds</p>  <h4>Prelims:</h4> <p><i class='fa fa-circle' style='font-size:8px;'></i> Each band interested in participating should upload their demos/videos to google drive  and share the link with <a style="display:inline; font-size:15px;" href='mailto:haveesh@elan.org.in'>haveesh@elan.org.in</a>and fill out this <a style='font-size:15px; display: inline;' href="https://elan.org.in/register_elan_e_jung">form</a>.<br>(Do not upload more than 2 videos in the drive link.)</br><i class='fa fa-circle' style='font-size:8px;'></i>  Out of this 5 bands will be shortlisted, and will be performing at Elan-e-Jung finals, Elan 2019.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Each band will be given 5 minutes for sound check and 20 minutes for performance.</p>
        <h4>Finals:</h4>
        <p><i class='fa fa-circle' style='font-size:8px;'></i> Winners of the prelims will go through the finals.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Each band will be given 20 mins to perform on stage including sound check (subjected to changes).<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> The winner and the first runner up will be given prizes. (Not yet decided).</p>
        </div>
        <div class='tab-pane' id='c2' role="tabpanel">
        <h4>Rules and Regulations:</h4>
        <p><i class='fa fa-circle' style='font-size:8px;'></i> Language of songs is not a criterion. The band can be fully instrumental as well. The genre of the band should be any variation of metal. <br>
        <i class='fa fa-circle' style='font-size:8px;'></i> No band can have more than 7 members. Also, no person can play for more than 2 different bands.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> The bands cannot share the same frontman.<br> <i class='fa fa-circle' style='font-size:8px;'></i> IIT Hyderabad reserves the right to shift any band's slot timings at any point of time before the prelims.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> In case of any damage to the provided equipment, the band will be fined for the damage and may be disqualified.<br> <i class='fa fa-circle' style='font-size:8px;'></i> The decision is dependent on the nature of the damage and the judges' discretion. <br>
        <i class='fa fa-circle' style='font-size:8px;'></i> IIT Hyderabad reserves the right to cancel the event in case of some unforeseen circumstances.<br> In case of any dispute the decision of the organizers will be final and binding.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Consumption of Alcohol and Drugs is strictly prohibited on Campus.</p>
        </div>
        <div class='tab-pane' id='d2' role="tabpanel">
        <h4>Contact Person:</h4><p>
        Haveesh Singirikonda<br>
        haveesh@elan.org.in<br>
        7799665254</p>
        <p>
        Yashodhan Reddy<br>
        Yashodhan@elan.org.in<br>
        9553999950</p>
        </div>
      
   
        </div>
      </div>
    </div>
  </div>

  <div id="myNav" class="overlay" style="background:  linear-gradient(40deg,  #00004d 33%,#990000 63%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container"  style="padding-top: 40px;">
    <h2 style='text-align:center ;text-decoration: underline;'>Manthan</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a1" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b1" role="tab"  aria-selected="false">&nbsp;Event Format</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c1" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d1" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
  <li class="nav-item ml-auto" >
    <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/register_manthan';" >&nbsp;Register</a>
  </li>
</ul>


        
        <div class='tab-content'> 
         <div class='tab-pane active' id='a1' role="tabpanel">
         <p>
           Sometimes the perfect blend of music comes with the improvisation of the harmony of classical music with the music of modern times. Manthan is the platform for those artists who tend to think out of the box and try to create new styles of music. Elan & ηvision invites you to come to show us why sometimes ‘Fusion’ can be very beautiful! 

         </p>
         </div>
        <div class='tab-pane' id='b1' role="tabpanel">
        <h4>Event Format</h4> <p>
          <i class='fa fa-circle' style='font-size:8px;'></i> The language of songs is not a criterion. The band can be fully instrumental as well. <br>
            <i class='fa fa-circle' style='font-size:8px;'></i> No band can have more than 7 members. Also, no person can play for more than 2 different bands.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The bands cannot share the same frontman.<br>
           <i class='fa fa-circle' style='font-size:8px;'></i> IIT Hyderabad reserves the right to shift any band's slot timings at any point of time before the prelims.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> In case of any damage to the provided equipment, the band will be fined for the damage and may be disqualified.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The decision is dependent on the nature of the damage and the judges' discretion. <br>
            <i class='fa fa-circle' style='font-size:8px;'></i> IIT Hyderabad reserves the right to cancel the event in case of some unforeseen circumstances.<br>
           <i class='fa fa-circle' style='font-size:8px;'></i>  In case of any dispute, the decision of the organizers will be final and binding.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Consumption of Alcohol and Drugs is strictly prohibited on Campus.<br>

        
        </div>
        <div class='tab-pane' id='c1' role="tabpanel">
        <h4>RULES AND REGULATIONS</h4>
        <p><i class='fa fa-circle' style='font-size:8px;'></i> Any non-professional band is allowed to register. You need not be a college band to participate in this event.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Language is no criterion. We are looking for bands that play fusion music (anything except metal) and in any language.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Registering team should send/upload one demo in the process of registration. The demo need not be a studio recording.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Incorrect information will result in disqualification, whether discovered prior to, during or after the finals and the Candidate shall be liable to the Organizers for such misrepresentation.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Candidates must conduct themselves in a proper manner and portray high moral standards. Candidates will not consume any alcoholic beverages, use illegal drugs or public smoking or use foul language or should not misconduct in any way during the course of the entire event.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> The Judges' decision shall be final and binding for all.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> The decision of the organizers with respect to line-up is final and abiding.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> The Elan 2019 team holds the right to change the rules at any moment of time.</p>
        <h4>JUDGING CRITERIA</h4><p>
        <i class='fa fa-circle' style='font-size:8px;'></i> The winners of the prelims will go through to the finals.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> The winners will be announced by the judges immediately after the event. Judge’s decision is considered final and should be abided by everyone.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> All the finalists will be given the participation certificates.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> The Prize will be distributed only among the top 2 contestants.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> The crowd‘s response is considered important.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Judge’s decision is considered final and should be abided by everyone.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> The following will be looked in the contestants/bands performance:<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Entertainment<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Public involvement<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Energy<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Attitude<br><br>
        The winner and the first runner up will be given prizes. (Not yet decided).

           </div>
        <div class='tab-pane' id='d1' role="tabpanel">
          <h4>Contact Person:</h4>
        <p>Haveesh Singirikonda<br>
        haveesh@elan.org.in<br>
        7799665254</p>
        <p>Yashodhan Reddy<br>
        Yashodhan@elan.org.in<br>
        9553999950</p>
        </div>
        </p>
  </div>
</div>
</div>
</div>


<script type="text/javascript" src="/js/canva.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>

</body>
</html>