<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-105307113-2');
	</script>
	<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width"/>
	<title>Infi | Elan & &eta;vision'19</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
	<meta name="copyright" content="ELAN & ηvision 2019">
	<meta name="author" content="ELAN & ηvision 2019  ">
	<meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
	<meta name="theme-color" content="#283389">
	<meta property="og:site_name" content="ELAN & ηvision 2019">
	<meta property="og:title" content="ELAN & ηvision 2019">
	<meta property="og:type" content="website">
	<!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
	<meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
	
	<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Faster+One|Merienda" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">
	<link rel="stylesheet" href="about.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
	<link rel="stylesheet" href="/styles/canva.css">
  	<link rel="stylesheet" href="/styles/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
	    window.history.replaceState("", "", '/infi');
	 /*   function openNav() {
      document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.height = "0%";
    }
    function openNav1() {
      document.getElementById("myNav1").style.height = "100%";
    }

    function closeNav1() {
      document.getElementById("myNav1").style.height = "0%";
    }
    function openNav2() {
      document.getElementById("myNav2").style.height = "100%";
    }

    function closeNav2() {
      document.getElementById("myNav2").style.height = "0%";
    }
    function openNav3() {
      document.getElementById("myNav3").style.height = "100%";
    }

    function closeNav3() {
      document.getElementById("myNav3").style.height = "0%";
    }
    function openNav4() {
      document.getElementById("myNav4").style.height = "100%";
    }

    function closeNav4() {
      document.getElementById("myNav4").style.height = "0%";
    }
    function openNav5() {
      document.getElementById("myNav5").style.height = "100%";
    }

    function closeNav5() {
      document.getElementById("myNav5").style.height = "0%";
    }
    function openNav5() {
      document.getElementById("myNav5").style.height = "100%";
    }

    function closeNav5() {
      document.getElementById("myNav5").style.height = "0%";
    }
    function openNav5() {
      document.getElementById("myNav5").style.height = "100%";
    }

    function closeNav5() {
      document.getElementById("myNav5").style.height = "0%";
    }*/

	</script>
</head>
<body>
	<canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
	<link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
		<a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
		<div class="overlaynav-content" >
	      <div class="row justify-content-center no-gutters">
	        <div  style="margin-top:9%;" class="col-sm-6 text-center">
	          <a href="/index.html">Home</a>
          	  <a href="/accomodation">Accomodation</a>
	          <a href="/views/sponsors.html">Sponsors</a>
	          <a href="/views/team.html">Contact Us</a>
	        </div>
	        <div style="margin-top:2%;" class="col-sm-6 text-center">
	          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
	          <a href="/views/culti/dance.html">Culti</a>
	          <a href="/views/tech/techy.html">Techy</a>
	          <a href="/views/litr.html">Litr</a>
	          <a href="/views/biggies.html">Biggies</a>
	          <a href="/views/infi.html">Infi</a>
	          <a href="/views/workshops/workshops.html">Workshops</a>
			  <a href="/ca">Campus Ambassador</a>
          <a href="/online">Online Events</a>
	        </div>
	      </div>
	    </div>
	</div>
	<div id="navbar" class="sticky">
		<a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
		<span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
		</span>
	</div>
	<script type="text/javascript">
		if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
		function openrNav() {
			document.getElementById("myNavr").style.width = "100%";
		}
		function closerNav() {
			document.getElementById("myNavr").style.width = "0%";
		}
	</script>
	
	<div class="container" style="margin-top: 10%;">
		<h1 style ="text-align: center; margin-bottom: 30px;font-family: 'Julius Sans One', sans-serif;">INFI EVENTS</h1>

		<h2 style ="text-align: center; margin-bottom: 30px;">Events Schedule</h2>
		<hr>



		<div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

			<div class=" col-sm-6 text-center">
				<div class="img-wrapper">
					<div onclick="openNav()" class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/portfolio_pic15.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Lan Gaming</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>

			</div>

			<div onclick="openNav1()" class="col-sm-6 text-center" data-aos="zoom-in-up">
				<div class="img-wrapper">
					<div class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/portfolio_pic16.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Final Destination</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
			<div onclick="openNav2()" class="col-sm-6 text-center" data-aos="zoom-in-up">
				<div class="img-wrapper">
					<div  class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/food.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Foodathon</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="img-wrapper">
					<div onclick="openNav3()" class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/casino.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Casino</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>

		<div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
			<div onclick="openNav4()" class="col-sm-6 text-center" data-aos="zoom-in-up">
				<div class="img-wrapper">
					<div  class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/portfolio_pic14.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Minute To Win It</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="img-wrapper">
					<div onclick="openNav5()" class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/portfolio_pic17.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Mad Ads</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
			<div onclick="openNav6()" class="col-sm-6 text-center" data-aos="zoom-in-up">
				<div class="img-wrapper">
					<div  class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/portfolio_pic13.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Walk The Ramp</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="img-wrapper">
					<div onclick="openNav7()" class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/social.png"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Social Experiment</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>

		<div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
			<div onclick="openNav9()" class="col-sm-6 text-center" data-aos="zoom-in-up">
				<div class="img-wrapper">
					<div  class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/paperplane.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Paper Plane</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="img-wrapper">
					<div onclick="openNav12()" class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/mrdetective.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Harlem Shake</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>

		<div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
			<div onclick="openNav11()" class="col-sm-6 text-center" data-aos="zoom-in-up">
				<div class="img-wrapper">
					<div  class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/socialnet.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Speed Networking</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="img-wrapper">
					<div onclick="openNav10()" class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/portfolio_pic18.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Coffee Conversation</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>	


		<!--<div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
		<div class="col-sm-6 text-center">
			<div class="img-wrapper">
				<div onclick="openNav8()" class="flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/events/mrdetective.jpg"  alt="Avatar" >
						</div>
						<div class="flip-card-back">
							<h3 style="margin-top:50px;">Wheel-of-Fortune</h3>
							<h4 style="margin-top:0px;">Coming Soon</h4>


						</div>
					</div>
				</div>
			</div>
			</div>-->

		</div>



		<div id="myNav12" class="overlay" style=" background:  linear-gradient(340deg,  #ff8080 33%, #cc33ff 63%);">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav12()">&times;</a>
			<div style="text-align:left;" class="overlay-content">
				<div class="container">
					<h2 style='text-align:center'>Harlem Shake</h2>
					<hr>


					<h4>ABOUT</h4>
					<p>Know about the Harlem Shake ? If not Youtube it! else you will be missing out on something really fun!<br>
						Student Networking Festival brings Harlem Shake challenge to Elan & Nvision 2018 where we see how crazy and creative you can get!<br>
						<h4>CONTACT</h4>
						<p><i class='fa fa-circle' style='font-size:8px;'></i> Tejas <br></p>
					</div>
				</div>
			</div>

			<div id="myNav11" class="overlay" style=" background:  linear-gradient(40deg,  #80d4ff 33%,  #4d4dff 63%);">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav11()">&times;</a>
				<div style="text-align:left;" class="overlay-content">
					<div class="container">
						<h2 style='text-align:center'>Speed Networking</h2>
						<hr>


						<h4>ABOUT</h4>
						<p>Meet and connect with students in a fun way to build a new network.<br>
							You only get 4 minutes with each student to maximize the number of students you meet<br>
							<h4>RULES</h4>
							<p><i class='fa fa-circle' style='font-size:8px;'></i> You'll be given 4 minutes to talk and socialize with the student sitting with you.<br>
								<i class='fa fa-circle' style='font-size:8px;'></i> Make the best use of those 4 minutes with new people and build your network. <br></p>

							</div>
						</div>
					</div>

					<div id="myNav10" class="overlay" style="background: linear-gradient(220deg, #800000  20%, rgba(0,0,0,0) 30%), linear-gradient(220deg, #ffc34d   40%, #660000   60%);">
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav10()">&times;</a>
						<div style="text-align:left;" class="overlay-content">
							<div class="container">
								<h2 style='text-align:center'>Coffee Conversation</h2>
								<hr>


								<h4>ABOUT</h4>
								<p>A hot cuppa to share with a friend may be some people’s idea of heaven.<br>
									They have it made for them in Conversation coffee, where participants<br>
									get to talk with a complete stranger for a stipulated time,<br>
									and have to answer questions about the person  they were teamed up with.<br>
									The team that answers most questions correctly wins, but everyone goes home   having made a new friend. Cheers!</p>
									<h4>RULES</h4>
									<p><i class='fa fa-circle' style='font-size:8px;'></i> Partners will be assigned by random chits.<br>
										<i class='fa fa-circle' style='font-size:8px;'></i> Participants will be given 10 minutes with their partners.<br>
										<i class='fa fa-circle' style='font-size:8px;'></i> The most correct answers will win.</p>
										<h4>Organizers</h4><p>Sakshi-9619268986<br>Vignatha-9121386955<br>Alekya-9121002980</p>

									</div>
								</div>
							</div>

							<div id="myNav9" class="overlay" style=" background:  linear-gradient(340deg,  #226600 33%, #660066 63%);">
								<a href="javascript:void(0)" class="closebtn" onclick="closeNav9()">&times;</a>
								<div style="text-align:left;" class="overlay-content">
									<div class="container">
										<h2 style='text-align:center'>Paper Plane</h2>
										<hr>


										<h4>ABOUT</h4><p>
										Get ready to give life to the piece of paper to fly higher with the help of your creative and engineering skills.<p>
										<h4>RULES</h4>
										<p><i class='fa fa-circle' style='font-size:8px;'></i> Onspot registration.<br>
											<i class='fa fa-circle' style='font-size:8px;'></i> Organiser’s will describe the rules.</p>
											<h4>Organizers</h4><p>Bhavya-9540443692<br>Aayush-7382201104</p>


										</div>
									</div>
								</div>

								<div id="myNav8" class="overlay" style=" background:  linear-gradient(100deg,  #660000 33%, #4d3300 63%);">
									<a href="javascript:void(0)" class="closebtn" onclick="closeNav8()">&times;</a>
									<div style="text-align:left;" class="overlay-content">
										<div class="container">
											<h2 style='text-align:center'>Wheel-Of-Fortune</h2>
											<hr>


											<h4>ABOUT</h4><p>
											Like to quiz? Here’s a chance to put those grey cells to work.<br>
											But don’t forget to get your lucky charms because the stakes are high!<br>
											May the odds always be in your favour…</p>
											<h4>RULES</h4><p>
											<i class='fa fa-circle' style='font-size:8px;'></i> Participation in teams of 2.<br>
											<i class='fa fa-circle' style='font-size:8px;'></i> Organiser’s decision final and binding to all.<br>
											<i class='fa fa-circle' style='font-size:8px;'></i> Online and On-spot registration with limited number of entries.</p>
											<h4>Organizers</h4><p>Karthik-8790713920<br>Raagini-9739390045</p>


										</div>
									</div>
								</div>

								<div id="myNav7" class="overlay" style=" background:  linear-gradient(200deg,  #993366 33%, #006633 63%);">
									<a href="javascript:void(0)" class="closebtn" onclick="closeNav7()">&times;</a>
									<div style="text-align:left;" class="overlay-content">
										<div class="container">
											<h2 style='text-align:center'>Social Experiment</h2>
											<hr>


											<h4>ABOUT</h4> <p>Have you were been PRANKED before ?<br>
											Have you were been asked random general questions ?<br>
											If NO is your answer to these, get ready to experience them soon:P</p>
											<h4>Organizers</h4><p>Sandy-9495783470<br>Stavan-9974017449</p>


										</div>
									</div>
								</div>

								<div id="myNav6" class="overlay" style=" background:  linear-gradient(140deg,  #006666 33%, #663d00 63%);">
									<a href="javascript:void(0)" class="closebtn" onclick="closeNav4()">
										<a href="javascript:void(0)" class="closebtn" onclick="closeNav6()">&times;</a>
										<div style="text-align:left;" class="overlay-content">
											<div class="container">
												<h2 style='text-align:center'>Walk The Ramp</h2>
												<hr>

												<h4>ABOUT</h4>
												<p>You got the confidence to set the ramp on fire?<br>
													Think you have the presence of mind to impress the judges?<br>
													Then walk the plank, i mean, the ramp.<br>
													A ramp walk, followed by a Q&A session with the judges.<br>
													Winners take home the titles of Mr and Ms Elan.</p>
													<h4>RULES</h4><p>
													Online as well as on-spot registration.<br> Judges decision is final.</p>
													<h4>Organizers</h4><p>Parvath-9618556557<br>Charu-9049609529</p>


												</div>
											</div>
										</div>


										<div id="myNav4" class="overlay" style=" background:  linear-gradient(40deg,  #29293d 33%, #003300 63%);">
											<a href="javascript:void(0)" class="closebtn" onclick="closeNav4()">&times;</a>
											<div style="text-align:left;" class="overlay-content">
												<div class="container">
													<h2 style='text-align:center'>Minute To Win It</h2>
													<hr>


													<h4>ABOUT</h4><p>
													Fun and Goodies, what a great combination!
													Isn’t it? <br>ELAN presents you all the traditional games with a little twist.<br>
													Get ready to grab some goodies!</p>  <h4>RULES</h4><p>
													<i class='fa fa-circle' style='font-size:8px;'></i> The events can be performed single or in a group depending on the event.<br>
													<i class='fa fa-circle' style='font-size:8px;'></i> No malpractices.<br>
													<i class='fa fa-circle' style='font-size:8px;'></i> The decision of the organizers is final.</p>
													<h4>Organizers</h4><p>Sanchana-8639410082<br>Anupam 8966819081</p>


												</div>
											</div>
										</div>

										<div id="myNav5" class="overlay" style="background: linear-gradient(220deg, #003366 20%, rgba(0,0,0,0) 30%), linear-gradient(220deg, #3498DB   40%, #004466   60%);">
											<a href="javascript:void(0)" class="closebtn" onclick="closeNav5()">&times;</a>
											<div style="text-align:left;" class="overlay-content">
												<div class="container">
													<h2 style='text-align:center'>Mad Ads</h2>
													<hr>


													<h4>ABOUT</h4><p>
													Mad Ads is all about having fun, it’s about laughing and having a good time.<br>
													Entertain the audience with some hilarious and innovative ads!<br>
													Well you may get something in return, but only if you are hilarious enough!</p>
													<h4>RULES</h4><p>
													<i class='fa fa-circle' style='font-size:8px;'></i> This is a group event-group of 4-5.<br>
													<i class='fa fa-circle' style='font-size:8px;'></i> Every member of the group should participate.<br>
													<i class='fa fa-circle' style='font-size:8px;'></i> The Product will be given by the organizers and in no case it can be exchanged.<br>
													<i class='fa fa-circle' style='font-size:8px;'></i> The group will be given 30 minutes for preparing the AD.<br>
													<i class='fa fa-circle' style='font-size:8px;'></i> The ad should be 3 minutes in length.<br>
													<i class='fa fa-circle' style='font-size:8px;'></i> No vulgarity allowed and sportsmanship to be followed.<br>
													<i class='fa fa-circle' style='font-size:8px;'></i> Organiser’s decision final and binding to all.</p>
													<h4>Organizers</h4><p>Raktim 8255061193</p>


												</div>
											</div>
										</div>

										<div id="myNav3" class="overlay" style=" background:  linear-gradient(240deg,  #1f004d 33%, #660029 83%);">
											<a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
											<div style="text-align:left;" class="overlay-content">
												<div class="container">
													<h2 style='text-align:center'>Casino</h2>
													<hr>


													<h4>ABOUT</h4><p>
													Got the perfect poker face? Think you’re luckier than the rest?<br>
													Put it to the test at the Casino!<br><br>
													For those who have aces up their sleeves, to those who just want to have some fun,the excitement of gambling never dies.<br>
													Whether it’s the spin of the roulette wheel that catches your eye,<br>
													or the shouts of ‘hit’ and ‘stay’ from the blackjack table that draw you in, the<br>
													casino just won’t let you leave. May the odds be ever in your favour!</p>
													<h4>Organizers</h4><p>Dharmagya-857040404<br>Chandrasekhar-9772791814</p>


												</div>
											</div>
										</div>


										<div id="myNav2" class="overlay" style=" background:  linear-gradient(40deg,  #77b300 33%, #003300 63%);">
											<a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
											<div style="text-align:left;" class="overlay-content">
												<div class="container">
													<h2 style='text-align:center'>Foodathon</h2>
													<hr>


													<h4>ABOUT</h4>
													<p>Haters will hate but 'Food is not a word, It’s a religion'.<br>
														ELAN invites all the foodies for a real competition.<br>
														Let’s see who is the biggest foodie. But wait, is it so simple?<br>
														We don’t think so.</p>
														<h4>RULES</h4><p>
														<i class='fa fa-circle' style='font-size:8px;'></i> Individual participation.<br>
														<i class='fa fa-circle' style='font-size:8px;'></i> Onspot registration with limited number of entries.<br>
														<i class='fa fa-circle' style='font-size:8px;'></i> Organiser’s decision final and binding to all.</p>
														<h4>Organizers</h4><p>Joel-9121635775<br>Raniya-9030222710</p>


													</div>
												</div>
											</div>

											<div id="myNav1" class="overlay" style=" background:  linear-gradient(40deg,  #00004d 33%,#990000 63%);">
												<a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
												<div style="text-align:left;" class="overlay-content">
													<div class="container">
														<h2 style='text-align:center'>Final Destiantion</h2>
														<hr>
														<!-- Nav tabs -->




														<h4>ABOUT</h4><p>
														Ever dreamt of finding Blackbeard’s Treasure? 
														If yes then you are just in the right place.<br>
														ELAN brings to you a real treasure, if you can find it!!</p> <h4>RULES</h4><p>
														<i class='fa fa-circle' style='font-size:8px;'></i> Teams should consist of 4 members.<br>
														<i class='fa fa-circle' style='font-size:8px;'></i> The teams should assemble 30 min before the start of the game.<br>
														<i class='fa fa-circle' style='font-size:8px;'></i> There will be different clues to be solved at the different checkpoints.<br>
														<i class='fa fa-circle' style='font-size:8px;'></i> The first team coming at each checkpoint will get the opportunity to perform the task first.<br>
														<i class='fa fa-circle' style='font-size:8px;'></i> Without solving one clue you can't move to the next.<br>
														<i class='fa fa-circle' style='font-size:8px;'></i> The first two teams to complete every task and bag maximum points will be rewarded.<br>
														<i class='fa fa-circle' style='font-size:8px;'></i> Malpractice will lead to disqualification.<br>
														<i class='fa fa-circle' style='font-size:8px;'></i> Organiser’s decision final and binding to all.</p>
														<h4>Organizers</h4><p>Aarushi-9205321270<br>Saurabh-8889466682</p>





													</div>
												</div>
											</div>

											<div id="myNav" class="overlay" style=" background:  linear-gradient(150deg, #1f1f14 63%,  #003300 63%);">
												<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
												<div style="text-align:left;" class="overlay-content">
													<div class="container">
														<h2 style='text-align:center'>Lan Gaming</h2>
														<hr>
														<!-- Nav tabs -->





														<p>'Fire in the hole'.  If you know what I mean,<br>
															Come join us for a fun filled day of gaming.<br>
															Let’s find out, who is the pro!</p> <h4>GAMES</h4><p>
															<i class='fa fa-circle' style='font-size:8px;'></i> DoTA 2<br>
															<i class='fa fa-circle' style='font-size:8px;'></i> CS:GO<br>
															<i class='fa fa-circle' style='font-size:8px;'></i> Call of Duty: Modern Warfare 3</p> <h4>RULES</h4><p>
															<i class='fa fa-circle' style='font-size:8px;'></i> The teams for DoTA 2, CS:GO need to consist of five members each.<br>
															<i class='fa fa-circle' style='font-size:8px;'></i> The games will be held in a tournament style format.<br>
															<i class='fa fa-circle' style='font-size:8px;'></i> In case of malpractice the concerned team will be disqualified.<br>
															<i class='fa fa-circle' style='font-size:8px;'></i> Organiser’s decision final and binding to all</p>
															<h4>Organizers</h4><p>Binaya-9583312374<br>Apoorve-9413207660</p>


													</div>
												</div>
											</div>
	</div>
<script type="text/javascript" src="/js/canva.js"></script>
											<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
											<script>
												AOS.init();
											</script>

											<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
										</body>
										</html>