<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-105307113-2');
	</script>
	<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width"/>
	<title>Litr | Elan & &eta;vision'19</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
	<meta name="copyright" content="ELAN & ηvision 2019">
	<meta name="author" content="ELAN & ηvision 2019  ">
	<meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
	<meta name="theme-color" content="#283389">
	<meta property="og:site_name" content="ELAN & ηvision 2019">
	<meta property="og:title" content="ELAN & ηvision 2019">
	<meta property="og:type" content="website">
	<!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
	<meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
	<link rel="stylesheet" href="/styles/canva.css">
	<link rel="stylesheet" href="/styles/all.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel|Julius+Sans+One"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="text/javascript">
		window.history.replaceState("", "", '/litr');
	</script>
</head>
<body>
	<canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
	<link rel="stylesheet" type="text/css" href="/styles/nav.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
		<a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
		<a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
		<div class="overlaynav-content" >
			<div class="row justify-content-center no-gutters">
				<div  style="margin-top:9%;" class="col-sm-6 text-center">
					<a href="/index.html">Home</a>
          			<a href="/accomodation">Accomodation</a>
					<a href="/views/sponsors.html">Sponsors</a>
					<a href="/views/team.html">Contact Us</a>
				</div>
				<div style="margin-top:2%;" class="col-sm-6 text-center">
					<!-- <a href="#" style="text-decoration: underline;">Events</a> -->
					<a href="/views/culti/dance.html">Culti</a>
					<a href="/views/tech/techy.html">Techy</a>
					<a href="/views/litr.html">Litr</a>
					<a href="/views/biggies.html">Biggies</a>
					<a href="/views/infi.html">Infi</a>
					<a href="/views/workshops/workshops.html">Workshops</a>
					<a href="/ca">Campus Ambassador</a>
					<a href="/online">Online Events</a>
				</div>
			</div>
		</div>
	</div>
	<div id="navbar" class="sticky">
		<a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
		<span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
		</span>
	</div>
	<script type="text/javascript">
		if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
		function openrNav() {
			document.getElementById("myNavr").style.width = "100%";
		}
		function closerNav() {
			document.getElementById("myNavr").style.width = "0%";
		}
		function openNav() {
			document.getElementById("myNav").style.height = "100%";
		}
		function openNav1() {
			document.getElementById("myNav1").style.height = "100%";
		}
		function closeNav() {
			document.getElementById("myNav").style.height = "0%";
		}
		function closeNav1() {
			document.getElementById("myNav1").style.height = "0%";
		}
		
	</script>

	<h1 style ="margin-top: 10%;text-align: center; margin-bottom: 30px;font-family: 'Julius Sans One', sans-serif;">LITR EVENTS</h1>

	<h2 style ="text-align: center; margin-bottom: 30px;">Events Schedule</h2>
	<hr>

	<div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
		<div class="col-sm-6 text-center">
			<div class="img-wrapper litr">
				<div onclick="openNav()" class="flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/events/mrdetective.jpg"  alt="Avatar" >
						</div>
						<div class="flip-card-back">
							<h3 style="margin-top:50px;">Mr.Detective</h3>
							<!-- <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/reg_team/event_bridgeBuilders'">Register</button> -->&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div onclick="openNav1()" class="c col-sm-6 text-center" data-aos="zoom-in-up">
			<div class="img-wrapper litr">
				<div onclick="openrNav3()" class="flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/events/quizzes.jpg"  alt="Avatar" >
						</div>
						<div class="flip-card-back">
							<h3 style="margin-top:50px;">Quiz Conclave</h3>
							<!-- <button type="button" class="btn" style="margin-top:10px;" onclick="">Register</button>&nbsp;&nbsp;&nbsp; -->
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="myNav2" class="overlay" style="background: linear-gradient(120deg, #000 23%, rgba(0, 0, 0, 0) 33%), linear-gradient(120deg, #dd0000 46%, #ffc608 66%);">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
		<div style="text-align:left;" class="overlay-content">
			<div class="container" style="padding-top: 40px;">
				<h2 style='text-align:center'>Cryptex</h2>
				<hr>
				<h4>Coming Soon</h4>
			</div>
		</div>
	</div>

	<div id="myNav1" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.4) 0%, rgba(12, 12, 12, 0.9) 100%), url('/img/events/litr_bg.jpg'); background-size: cover;">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
		<div style="text-align:left;" class="overlay-content">
			<div class="container" style="padding-top: 40px;">
				<h2 style='text-align:center'>Quiz Conclave <!-- <button type="button" class="btn" onclick="" style="margin-top:10px;margin-right:20px;float: right;">Register</button> --></h2>
				
				<hr>
				<p>
					Jack of all trades or master of one? Find out at Quiz Conclave, where you will be pampered and punished with an array of 7 quizzes in 7 different fields to choose from. Through these quizzes, the quizmaster will call forth your inner pop culture guru and might reveal exactly how much GoT you’ve been binge watching. May the odds be ever in your favour!</p>
					<h4>Rules:</h4><p>
					<h4><b>Prizes worth 21k!</b></h4>
					<i class='fa fa-circle' style='font-size:8px;'></i>  No prior registration is required. You may participate alone or in teams of up to three.<br>
					<i class='fa fa-circle' style='font-size:8px;'></i>  This is, obviously, an offline event.<br>
					<i class='fa fa-circle' style='font-size:8px;'></i>  The Quizmaster's decision is always absolute.<br>
					<i class='fa fa-circle' style='font-size:8px;'></i>  ‎Quizzers feel safe with Google, just as ships feel safe in their harbour; but that defeats their purpose. Do not use Google.</p>
					<h4> Quizzes Schedule</h4>
					SATURDAY (23/2/19):<br>
					10:00 AM - General Quiz <br>
					02:00 PM - Pop Culture <br>
					04:00 PM - Sports Quiz <br>

					SUNDAY(24/2/19):. <br>
					10:00 AM - HP Quiz <br>
					02:00 PM - Tollywood Quiz <br>
					02:00 PM - SciTech Quiz <br>
					04:00 PM - Triple Fandom Quiz (GoT, MCU, Sherlock) <br>

					<h4>Organizers:</h4>
					Shreyas: 8446616704<br>
					Manvitha: 9849081683

				</div>
			</div>
		</div>

		<div id="myNav" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.4) 0%, rgba(12, 12, 12, 0.9) 100%), url('/img/events/litr_bg.jpg'); background-size: cover;">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<div style="text-align:left;" class="overlay-content">
				<div class="container" style="padding-top: 40px;">
					<h2 style='text-align:center'> <!-- <button type="button" class="btn" onclick="" style="margin-top:10px;margin-right:20px;float: right;">Register</button> -->Mr Detective</h2>
					<hr>
					<!-- Nav tabs -->
					<p>
						Did you ever wonder about the Method to Sherlock’s madness? Do Whodunnits make adrenalin course through your blood? 
					</p>
					<p>
						This Elan we bring you an opportunity to show off your deductive skills and bring out your 	inner detective. 
					</p>
					<p>
						Excellent logical reasoning, attention to detail and a belief that nothing is inexplicable, only unexplained are all you need. 
					</p>

					<p> 
						This will be an informal event and <b>no prior registration required</b>. <br>
						You may participate alone or in teams of two. 
					</p>


					<h4>Organizers:</h4>
					Stavan: 99740 17449

					
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/canva.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>

	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>