<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105307113-2');
  </script>
  <link rel="shortcut icon" href="/img//img/favicon.png" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"/>
  <title>Online | Elan & &eta;vision'19</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
  <meta name="copyright" content="ELAN & ηvision 2019">
  <meta name="author" content="ELAN & ηvision 2019  ">
  <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
  <meta name="theme-color" content="#283389">
  <meta property="og:site_name" content="ELAN & ηvision 2019">
  <meta property="og:title" content="ELAN & ηvision 2019">
  <meta property="og:type" content="website">
  <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
  <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  <link rel="stylesheet" href="/styles/canva.css">
    <link rel="stylesheet" href="/styles/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=1000; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/accommodation">Accommodation</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
          <a href="/ca">Campus Ambassador</a>
          <a href="/online">Online Events</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
      window.history.replaceState("", "", '/online');
     function openNav1() {
          document.getElementById("myNav1").style.height = "100%";
     }

     function closeNav1() {
          document.getElementById("myNav1").style.height = "0%";
     }
     function openrNav() {
          document.getElementById("myNavr").style.width = "100%";
     }

     function closerNav() {
          document.getElementById("myNavr").style.width = "0%";
     }
  </script>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 4vh;">
    </span>
  </div>
  <h1 style ="margin-top: 10%;text-align: center; margin-bottom: 30px;font-family: 'Julius Sans One', sans-serif;">Online</h1>
  <hr>
  <div class="row justify-content-center no-gutters" data-aos="zoom-in-up">

      <div class=" col-lg-3 col-sm-6 text-center">
        <div class="img-wrapper biggies">
          <div onclick="openNav1()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/online-card.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:30px;margin-bottom: 10px;">Emblazon</h3>
                <h4 style="margin-top:0px;padding-bottom: 15px;">Online Competition</h4>
                <button type="button" class="btn" onclick="window.location.href='/register_emblazon'">Register</button>
                <button type="button" class="btn" onclick="">Details</button>
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:20px;">Emblazon</h3>
      </div>

</div>

  <div id="myNav1" class="overlay" style="background:  url('/img/events/online-bg.jpg'); background-size: cover;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
    <div style="text-align:left;" class="overlay-content">
      <div class="container" style="padding-top: 40px;">
        <h2 style='text-align:center;text-decoration: underline;'>Emblazon</h2>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a12" role="tab"  aria-selected="true">&nbsp;Introduction</a>
          </li>
        
          <li class="nav-item">
            <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c12" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
          </li>
          <li class="nav-item">
            <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d12" role="tab"  aria-selected="false">&nbsp;More Information</a>
          </li>
          <li class="nav-item ml-auto" >
            <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/register_emblazon';" >&nbsp;Register</a>
          </li>
        </ul>
        <div class='tab-content'>
          <div class='tab-pane active' id='a12' role="tabpanel">
            <p>
              <h3> Introduction </h3>
              Dive into a world of colours, capture the colours in your life that you otherwise overlook and
make them tell a story.
              <h3> Event Format:</h3>
                It is an online event. 
                All entries should be posted on Facebook or Instagram
                The entries will be judged on the basis of engagement(likes,comments,shares-80%) and relevance to the theme.(20%)
            </p>
          </div>
        
          <div class='tab-pane' id='c12' role="tabpanel">
            <h4>Rules and Regulations:</h4>
            <p>
              <i class='fa fa-circle' style='font-size:8px;'></i> The theme of the competition is ‘Pop Of Colours’</br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The pictures may have a single or multiple dominant colours<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> An entry will qualify if it is a photograph or artwork that has not been plagiarised, supersaturated, or used any filters for modification<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> All entries have to be posted publicly on Facebook or Instagram<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> All entries have to be mailed to events.online@elan.org.in as well <br>
              <i class='fa fa-circle' style='font-size:8px;'></i> To qualify as an entry it has to be tagged with #emblazon #PopOfColours along with 3 of your friends on either platforms<br>
            </p>
          </div>
          <div class='tab-pane' id='d12' role="tabpanel">
            <h3>More Information</h3>
            
              <!-- Yashodhan - 9553999950<br>
              Sandeep Kumar-6301678510 <br>
              Abhilashini-9398532891</p> -->
              <!-- <h4>contact</h4> -->
               Event Closes on 24th February 2019 - 23:59

              <h4> Prizes: </h4>
              Prizes worth INR 2000 will be awarded to the winner(s)
              The winning photos/artworks will be shared on our and InFocus' Facebook & Instagram handles.

            <!-- <a href="mailto:haveesh@elan.org.in" style="font-size: 15px;"> yashodhan@elan.org.in</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/canva.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script> AOS.init(); </script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>