<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-105307113-2');
	</script>
	<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width"/>
	<title>Sponsors | Elan & &eta;vision'19</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
	<meta name="copyright" content="ELAN & ηvision 2019">
	<meta name="author" content="ELAN & ηvision 2019  ">
	<meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
	<meta name="theme-color" content="#283389">
	<meta property="og:site_name" content="ELAN & ηvision 2019">
	<meta property="og:title" content="ELAN & ηvision 2019">
	<meta property="og:type" content="website">
	<!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
	<meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
	<link rel="stylesheet" href="/styles/canva.css">
  	<link rel="stylesheet" href="/styles/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="text/javascript">
	    window.history.replaceState("", "", '/sponsors');
	</script>
	<style type="text/css">
		@media screen and (max-width: 992px) {
			h1 {
				font-size:8.5vw;
			}
			.card {
				margin: 0 auto; /* Added */
				float: none; /* Added */
				margin-bottom: 20px;
				width:180px;
				height: 100px;
			}
		}
		@media screen and (min-width: 992px) {
			h1 {
				font-size:7vw;
			}
			.card {
				margin: 0 auto; /* Added */
				float: none; /* Added */
				margin-bottom: 20px;
				width:230px; /* Added */
				height: 250px;
			}
		}
		body {
			color: white;
			background-color:black;
			
		}
		a {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 

		}
		a:hover, a:visited, a:link, a:active {
			text-decoration: none;
		}
		.card:hover {

		}
		.text-center::before{
			content:"";
			margin-left:calc(100% - 75%);
		} 
		.card {
			margin: 0 auto; /* Added */
			float: none; /* Added */
			margin-bottom: 20px; /* Added */
		}
		
		.footerimg{
			width: 40px;
			opacity: 0.9;
			border-radius: 50%;
			-webkit-transition: opacity 0.35s;
			transition: opacity 0.35s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
		}
		.footerimg:hover,.nav-link:hover{

			opacity: 1;
			-webkit-box-shadow: 0px 0px 8px 0px rgba(219,237,166,0.5);
			-moz-box-shadow: 0px 0px 8px 0px rgba(219,237,166,0.5);
			box-shadow: 0px 0px 8px 0px rgba(219,237,166,0.5);

			-webkit-transform: scale(1.3);
			-moz-transform: scale(1.3);
			-ms-transform: scale(1.3);
			-o-transform: scale(1.3);
			transform: scale(1.3);
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
		}
	</style>
</head>
<body>
	<canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
	<link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
		<a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
		<div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
		  <a href="/ca">Campus Ambassador</a>
          <a href="/online">Online Events</a>
        </div>
      </div>
    </div>
	</div>
	<div id="navbar" class="sticky">
		<a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
		<span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
		</span>
	</div>
	<script type="text/javascript">
		if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
		function openrNav() {
			document.getElementById("myNavr").style.width = "100%";
		}
		function closerNav() {
			document.getElementById("myNavr").style.width = "0%";
		}
	</script>
	<div class="container" style="margin-top: 10%;">
		<h2 style ="text-align: center; margin-bottom: 30px;">Previous Sponsors</h2>
		<!--<div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
			<div class="col-sm-6 text-center">
				<div class="img-wrapper">
					<div onclick="openNav1()" class="flip-card"> 
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/enigma.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Enigma</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="img-wrapper">
					<div onclick="openNav()" class="flip-card"> 
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/hackamaze.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Hack -A -Maze</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="img-wrapper">
					<div onclick="openNav1()" class="flip-card"> 
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/enigma.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Enigma</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="img-wrapper">
					<div onclick="openNav1()" class="flip-card"> 
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/events/enigma.jpg"  alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h3 style="margin-top:50px;">Enigma</h3>
								<h4 style="margin-top:0px;">Coming Soon</h4>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
		<div  class="row justify-content-center no-gutters">
			<a  target="_blank" href="http://www.upto75.com/">
				<div class="card bg-transparent" style="width:180px;">
					<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/tourism.jpg" alt="Card image" style="width:100%; height:250px;">
					<div class="card-body">
						<h4 style="color:white; text-align:center;font-size: 16px; " class="card-title">Telangana Tourism</h4>
						<p style="text-overflow: clip; text-align:center;color:white; font-size: 17px; " class="a card-text">Associate Partner</p>
					</div>
				</div>
			</a>

		</div>
		<div style="" class="row justify-content-center no-gutters" data-aos="fade-up">
			<div class="col-lg-3 col-sm-6 text-center">
				<a  target="_blank" href="https://smaaash.in/">
					<div class="card bg-transparent" >
						<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/smaaash.jpg" alt="Card image" style="width:100%;  height:100px;">
						<div class="card-body">
							<h4 style="color:white; font-size: 17px; " class="card-title">Smaaash</h4>
							<p style="color:white; font-size: 17px; " class="card-text">Major Sponsor</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6 text-center">
				<a  target="_blank" href="https://zebronics.com/">
					<div class="card bg-transparent" >
						<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/zebronics.jpeg" alt="Card image" style="width:100%; height:100px;">
						<div class="card-body">
							<h4 style="color:white; font-size: 17px; " class="card-title">Zebronics</h4>
							<p style="color:white; font-size: 17px; " class="card-text">Silver Sponsor</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-lg-3 col-sm-6 text-center">
				<a  target="_blank" href="https://www.ibm.com/in-en/">
					<div class="card bg-transparent" >
						<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/ibm.jpg" alt="Card image" style="width:100%; height:100px;">
						<div class="card-body">
							<h4 style="color:white; font-size: 17px; " class="card-title">IBM</h4>
							<p style="color:white; font-size: 17px; " class="card-text">Coding Partner</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6 text-center">
				<a  target="_blank" href="https://www.hackerearth.com/">
					<div class="card bg-transparent" >
						<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/Hackerearth.jpg" alt="Card image" style="width:100%; height:100px;">
						<div class="card-body">
							<h4 style="color:white; font-size: 17px; " class="card-title">Hackerearth</h4>
							<p style="color:white; font-size: 17px; " class="card-text">Hackathon Partner</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div style="" class="row justify-content-center no-gutters" data-aos="fade-up">
			<div class="col-lg-3 col-sm-6 text-center">
				<a  target="_blank" href="www.pfcindia.com/">
					<div class="card bg-transparent " >
						<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/pfc.jpeg" alt="Card image" style="width:100%;  height:100px;">
						<div class="card-body">
							<h4 style="color:white; font-size: 17px; " class="card-title">PFC</h4>
							<p style="color:white; font-size: 17px; " class="card-text">Major Sponsor</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6 text-center">
				<a  target="_blank" href="www.wingfotech.com/">
					<div class="card bg-transparent" >
						<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/wingfotech.jpeg" alt="Card image" style="width:100%; height:100px;">
						<div class="card-body">
							<h4 style="color:white; font-size: 17px; " class="card-title">Wingfotech</h4>
							<p style="color:white; font-size: 17px; " class="card-text">Hackathon Partn</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-lg-3 col-sm-6 text-center"><a  target="_blank" href="www.greenkogroup.com/">
				<div class="card bg-transparent" >
					<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/greenko-Logo.jpg" alt="Card image" style="width:100%; height:100px;">
					<div class="card-body">
						<h4 style="color:white; font-size: 17px; " class="card-title">Greenko	</h4>
						<p style="color:white; font-size: 17px; " class="card-text">Green Partner</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-sm-6 text-center">
			<a  target="_blank" href="www.gailonline.com/">
				<div class="card bg-transparent" >
					<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/gil.jpg" alt="Card image" style="width:100%; height:100px;">
					<div class="card-body">
						<h4 style="color:white; font-size: 17px; " class="card-title">GAIL Limited</h4>
						<p style="color:white; font-size: 17px; " class="card-text">Major Sponsor</p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div  class="row justify-content-center no-gutters" data-aos="fade-up">
		<div class="col-lg-3 col-sm-6 text-center">
			<a  target="_blank" href="https://atkt.in/">
				<div class="card bg-transparent" >
					<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/atkt.jpg" alt="Card image" style="width:100%;  height:100px;">
					<div class="card-body">
						<h4 style="color:white; font-size: 17px; " class="card-title">ATKT.IN</h4>
						<p style="color:white; font-size: 17px; " class="card-text">Content Sponsor</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-sm-6 text-center">
			<a  target="_blank" href="https://chaibisket.com/">
				<div class="card bg-transparent " >
					<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/CB.jpg" alt="Card image" style="width:100%; height:100px;">
					<div class="card-body">
						<h4 style="color:white; font-size: 17px; " class="card-title">chai Bisket</h4>
						<p style="text-overflow: clip; color:white; font-size: 17px; " class="a card-text">Entertainment Sponsor</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-lg-3 col-sm-6 text-center"><a  target="_blank" href="https://www.aceenggacademy.com">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/ace logo.jpeg" alt="Card image" style="width:100%; height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">ACE</h4>
					<p style="color:white; font-size: 17px; " class="card-text">Hackathon Partn</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="https://www.yupptv.in/#!/play/V6-News">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/v6.jpeg" alt="Card image" style="width:100%; height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">V6 News</h4>
					<p style="color:white; font-size: 17px; " class="card-text">Media Partner</p>
				</div>
			</div>
		</a>
	</div>
</div>
<div  class="row justify-content-center no-gutters" data-aos="fade-up">
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="https://www.licindia.in/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/lic logo.jpg" alt="Card image" style="width:100%;  height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">LIC</h4>
					<p style="color:white; font-size: 15px; " class="card-text">Event Sponsor</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="https://www.zoomcar.com/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/ZoomCar-logo.jpg" alt="Card image" style="width:100%; height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">ZoomCar</h4>
					<p style="text-overflow: clip; color:white; font-size: 17px; " class="a card-text">SelfDriven By Partner</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-lg-3 col-sm-6 text-center"><a  target="_blank" href="https://www.xoxoday.com/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/xoxo.jpg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">xoxoday</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Experience Partner</p>
			</div>
		</div>
	</a>
</div>
<div class="col-lg-3 col-sm-6 text-center">
	<a  target="_blank" href="ecell.iith.ac.in/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/entrepreneurship cell logo.jpg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">E-cell IITH</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Hackathon Partner</p>
			</div>
		</div>
	</a>
</div>
</div>
<div  class="row justify-content-center no-gutters" data-aos="fade-up">
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="www.skillthon.com/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/skillthon.png" alt="Card image" style="width:100%;  height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">Skill IT</h4>
					<p style="color:white; font-size: 17px; " class="card-text">Outreach Partner</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="https://get.tech/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/techdomains logo.jpg" alt="Card image" style="width:100%; height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">Tech Domains</h4>
					<p style="text-overflow: clip; color:white; font-size: 17px; " class="a card-text">Hackathon Partner</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-lg-3 col-sm-6 text-center"><a  target="_blank" href="https://www.townscript.com/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/ts.jpg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">Townscript</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Payment Partner</p>
			</div>
		</div>
	</a>
</div>
<div class="col-lg-3 col-sm-6 text-center">
	<a  target="_blank" href="www.knowafest.com/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/knowafest.com logo.jpg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">KnowAFest.com</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Online Media Partner</p>
			</div>
		</div>
	</a>
</div>
</div>
<div  class="row justify-content-center no-gutters" data-aos="fade-up">
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="www.radiomirchi.com/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/Radiomirchi.jpg" alt="Card image" style="width:100%;  height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">RadioMirchi</h4>
					<p style="color:white; font-size: 17px; " class="card-text">Voice Partner</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="whataftercollege.com/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/wac.jpg" alt="Card image" style="width:100%; height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">WAC</h4>
					<p style="text-overflow: clip; color:white; font-size: 17px; " class="a card-text">Major Sponsor</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-lg-3 col-sm-6 text-center"><a  target="_blank" href="https://www.tvsmotor.com/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/Tvs.jpeg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">TVS</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Stunt Show Partner</p>
			</div>
		</div>
	</a>
</div>
<div class="col-lg-3 col-sm-6 text-center">
	<a  target="_blank" href="https://www.azureskynet.com/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/azure skynet.jpg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">Azure Skynet</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Outreach Partner</p>
			</div>
		</div>
	</a>
</div>
</div>
<div  class="row justify-content-center no-gutters" data-aos="fade-up">
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="http://www.upto75.com/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/banyan1.png" alt="Card image" style="width:100%;  height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">Banyan</h4>
					<p style="color:white; font-size: 17px; " class="card-text">Voice Partner</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="https://www.britishcouncil.in/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/british council.jpg" alt="Card image" style="width:100%; height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">British Council</h4>
					<p style="text-overflow: clip; color:white; font-size: 17px; " class="a card-text">Cultural Partner</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-lg-3 col-sm-6 text-center"><a  target="_blank" href="campusutra.com/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/campusutra.jpg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">Campusutra</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Education Partner</p>
			</div>
		</div>
	</a>
</div>
<div class="col-lg-3 col-sm-6 text-center">
	<a  target="_blank" href="https://telanganatoday.com/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/telanganatoday.jpg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">Telangana Today</h4>
				<p style="color:white; font-size: 17px; " class="card-text">MediaCoverage Partner</p>
			</div>
		</div>
	</a>
</div>
</div>
<div  class="row justify-content-center no-gutters" data-aos="fade-up">
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="www.fsm.ac.in/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/fore.jpg" alt="Card image" style="width:100%;  height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">FORE</h4>
					<p style="color:white; font-size: 17px; " class="card-text">Knowledge Partner</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="https://www.paisawapas.com/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/pw.jpg" alt="Card image" style="width:100%; height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">PaisaWapas.com</h4>
					<p style="text-overflow: clip; color:white; font-size: 17px; " class="a card-text">Cashback Partner</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-lg-3 col-sm-6 text-center"><a  target="_blank" href="https://www.ktm.com/en/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/ktm.jpg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">KTM</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Stunt Show Partner</p>
			</div>
		</div>
	</a>
</div>
<div class="col-lg-3 col-sm-6 text-center">
	<a  target="_blank" href="http://www.upto75.com/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/up275.jpg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">UPto75.com</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Gifting Partner</p>
			</div>
		</div>
	</a>
</div>
</div>
<div  class="row justify-content-center no-gutters" data-aos="fade-up">
	<div class="col-lg-3 col-sm-6 text-center">
		
		<a  target="_blank" href="https://in.linkedin.com/company/techtron-technologies	">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/techtron technologies.jpg" alt="Card image" style="width:100%;  height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; padding-bottom: 0; margin-bottom:0;" class="card-title">Techtron</h4>
					<h4 style="margin-top:0; padding-top:0;color:white; font-size: 17px; " class="card-title">Technologies</h4>
					<p style="color:white; font-size: 17px; " class="card-text">Workshop Partner</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="https://www.facebook.com/BabuNuvuBtechah/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/bnba.jpg" alt="Card image" style="width:100%; height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; padding-bottom: 0; margin-bottom:0;" class="card-title">Babu Nuvvu</h4>
					<h4 style="margin-top:0; padding-top:0;color:white; font-size: 17px; " class="card-title">BtechAh?</h4>
					<p style="text-overflow: clip; color:white; font-size: 17px; " class="a card-text">Online Media Partner</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-lg-3 col-sm-6 text-center"><a  target="_blank" href="https://in.linkedin.com/company/entrench-electronics">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/entrench.jpg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; padding-bottom: 0; margin-bottom:0;" class="card-title">Entrench</h4>
				<h4 style="margin-top:0; padding-top:0;color:white; font-size: 17px; " class="card-title">Electronics</h4>				<p style="color:white; font-size: 17px; " class="card-text">Outreach Partner</p>
			</div>
		</div>
	</a>
</div>
<div class="col-lg-3 col-sm-6 text-center">
	<a  target="_blank" href="https://in.mathworks.com/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/Mathworks.jpeg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">MathWorks</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Online Contest Pa</p>
			</div>
		</div>
	</a>
</div>
</div>
<div  class="row justify-content-center no-gutters" data-aos="fade-up">
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="https://enterprise.xoxoday.com/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/giftxoxo.jpg" alt="Card image" style="width:100%;  height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">giftxoxo</h4>
					<p style="color:white; font-size: 17px; " class="card-text">Experience Partner</p>
				</div>
			</div>
		</a>
	</div>
	<!--
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="http://www.upto75.com/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/british council.jpg" alt="Card image" style="width:100%; height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">retooo</h4>
					<p style="text-overflow: clip; color:white; font-size: 17px; " class="a card-text">Cultural Partner</p>
				</div>
			</div>
		</a>
	</div>

	<div class="col-lg-3 col-sm-6 text-center"><a  target="_blank" href="http://www.upto75.com/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/entrench.jpg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">Grapevine</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Youth Partner</p>
			</div>
		</div>
	</a>
</div>
<div class="col-lg-3 col-sm-6 text-center">
	<a  target="_blank" href="http://www.upto75.com/">
		<div class="card bg-transparent" >
			<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/Mathworks.jpeg" alt="Card image" style="width:100%; height:100px;">
			<div class="card-body">
				<h4 style="color:white; font-size: 17px; " class="card-title">I Stay</h4>
				<p style="color:white; font-size: 17px; " class="card-text">Travel Partner</p>
			</div>
		</div>
	</a>
</div>
</div>
<div  class="row justify-content-center no-gutters" data-aos="fade-up">
	
	<div class="col-lg-3 col-sm-6 text-center">
		<a  target="_blank" href="http://www.upto75.com/">
			<div class="card bg-transparent" >
				<img class="img-thumbnail img-fluid card-img-top" src="/img/sponsers/entrench.jpg" alt="Card image" style="width:100%; height:100px;">
				<div class="card-body">
					<h4 style="color:white; font-size: 17px; " class="card-title">LRC Fitness Gym</h4>
					<p style="color:white; font-size: 17px; " class="card-text">Fitness Partner</p>
				</div>
			</div>
		</a>
		
	</div>

</div> -->
</div>
</div>


<script type="text/javascript" src="/js/canva.js"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
	AOS.init();
</script>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</html>