<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-105307113-2');
	</script>
	<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width"/>
	<title>Team | Elan & &eta;vision'19</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
	<meta name="copyright" content="ELAN & ηvision 2019">
	<meta name="author" content="ELAN & ηvision 2019  ">
	<meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
	<meta name="theme-color" content="#283389">
	<meta property="og:site_name" content="ELAN & ηvision 2019">
	<meta property="og:title" content="ELAN & ηvision 2019">
	<meta property="og:type" content="website">
	<!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
	<meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
	<link href="https://fonts.googleapis.com/css?family=Abel|Julius+Sans+One" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="/styles/canva.css">
	<link rel="stylesheet" href="/styles/all.css">

	<script type="text/javascript">
		window.history.replaceState("", "", '/us');
	</script>
	<style type="text/css">
		@media screen and (max-width: 992px) {
			h1 {
				font-size:8.5vw;
			}
			.card {
				margin: 0 auto; /* Added */
				float: none; /* Added */
				margin-bottom: 20px;
				width:180px;
			}
		}
		@media screen and (min-width: 992px) {
			h1 {
				text-align: center;
				font-size:7vw;
			}
			.card {
				margin: 0 auto; /* Added */
				float: none; /* Added */
				margin-bottom: 20px;
				width:160px; /* Added */
			}
		}
		body {
			color: white;
			background-color: black;
			object-fit: fill;
			overflow-x: hidden;

			
			font-family: 'Abel', sans-serif;
		}
		a {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 

		}
		a:hover, a:visited, a:link, a:active {
			text-decoration: none;
		}
		p {
			font-size: 19px;
		}
		i {
			color: white;
		}
		.flip-card:hover {

		}
		.text-center::before{
			content:"";
			margin-left:calc(100% - 75%);
		} 
		
		.flip-card {
			background-color: transparent;
			width: 250px;
			height: 190px;
			perspective: 1000px;
			margin: 0 auto; /* Added */
			float: none; /* Added */
			margin-bottom: 20px; /* Added */
		}
		.img-wrapper
		{
			width:270px;
			height:210px;
			padding-top: 9px;
			position: relative;
			margin-left:50%;
			left:-125px;
			border:solid 2px green;
			border-radius:10px;
		}

		.flip-card-inner {
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: transform 0.6s;
			transform-style: preserve-3d;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		}

		.flip-card:hover .flip-card-inner {
			transform: rotateY(180deg);
		}

		.flip-card-front, .flip-card-back {
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
			border-radius: 6px;
		}

		.flip-card-front {
			background-color: #bbb;
			color: black;
			z-index: 2;
		}

		.flip-card-back {
			background: linear-gradient(  rgb(73, 50, 64),rgb(255, 0, 153));
			color: white;
			transform: rotateY(180deg);
			z-index: 3;
		}
		h2 {
			text-align: center;
			margin-bottom: 30px;
			font-size:30px;
			
		}
		h3 {
			padding-top: 5px;
		}
		img {
			border-radius: 6px;
		}
		/*.grow { transition: all .2s ease-in-out; }
		.grow:hover { transform: scale(1.4); }*/
		.footerimg{
			width:35px;
			height: 35px;
			opacity: 0.9;
			border-radius: 50%;
			-webkit-transition: opacity 0.35s;
			transition: opacity 0.35s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
		}
		.footerimg:hover,.nav-link:hover{

			opacity: 1;
			-webkit-box-shadow: 0px 0px 8px 0px rgba(219,237,166,0.5);
			-moz-box-shadow: 0px 0px 8px 0px rgba(219,237,166,0.5);
			box-shadow: 0px 0px 8px 0px rgba(219,237,166,0.5);

			-webkit-transform: scale(1.3);
			-moz-transform: scale(1.3);
			-ms-transform: scale(1.3);
			-o-transform: scale(1.3);
			transform: scale(1.3);
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
		}
		
		img {
			width:250px;
			height:190px;

		}
		* { margin:0; padding:0; }

		html, body { width:100vw; height:100vh; } /* just to be sure these are full screen*/

		canvas { 
			overflow: hidden;
			width:100vw;
			height:100vh;
			background-color:black;
		}

		.overlaynav {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			right: 0;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0, 0.9);
			overflow-x: hidden;
			transition: 0.5s;
		}

		.overlaynav-content {
			position: relative;
			top:10%;
			width: 100%;
			text-align: center;
			margin-top: 30px;
		}

		.overlaynav a {
			padding: 8px;
			text-decoration: none;
			font-size: 36px;
			color: #818181;
			display: block;
			transition: 0.3s;
		}

		.overlaynav a:hover, .overlaynav a:focus {
			color: #f1f1f1;
		}

		.overlaynav .closebtnnav {
			position: absolute;
			top: 20px;
			right: 45px;
			font-size: 60px;
		}
		.overlaynav .register {

			position: absolute;
			top: 50px;
			left: 45px;
		}

		@media screen and (max-height: 450px) {
			.overlaynav a {font-size: 20px}
			.overlaynav .closebtnnav {
				font-size: 40px;
				top: 15px;
				right: 25px;
			}
			.overlaynav .register {

				
				top: 20px;
				left: 25px;
			}
		}

		p {
			
			letter-spacing: 1px;
		}
		h2          {
			text-decoration: underline;
		}

		hr {
			margin-top: 1rem;
			margin-bottom: 1rem;
			border: 0;
			border-top: 1px solid #A9A9A9;
		}
	</style>
</head>
<body>
	<div>
		<canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
		<link rel="stylesheet" type="text/css" href="/styles/nav.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
			<a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
			<a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
			<div class="overlaynav-content" >
				<div class="row justify-content-center no-gutters">
					<div  style="margin-top:9%;" class="col-sm-6 text-center">
						<a href="/index.html">Home</a>
						<a href="/views/sponsors.html">Sponsors</a>
						<a href="/views/team.html">Contact Us</a>
					</div>
					<div style="margin-top:2%;" class="col-sm-6 text-center">
						<!-- <a href="#" style="text-decoration: underline;">Events</a> -->
						<a href="/views/culti/dance.html">Culti</a>
						<a href="/views/tech/techy.html">Techy</a>
						<a href="/views/litr.html">Litr</a>
						<a href="/views/biggies.html">Biggies</a>
						<a href="/views/infi.html">Infi</a>
						<a href="/views/workshops/workshops.html">Workshops</a>
						<a href="/ca">Campus Ambassador</a>
					</div>
				</div>
			</div>
		</div>
		<div id="navbar" class="sticky">
			<a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
			<span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
			</span>
		</div>
		<script type="text/javascript">
			if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
			function openrNav() {
				document.getElementById("myNavr").style.width = "100%";
			}
			function closerNav() {
				document.getElementById("myNavr").style.width = "0%";
			}
		</script>
		<div class="container">
			<h1 style="font-family: 'Julius Sans One', sans-serif; text-align: center;">TEAM</h1>
			<div class="img-wrapper team" style="margin-bottom: 20px;">
				<div class="grow flip-card" >	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/team/oc.jpeg" alt="Avatar" style="">
						</div>
						<div class="flip-card-back">
							<h5 style="padding:10px;">Shashank Varanasi</h5>
							<p style="font-size: 15px;">Overall Coordinator</br>8179303345</br>shashank.v@elan.org.in</p>

							<a target="_blank" href="https://www.facebook.com/sasi8998vv?ref=br_rs"><i class="fab fa-facebook-f"></i></a>
							
						</div>
					</div>
				</div>
			</div>
			
			<div class="img-wrapper team">
				<div class="grow flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/team/hc.jpeg" alt="Avatar" style="">
						</div>
						<div class="flip-card-back">
							<h5 style="padding:10px;">Harshitha Chitla</h5>
							<p style="font-size: 15px;">Hospitality,Campus Publicity Core</br>7093841101</br>harshita@elan.org.in</p>

							<a target="_blank" href="https://www.facebook.com/harshitha.chitla"><i class="fab fa-facebook-f"></i></a>
							
						</div>
					</div>
				</div>
			</div>
			
			<h2>Hospitality</h2>
			<div class="row justify-content-center no-gutters">
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/_DSC0174.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">Tanmay Renugunta</h5>
									<p>Hospitality Coordinator</br>9182850880</br>tanmay.r@elan.org.in</p>

									<a target="_blank" href="https://facebook.com/tanmayre"><i class="fab fa-facebook-f"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/swetha.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">Swetha Gummala</h5>
									<p>Hospitality Coordinator</br>9618110220</br>Swetha.g@elan</p>

									<a target="_blank" href="https://www.facebook.com/swetha.gummala"><i class="fab fa-facebook-f"></i></a>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center no-gutters">
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/manthan.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">

									<h5 style="padding:10px;">Manthan Chavan</h5>
									<p>Hospitality Coordinator</br>9657595883</br>manthan.c@elan.org.in</p>
									<a target="_blank" href="https://www.facebook.com/manthan.chavan.7583"><i class="fab fa-facebook-f"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/charu.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									
									<h5 style="padding:10px;">Charu Meghana</h5>
									<p>Hospitality Coordinator</br>9049609529</br>charu.m@elan.org.in</p>
									<a target="_blank" href="https://www.facebook.com/profile.php?id=100004364627790"><i class="fab fa-facebook-f"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h2>Campus Publicity</h2>
			<div class="row justify-content-center no-gutters">
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/DSC_0083.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">Lahari Oruganti</h5>
									<p>Campus Publicity Coordinator</br>8074105619</br>lahari@elan.org.in</p>
									<a target="_blank" href="https://www.facebook.com/lahari.oruganti"><i class="fab fa-facebook-f"></i></a>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/praneeth.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">Praneeth Pala</h5>
									<p>Campus Publicity Coordinator</br>7989180654</br>praneeth@elan.org.in</p>
									<a target="_blank" href="https://www.facebook.com/praneeth.pala.5"><i class="fab fa-facebook-f"></i></a>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="border-bottom-color: 20px white;">
				<div class="img-wrapper team" style="margin-bottom: 20px;" >

					<div class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/team/chandu.jpeg" alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h5 style="padding:10px;">Penumarthi Chandu</h5>
								<p>Campus Publicity Coordinator</br>9182960003</br>chandu.p@elan.org.in</p>
								<a target="_blank" href="https://www.facebook.com/ChanduChowdary66"><i class="fab fa-facebook-f"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="img-wrapper team hr" >
				<div class="grow flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/team/DSC_0091.jpeg" alt="Avatar" >
						</div>
						<div class="flip-card-back">
							<h5 style="padding:10px;">Vidhan Jain</h5>
							<p style="font-size: 15px;">Creatives,Multimedia Core</br>7997256858</br>vidhan@elan.org.in</p>
							<a target="_blank" href="https://www.facebook.com/praneeth.pala.5"><i class="fab fa-facebook-f"></i></a>

						</div>
					</div>
				</div>
			</div>


			<h2>Creatives</h2>
			<div class="row justify-content-center no-gutters">
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/_DSC0170.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">S.Venu Priya</h5>
									<p>Creatives Coordinator</br>9490357722</br>venu.priya@elan.org.in</p>
									<a target="_blank" href="https://www.facebook.com/venupriya.syamala.5"><i class="fab fa-facebook-f"></i></a>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/anupam.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">Anupam Saini</h5>
									<p>Creatives Coordinator</br>7974854482</br>anupam.s@elan.org.in</p>
									<a target="_blank" href="https://www.facebook.com/anupam1998"><i class="fab fa-facebook-f"></i></a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center no-gutters">
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/sachin.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">Sachin Goud</h5>
									<p>Creatives Coordinator</br>8985406568</br>sachin.g@elan.org.in</p>
									<a target="_blank" href="https://www.facebook.com/sachingodishela"><i class="fab fa-facebook-f"></i></a>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/parul.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">Parul Barsiwal</h5>
									<p>Creatives Coordinator</br>7015672510</br>parul@elan.org.in</p>
									<a target="_blank" href="https://www.facebook.com/profile.php?id=100020549596468"><i class="fab fa-facebook-f"></i></a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center no-gutters">
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/riddhi.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">Riddhi Sahare</h5>
									<p>Creatives Coordinator</br>7038103371</br>riddhi.s@elan.org.in</p>
									<a target="_blank" href="https://www.facebook.com/riddhi.sahare.5"><i class="fab fa-facebook-f"></i></a>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/chander.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">Chander Shekhar</h5>
									<p>Creatives Coordinator</br>9772791814</br>chander.s@elan.org.in</p>
									<a target="_blank" href="https://www.facebook.com/chinu.khurana.908"><i class="fab fa-facebook-f"></i></a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h2>Multimedia</h2>
			<div class="row justify-content-center no-gutters">

				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/srujana.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">Srujana B</h5>
									<p>Multimedia Coordinator</br>9515594498</br>vidhan@elan.org.in</p>
									<a target="_blank" href="https://www.facebook.com/srujana.batchu"><i class="fab fa-facebook-f"></i></a>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<div class="img-wrapper team">
						<div class="flip-card">	
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="/img/team/divansh.jpeg" alt="Avatar" >
								</div>
								<div class="flip-card-back">
									<h5 style="padding:10px;">Divansh S</h5>
									<p>Multimedia Coordinator</br>8562803251</br>divansh.s@elan.org.in</p>
									<a target="_blank" href="https://m.facebook.com/divansh.singla.9"><i class="fab fa-facebook-f"></i></a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="img-wrapper team">
				<div class="grow flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/team/DSC_0089.jpeg" alt="Avatar" >
						</div>
						<div class="flip-card-back">
							<h5 style="padding:10px;">Lakshmi Mangu</h5>
							<p style="font-size: 15px;">Marketing Core</br>9494663939</br>lakshmi@elan.org.in</p>
							<a target="_blank" href="https://www.facebook.com/profile.php?id=100012302258695"><i class="fab fa-facebook-f"></i></a>

						</div>
					</div>
				</div>
			</div>
		</div>
		<h2>Marketing</h2>
		<div class="row justify-content-center no-gutters">
			<div class="col-sm-6 text-center">
				<div class="img-wrapper team">

					<div class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/team/raktim.jpeg" alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h5 style="padding:10px;">Raktim G.Goswami</h5>
								<p>Marketing Coordinator</br>7002518607</br>raktim@elan.org.in </p>
								<a target="_blank" href="https://www.facebook.com/raktim.goswami1"><i class="fab fa-facebook-f"></i></a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="img-wrapper team">
					<div class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/team/sakshi.jpeg" alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h5 style="padding:10px;">Sakshi Naik</h5>
								<p>Marketing Coordinator</br>9619268986</br>sakshi.n@elan.org.in</p>
								<a target="_blank" href="https://m.facebook.com/sakshi21299"><i class="fab fa-facebook-f"></i></a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center no-gutters">
			<div class="col-sm-6 text-center">
				<div class="img-wrapper team">
					<div class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/team/ajain.jpeg" alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h5 style="padding:10px;">Abhishek Jain</h5>
								<p>Marketing Coordinator</br>9950978987</br>abhishek.j@elan.org.in</p>
								<a target="_blank" href="https://www.facebook.com/pages/Marketing-Coordinator/1408560576113834?eid=ARAIoJ6nJux_J0YWk4rQW03oKEA8ENzD2UH0b504FMmyMmqEWzRqd_tnbecXU55rwqO2En0MI2w33agw"><i class="fab fa-facebook-f"></i></a>

							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col-sm-6 text-center">
				<div class="img-wrapper team">
					<div class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/team/aditya.jpeg" alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h5 style="padding:10px;">Aditya Agrawal</h5>
								<p>Marketing Coordinator</br>9977768935</br>aditya.a@elan.org.in</p>
								<a target="_blank" href="https://www.facebook.com/adityaagr99"><i class="fab fa-facebook-f"></i></a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center no-gutters">
			<div class="col-sm-6 text-center">
				<div class="img-wrapper team">
					<div class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/team/pragathi.jpeg" alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h5 style="padding:10px;">Pragati Modi</h5>
								<p>Marketing Coordinator</br>9980943880</br>pragati@elan.org.in</p>
								<a target="_blank" href="https://www.facebook.com/profile.php?id=100009454141066"><i class="fab fa-facebook-f"></i></a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="img-wrapper team">
					<div class="flip-card">	
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<img src="/img/team/varshi.jpeg" alt="Avatar" >
							</div>
							<div class="flip-card-back">
								<h5 style="padding:10px;">Hema Varshitha</h5>
								<p>Marketing Coordinator</br>8096355327</br>hema.v@elan.org.in</p>
								<a target="_blank" href="https://www.facebook.com/varshita3.chowdary"><i class="fab fa-facebook-f"></i></a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="img-wrapper team">
			<div class="grow flip-card">	
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/team/shivarag.jpeg" alt="Avatar" >
					</div>
					<div class="flip-card-back">
						<h5 style="padding:10px;">Shivarag Reddy</h5>
						<p style="font-size: 15px;">Techy,Workshops Core</br>8885011011</br>shivarag@elan.org.in</p>
						<a target="_blank" href="https://www.facebook.com/profile.php?id=100009805123045"><i class="fab fa-facebook-f"></i></a>

					</div>
				</div>
			</div>
		</div>
	</div>
	<h2>Techy</h2>
	<div class="row justify-content-center no-gutters">
		<div class="col-sm-6 text-center">
			<div class="img-wrapper team">
				<div class="flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/team/DSC_0046.jpeg" alt="Avatar" >
						</div>
						<div class="flip-card-back">
							<h5 style="padding:10px;">Venkateshwar Reddy</h5>
							<p>Techy Coordinator</br>9494219983</br>venkat.k@elan.org.in</p>
							<a target="_blank" href="https://www.facebook.com/venkat.kanala.98"><i class="fab fa-facebook-f"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="img-wrapper team">
				<div class="flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/team/srihas.jpeg" alt="Avatar" >
						</div>
						<div class="flip-card-back">
							<h5 style="padding:10px;">Srihas</h5>
							<p>Techy Coordinator</br>7981731220</br>srihas.g@elan.org.in</p>
							<a target="_blank" href="https://www.facebook.com/srihas.sri"><i class="fab fa-facebook-f"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2>Workshops</h2>
	<div class="img-wrapper team" style="margin-bottom: 20px;">
		<div class="flip-card">	
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="/img/team/adarsh.jpeg" alt="Avatar" >
				</div>
				<div class="flip-card-back">
					<h5 style="padding:10px;">Adarsh Bandi</h5>
					<p>Workshops Coordinator</br>9640724328</br>adarsh.b@elan.org.in</p>
					<a target="_blank" href="https://www.facebook.com/adarshbandi8"><i class="fab fa-facebook-f"></i></a>
				</div>
			</div>
		</div>
	</div>
	<hr>

	<div class="img-wrapper team">
		<div class="grow flip-card">	
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="/img/team/bharadwaj.jpeg" alt="Avatar" >
				</div>
				<div class="flip-card-back">
					<h5 style="padding:10px;">Siripuram Sai Bharadwaj</h5>
					<p style="font-size: 15px;">Culti,Litr,SocialCause & EMLs Core</br>7995270890</br>bharadwaj@elan.org.in</p>
					<a target="_blank" href="https://www.facebook.com/siripuram.bharadwaj"><i class="fab fa-facebook-f"></i></a>

				</div>
			</div>
		</div>
	</div>
	<h2>Cultural & Biggies</h2>
	<div class="row justify-content-center no-gutters">
		<div class="col-sm-6 text-center">
			<div class="img-wrapper team">
				<div class="flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/team/haveesh.jpeg" alt="Avatar" >
						</div>
						<div class="flip-card-back">
							<h5 style="padding:10px;">Haveesh.S</h5>
							<p>Cultural&Biggies Coordinator</br>7799665254</br>haveesh@elan.org.in </p>
							<a target="_blank" href="https://www.facebook.com/sai.haveesh.1"><i class="fab fa-facebook-f"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="img-wrapper team">
				<div class="flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/team/DSC_0005.jpeg" alt="Avatar" >
						</div>
						<div class="flip-card-back">
							<h5 style="padding:10px;"> Yashodhan Reddy</h5>
							<p>Cultural&Biggies Coordinator</br>9553999950</br>yashodhan@elan.org.in</p>
							<a target="_blank" href="https://www.facebook.com/n.yashodhanreddy"><i class="fab fa-facebook-f"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center no-gutters">

		<div class="col-sm-6 text-center">
			<h2>Litr</h2>
			<div class="img-wrapper team">
				<div class="flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/team/nikhilp.jpeg" alt="Avatar" >
						</div>
						<div class="flip-card-back">
							<h5 style="padding:10px;">Nikhil Pallamreddy</h5>
							<p>Litr Coordinator</br>9912229839</br>nikhil.p@elan.org.in</p>
							<a target="_blank" href="https://facebook.com/nikhil.pallam"><i class="fab fa-facebook-f"></i></a>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<h2>Social Cause</h2>
			<div class="img-wrapper team">
				<div class="flip-card">	
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<img src="/img/team/DSC_0026.jpeg" alt="Avatar" >
						</div>
						<div class="flip-card-back">
							<h5 style="padding:10px;">Sam Chalyanth P</h5>
							<p>SocialCause Coordinator</br>9705684020</br>sam@elan.org.in</p>
							<a target="_blank" href="https://www.facebook.com/sam.thope.19113"><i class="fab fa-facebook-f"></i></a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="img-wrapper team">
		<div class="grow flip-card">	
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="/img/team/DSC_0075.jpeg" alt="Avatar" >
				</div>
				<div class="flip-card-back">
					<h5 style="padding:10px;">Sahil Khobragade</h5>
					<p style="font-size: 15px;">Infra,Finance Core</br>9588450851</br>sahil@elan.org.in</p>
					<a target="_blank" href="https://www.facebook.com/bigbarcafan"><i class="fab fa-facebook-f"></i></a>

				</div>
			</div>
		</div>
	</div>
</div>
<h2>Infra</h2>
<div class="row justify-content-center no-gutters">
	<div class="col-sm-6 text-center">
		<div class="img-wrapper team">
			<div class="flip-card">	
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/team/DSC_0051.jpeg" alt="Avatar" >
					</div>
					<div class="flip-card-back">
						<h5 style="padding:10px;">Nikhil Choudhary</h5>
						<p>Infra Coordinator</br>9460407590</br>nikhil.p@elan.org.in</p>
						<a target="_blank" href="https://www.facebook.com/profile.php?id=100013101253904"><i class="fab fa-facebook-f"></i></a>
						

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 text-center">
		<div class="img-wrapper team">
			<div class="flip-card">	
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/team/satryam.jpeg" alt="Avatar" >
					</div>
					<div class="flip-card-back">
						<h5 style="padding:10px;">Satyam Shukla</h5>
						<p>Infra Coordinator</br>9669369779</br>sahil@elan.org.in</p>
						<a target="_blank" href="https://www.facebook.com/satyam.shukla.39904181"><i class="fab fa-facebook-f"></i></a>
						

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<h2>Finance</h2>

<div class="img-wrapper team" style="margin-bottom: 20px;">
	<div class="flip-card">	
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="/img/team/revanth.jpeg" alt="Avatar" >
			</div>
			<div class="flip-card-back">
				<h5 style="padding:10px;">K.Revanth Naik</h5>
				<p>Finance Coordinator</br>9701209025</br>revanth.n@elan.org.in</p>
				<a target="_blank" href="https://www.facebook.com/revanth.naik.6698"><i class="fab fa-facebook-f"></i></a>

			</div>
		</div>
	</div>
</div>
<hr>
<div class="img-wrapper team">
	<div class="grow flip-card">	
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="/img/team/DSC_0080.jpeg" alt="Avatar" >
			</div>
			<div class="flip-card-back">
				<h5 style="padding:10px;">Neeraj Tak</h5>
				<p style="font-size: 15px;">Security,Pronites Core</br>8107209314</br>neeraj@elan.org.in</p>
				<a target="_blank" href="https://www.facebook.com/neeraj.tak.129"><i class="fab fa-facebook-f"></i></a>

			</div>
		</div>
	</div>
</div>

<div class="row justify-content-center no-gutters">
	<div class="col-sm-6 text-center">
		<h2>Pronites</h2>
		<div class="img-wrapper team">
			<div class="flip-card">	
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/team/jayant.jpeg" alt="Avatar" >
					</div>
					<div class="flip-card-back">
						<h5 style="padding:10px;">Jayant Krishnan</h5>
						<p>Pronites Coordinator</br>9158047416</br>jayanth.k@elan.org</p>
						<a target="_blank" href="https://www.facebook.com/jayanth.krishnan.5"><i class="fab fa-facebook-f"></i></a>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 text-center">
		
		<h2>Production</h2>
		<div class="img-wrapper team">
			<div class="flip-card">	
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/team/DSC_0070.jpeg" alt="Avatar" >
					</div>
					<div class="flip-card-back">
						<h5 style="padding:10px;">Md Bilal</h5>
						<p>Production Coordinator</br>8125908531</br>neeraj@elan.org.in</p>
						<a target="_blank" href="https://www.facebook.com/md.bilal.cr.7"><i class="fab fa-facebook-f"></i></a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<h2>Security</h2>
<div class="img-wrapper team" style="margin-bottom: 20px;">
	<div class="flip-card">	
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="/img/team/DSC_0013.jpeg" alt="Avatar" >
			</div>
			<div class="flip-card-back">
				<h5 style="padding:10px;">A.Avinash</h5>
				<p>Security Coordinator</br>7901254075</br>avinash.a@elan.org.in</p>
				<a target="_blank" href="https://www.facebook.com/avinash.amballa"><i class="fab fa-facebook-f"></i></a>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="img-wrapper team">
	<div class="grow flip-card">	
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="/img/team/DSC_0087.jpeg" alt="Avatar" >
			</div>
			<div class="flip-card-back">
				<h5 style="padding:10px;">Tejas Ananda</h5>
				<p style="font-size: 15px;">OP,Infi,Transport,Web Core</br>9618535148</br>tejas@elan.org.in</p>
				<a target="_blank" href="https://www.facebook.com/tejas.ananda"><i class="fab fa-facebook-f"></i></a>

			</div>
		</div>
	</div>
</div>
</div>

<h2>Web</h2>
<div class="row justify-content-center no-gutters">
	<div class="col-sm-6 text-center">
		<div class="img-wrapper team">
			<div class="flip-card">	
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/team/DSC_0086.jpeg" alt="Avatar" >
					</div>
					<div class="flip-card-back">
						<h5 style="padding:10px;">Abhishek Agarwal</h5>
						<p>Web Coordinator</br>9453012059</br>web@elan.org.in</p>
						<a target="_blank" href="https://www.facebook.com/profile.php?id=100008144433581"><i class="fab fa-facebook-f"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 text-center">
		<div class="img-wrapper team">
			<div class="flip-card">	
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/team/vysh.jpeg" alt="Avatar" >
					</div>
					<div class="flip-card-back">
						<h5 style="padding:10px;">Vyshnavi.J</h5>
						<p>Web Coordinator</br>9133854425</br>web@elan.org.in</p>
						<a target="_blank" href="https://www.facebook.com/jakka.vyshnavi"><i class="fab fa-facebook-f"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<h2>Online Publicity</h2>
<div class="row justify-content-center no-gutters">
	<div class="col-sm-6 text-center">
		<div class="img-wrapper team">
			<div class="flip-card">	
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/team/rishika.jpeg" alt="Avatar" >
					</div>
					<div class="flip-card-back">
						<h5 style="padding:10px;">Rishika Rao</h5>
						<p>OP Coordinator</br>9963093434</br>rishika.r@elan.org.in</p>
						<a target="_blank" href="https://www.facebook.com/rishika.rao.265"><i class="fab fa-facebook-f"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 text-center">
		<div class="img-wrapper team">
			<div class="flip-card">	
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/team/dhruv.jpeg" alt="Avatar" >
					</div>
					<div class="flip-card-back">
						<h5 style="padding:10px;">Dhruv Gupta</h5>
						<p>OP Coordinator</br>8411970205</br>dhruv.g@elan.org.in</p>
						<a target="_blank" href="https://www.facebook.com/dhruv.gupta.71697"><i class="fab fa-facebook-f"></i></a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="img-wrapper team">
	<div class="flip-card">	
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="/img/team/vigna.jpeg" alt="Avatar" >
			</div>
			<div class="flip-card-back">
				<h5 style="padding:10px;">Vignatha Vinjam</h5>
				<p>OP Coordinator</br>9121386955</br>vignatha.v@elan.org.in</p>
				<a target="_blank" href="https://www.facebook.com/profile.php?id=100017682907099"><i class="fab fa-facebook-f"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="row justify-content-center no-gutters">
	<div class="col-sm-6 text-center">
		<h2>Infi</h2>
		<div class="img-wrapper team">
			<div class="flip-card">	
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/team/stavan.jpeg" alt="Avatar" >
					</div>
					<div class="flip-card-back">
						<h5 style="padding:10px;">Stavan N.Christian</h5>
						<p>Infi Coordinator</br>9974017449</br>tejas@elan.org.in</p>
						<a target="_blank" href="https://www.facebook.com/stavan.christian.948"><i class="fab fa-facebook-f"></i></a>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 text-center">
		<h2>Transport</h2>
		<div class="img-wrapper team">
			<div class="flip-card">	
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/team/sasi.jpeg" alt="Avatar" >
					</div>
					<div class="flip-card-back">
						<h5 style="padding:10px;">Sasikanth Reddy</h5>
						<p>Transport Coordinator</br>9182343438</br>sasikanth.b@elan.org.in</p>
						<a target="_blank" href="https://www.facebook.com/bsasikanth.reddy"><i class="fab fa-facebook-f"></i></a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

</div>
</div>
<script type="text/javascript" src="/js/canva.js"></script>
</body>
</html>

