body {
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background: #121212;
}
canvas {
	top: 0;
	z-index: -2;
	position: fixed; 
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	display: block;
}
input {
	color: black;
}
.main-nav-logo {
	float: left;
	height: 25%;
	width: 20%;
}
.nav-logout {
	float: right; 
	margin: 5px 5px; 
	font-size:30px; 
	cursor:pointer;
}