@import url('https://fonts.googleapis.com/css?family=Faster+One|Merienda');

/*navbar properties in large screens*/
.nav-item {
	padding-left: 2.5vw;
	padding-top: 2vw;
	font-size: 20px; 

}
canvas {
	position: fixed; 
	pointer-events: none; 
	z-index: -1; 
	width: 100%; 
	height: 100%;
}
.navbar-nav .nav-item .nav-link {
	color: white;
}
.dropdown-menu {
	background-color:pink; 
}
.dropdown-menu a:hover {

	background-color: #FAA570;
}
.dropdown-menu .dropdown-item {
	color:black;
}
#div1,#div2,#div3,#div4,#div5 {
	display: none;
}
.footerimg {
	width: 40px;
	
}


@media screen and (max-width: 800px) {
	.footerimg {
		width: 35px;

	}
}
.nav-link {
	opacity: 0.9;
	border-radius: 10%;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
/*social icons*/
.footerimg{

	opacity: 0.9;
	border-radius: 50%;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.footerimg:hover,.nav-link:hover{

	opacity: 1;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(219,237,166,0.5);
	-moz-box-shadow: 0px 0px 8px 0px rgba(219,237,166,0.5);
	box-shadow: 0px 0px 8px 0px rgba(219,237,166,0.5);

	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
/*menu icon for small screens*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #EDB337;
	opacity:0.8;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;	
	text-align:center;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover{
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.leftcurtain {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-image: radial-gradient(50% 176%, #253854 20%, #061922 100%);
	overflow-x: hidden;
	transition: 4s;
	padding-top: 60px;
	text-align:center;
}

.rightcurtain {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-image: radial-gradient(50% 176%, #253854 20%, #061922 100%);
	overflow-x: hidden;
	transition: 4s;
	padding-top: 60px;
	text-align:center;
}


@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
@media screen and (max-width: 992px) {
	#menuIcon {
		display: block;
	}
	#menu {
		display: none;
	}
	h1 {
		font-size:8.5vw;
	}
	#side1,#side2,#side3,#side4 {
		display: none;
	}
}
@media screen and (min-width: 992px) {
	#menuIcon {
		display: none;
	}
	#menu {
		display: block;
	}
	h1 {
		font-size: 7vw;
	}
	#mySidenav {
		display: none;
	}
}
.hero {
	background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
	min-height: 100vh;
	min-width: 100vw;
}

h1{
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
	letter-spacing: 0.01vw; 
	transition: 0.5s; 
	font-family: "Roboto Slab", serif;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color:white;
}

body {
	background: darkgrey;
}