.scrollmenu {
             background-color: rgba(51, 51, 51, 0.5);
             overflow: auto;
             white-space: nowrap;
             text-align: center;
             /*display: flex;*/
             margin-top: 96px;
        }

        .scrollmenu a {
             display: inline-block;
             color: white;
             text-align: center;
             padding: 14px;
             margin: auto auto;
             text-decoration: none;
        }

        div.scrollmenu a:hover {
             background-color: #777;
        }
h2 {
font-family: 'Julius Sans One', sans-serif;
}
