<!DOCTYPE html>
<html>
<head>
  <title>Infero</title>
     <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width"/>
     <title>techy | Elan & &eta;vision'19</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
     <meta name="copyright" content="ELAN & ηvision 2019">
     <meta name="author" content="ELAN & ηvision 2019  ">
     <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
     <meta name="theme-color" content="#283389">
     <meta property="og:site_name" content="ELAN & ηvision 2019">
     <meta property="og:title" content="ELAN & ηvision 2019">
     <meta property="og:type" content="website">
     <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
     <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">

   
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
     <link rel="stylesheet" href="/styles/canva.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/techy.css">
    <script type="text/javascript">
        window.history.replaceState("", "", '/infero');
    </script>
</head>
<body>
  <canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }
  </script>
     <div class="container" style="margin-top: 10%">
      <div class="scrollmenu">
        <a href="/views/tech/techy.html">&nbsp;ELEKTRONIKA</a>
        <!--<a href="/equilibria">&nbsp;EQUILIBRIA</a>
        <a href="/ecell">&nbsp;E-CELL</a>-->
        <a href="/views/tech/torque.html">&nbsp;TORQUE</a>
        <a href="/views/tech/robotics.html">&nbsp;ROBOTIX</a>
        <a href="/views/tech/cepheid.html">&nbsp;CEPHEID</a>
        <a href="/views/tech/kludge.html">&nbsp;KLUDGE</a>  
        <a href="/views/tech/infero.html">&nbsp;INFERO</a>
        <!--<a href="/quizzes">&nbsp;QUIZZES</a>
        <a href="/online">&nbsp;ONLINE</a>
        <a href="/quadcopter">&nbsp;QUADCOPTER</a>
        <a href="/pp">&nbsp;PAPER PRESENTATION</a>-->
      </div>
        <h2 style="margin-top:20px; text-align: center;">INFERO</h2>
       <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
    <div class="col-sm-6 text-center">
      <div class="img-wrapper techy">
        <div onclick="openNav1()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/proquest.JPG"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Pro-Quest</h3>
              <h4 style="margin-top:0px;">Coming Soon</h4>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="img-wrapper techy">
        <div onclick="openNav()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/algorthima.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Algorithma</h3>
              <h4 style="margin-top:0px;">Coming Soon</h4>
            </div>
          </div>
        </div>
      </div>
</div>
  <div id="myNav1" class="overlay" style="background: linear-gradient(130deg, #0040ff 60%,  #668cff 60%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container">
    <h2 style='text-align:center'>Pro-Quest</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a2" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b2" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c2" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d2" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a2' role="tabpanel">
        <h4>Introduction:</h4>
        <p>Proquest is a competitive programming competition composed of two levels, for participants of all levels of expertise. Experience different levels of programming from pen and paper programming to a truly challenging problem statements.</p>
        <p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b2'>
        <h4>Coming Soon</h4>
        </div>
        <div class='tab-pane' id='c2'>
        <h4>Rules:</h4><p>  1. This is an individual event. No teams are allowed.<br> 
        2. The organisers reserve the right to make any change to the event whenever deemed necessary.<br>
        3. Any participants indulging in plagiarism or sharing code with others in any form will be immediately disqualified.<br>
        4. Winners will be announced before the fest ends.<br>
        5. All decisions made by the judges will be final and binding.<br>
        6. It will be a 3 hour event.<br></p>
        <h4>Judging criteria:</h4><p> 
        1.  All programs will be judged in person and winners will be announced before the fest ends.<br>  2.  Participation certificates are given to top 15 codes <br></p> 
        </div>
        <div class='tab-pane' id='d2'>
        <h4> Prize</h4><p> 
        Prizes Worth INR 20,000*/-</p>
        <p>Prizes will be given after April 2nd 2018</p>
        <h4>Organisers</h4>
        <p>Deepak Nathani-9177289949<br>Adarsh Bandi-9640724328<br>Varun Perumalla-7674024633</p>
        <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>


     <div id="myNav" class="overlay" style="background: linear-gradient(230deg, #cc00cc 60%, #ff1aff 60%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container">
    <h2 style='text-align:center'>Algorthima</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a1" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b1" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c1" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d1" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a1' role="tabpanel">
        <h4>Introduction:</h4><p> 
        Algorithma is the perfect event for those who like to solve mathematical and logical puzzles as well as design algorithms, regardless of your knowledge of programming.</p>
        <p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b1'>
        <h4>Problem statement:</h4><p> 
        Here we will test your problem-solving ability in a series of steps. You will be given a set of puzzles and algorithmic problems. You have to write pseudocode or steps for solving a problem in words or draw a flowchart highlighting the approach for solving the problem anything which clearly describes your logic.
        </p>
        </div>
        <div class='tab-pane' id='c1'>
        <h4>Judging criteria:</h4>
        <p>All programs will be judged in person and winners will be announced before the fest ends.<br>
        Participation certificates are given to top 20 Algorithms.</p> <h4>Rules and Regulations:</h4><p>
        1. This is an individual event. No teams are allowed.<br>
        2. The organisers reserve the right to make any change to the event whenever deemed necessary.<br>
        3. Any participants indulging in plagiarism or sharing code with others in any form will be immediately disqualified.<br>
        4. All programs will be judged in person and winners will be announced before the fest ends.<br>
        5. All decisions made by the judges will be final and binding.</p>
        </div>
        <div class='tab-pane' id='d1'>
        <h4> Prize: </h4><p> 
        Prizes Worth INR 10,000*/-</p>
        <p>Prizes will be given after April 2nd 2018</p>
        <h4>Organisers</h4>
        <p>Deepak Nathani-9177289949<br>Surgan jandial-9419243611<br>Rishi-9100641264</p>
        <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
        </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript" src="/js/canva-techy.js"></script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
     AOS.init();
</script>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>