<!DOCTYPE html>
<html>
<head>
  <title>Kludge</title>
     <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width"/>
     <title>techy | Elan & &eta;vision'19</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
     <meta name="copyright" content="ELAN & ηvision 2019">
     <meta name="author" content="ELAN & ηvision 2019  ">
     <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
     <meta name="theme-color" content="#283389">
     <meta property="og:site_name" content="ELAN & ηvision 2019">
     <meta property="og:title" content="ELAN & ηvision 2019">
     <meta property="og:type" content="website">
     <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
     <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">

  
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
      <link rel="stylesheet" href="/styles/canva.css">
  <link rel="stylesheet" href="/styles/all.css">
  <link rel="stylesheet" href="/styles/techy.css">

<script type="text/javascript">
    window.history.replaceState("", "", '/kludge');
</script>
    
   <script>
    /* function openNav() {
          document.getElementById("myNav").style.height = "100%";
     }

     function closeNav() {
          document.getElementById("myNav").style.height = "0%";
     }
     function openNav1() {
          document.getElementById("myNav1").style.height = "100%";
     }

     function closeNav1() {
          document.getElementById("myNav1").style.height = "0%";
     }*/
      function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }

    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }
     

</script>

</head>
<body>
    <canvas id="test" style="z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <div id="myNavr" class="overlaynav">
    <button type="button" class="btn register">Register</button>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/">Home</a>
          <a href="/sponsors">Sponsors</a>
          <a href="/team">Contact Us</a>
        </div>
        <div  class="col-sm-6 text-center">
          <a href="#" style="text-decoration: underline;">Events</a>
          <a href="/culti">Culti</a>
          <a href="/techy">Techy</a>
          <a href="/litr">Litr</a>
          <a href="/pronites">Pronites</a>
          <a href="/infi">Infi</a>


          <a href="#">SocialCause</a>
        </div>
      </div>


    </div>
  </div>

  <nav class="navbar navbar-light bg-transparent">
    <a class="navbar-brand" href="#"><img style="background:transparent;width:70px; height:58px;" src="..\/img/symbolOnly.png" ></a>
    <span style="font-size:50px;cursor:pointer ;color:white; margin-right:10px;" onclick="openrNav()">&#9776; </span></div></div>
  </nav>
     <div class="container">
          <div class="scrollmenu">
            <a href="/techy">&nbsp;ELEKTRONIKA</a>
             <!--<a href="/equilibria">&nbsp;EQUILIBRIA</a>
             <a href="/ecell">&nbsp;E-CELL</a>-->
             <a href="/torque">&nbsp;TORQUE</a>
             <a href="/robotics">&nbsp;ROBOTIX</a>
             <a href="/cepheid">&nbsp;CEPHEID</a>
             <a href="/kludge">&nbsp;KLUDGE</a>  
             <a href="/infero">&nbsp;INFERO</a>
             <!--<a href="/quizzes">&nbsp;QUIZZES</a>
             <a href="/online">&nbsp;ONLINE</a>
             <a href="/quadcopter">&nbsp;QUADCOPTER</a>
             <a href="/pp">&nbsp;PAPER PRESENTATION</a>-->

        </div>
        <h2 style="margin-top:20px; text-align: center;">KLUDGE</h2>
         <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

    <div class="col-sm-6 text-center">
      <div class="img-wrapper">
        <div onclick="openNav1()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/enigma.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Enigma</h3>
              <h4 style="margin-top:0px;">Coming Soon</h4>


            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="col-sm-6 text-center">
      <div class="img-wrapper">
        <div onclick="openNav()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/hackamaze.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Hack -A -Maze</h3>
              <h4 style="margin-top:0px;">Coming Soon</h4>


            </div>
          </div>
        </div>
      </div>
</div>
    </div>
       


     <div id="myNav1" class="overlay" style="background: linear-gradient(80deg, #408000 60%, #99ff33 60%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container">
    <h2 style='text-align:center'>Enigma</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a2" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b2" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c2" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d2" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a2' role="tabpanel">
        <h4>Introduction:</h4>
        <p>Find the mysterious secret techniques to decrypt the given texts/messages. Clear all the levels in the allotted time to become the ultimate cryptacker</p>
        <p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b2'>
        <h4>Problem statement:</h4><p>
        Round 1:<br>
        1.  It's a pen and paper event.<br> 2.  Each team has to decode a series of crypted messages.<br>
        Round 2:<br>
        1.It will be buzzer type round.<br>
        </p>
        </div>
        <div class='tab-pane' id='c2'>
        <h4>Event rules:</h4><p>
        1. Max Team Size - 2 (Individual participants are welcome)<br> 2.The decision of the organizers will be final and binding.<br></p>
        <h4>Judging criteria:</h4><p>
        1.  Tie breakers would be conducted if necessary.<br> 2.  There are points associated with each message and the team to accumulate maximum number of points wins.<br>
        3.  Prizes will be given for the top two teams.<br>
        4.  Certificate of Merit will be given for the top 3 teams.<br>
        5.  Participation Certificate will be given to all the teams who qualify for the second round.<br>
        6.  Participation Certificate is not guaranteed for those who registered onspot for the event.<br></p>
        </div>
        <div class='tab-pane' id='d2'>
        <h4>Prize:</h4><p>
        Prizes Worth INR 10,000*/-</p>
        <p>Prizes will be given after April 2nd 2018</p>
        <h4>Organisers</h4>
        <p>Will be updated soon</p>
        <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>


     <div id="myNav" class="overlay" style="background: linear-gradient(230deg, #004d00 60%, #ff6600 60%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container">
    <h2 style='text-align:center'>Hack -A -Maze</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a1" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b1" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c1" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d1" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a1' role="tabpanel">
        <h4>Introduction:</h4><p> 
        Compete against others hackers in exploring different levels of a challenge maze with your hacking skills.
        You will have to find your way to victory to defeat others.</p> 
        <p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b1'>
        <h4> Problem statement</h4><p> 
        It’s an on the spot event, in which there will a website/portal hosted locally and all the teams will have to navigate the website solving a series of puzzles and challenges.
        </div>
        <div class='tab-pane' id='c1'>
        </p><h4>Event rules:</h4><p> 
        1.  Max Team Size - 2 (Individual participants are welcome)<br>  2.  There will be only a single round.<br>
        3.  Incase no team is able to clear the maze then team to reach the highest level will be declared winner.<br><h4>  Judging criteria:</h4><p> 
        1.  The first team to reach the goal or go the farthest in the time limit bags the prize. <br>
        2.  The decision of the organizers will be final and binding.<br>
        3.  Certificate of Merit and Prizes will be given for the top two teams.<br> 
        4.  Participation Certificate will be given for those who registered online and participated in the event.<br> 
        5.  Participation Certificate is not guaranteed for those who registered onspot for the event.<br></p> 
        </div>
        <div class='tab-pane' id='d1'>
        <h4>Prize</h4><p> 
        Prizes Worth INR 20,000*/-
        <p>Prizes will be given after April 2nd 2018</p>
        </p>
        <h4>Organisers</h4>
        <p>Will be updated soon</p>
        <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript" src="/js/canva.js"></script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
     AOS.init();
</script>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>