<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105307113-2');
  </script>
  <title>Robotics</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>techy | Elan & &eta;vision'19</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2019">
    <meta name="author" content="ELAN & ηvision 2019  ">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="ELAN & ηvision 2019">
    <meta property="og:title" content="ELAN & ηvision 2019">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
    <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" href="/styles/canva.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/techy.css">
    <script type="text/javascript">
      window.history.replaceState("", "", '/robotics');
    </script>
</head>
<body>
<canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
          <a href="/ca">Campus Ambassador</a>
          <a href="/online">Online Events</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }
    function openNav() {
      document.getElementById("myNav").style.height = "100%";
    }
    function openNav1() {
      document.getElementById("myNav1").style.height = "100%";
    }
    function openNav2() {
      document.getElementById("myNav2").style.height = "100%";
    }
    function openNav3() {
      document.getElementById("myNav3").style.height = "100%";
    }
    function closeNav() {
      document.getElementById("myNav").style.height = "0%";
    }
    function closeNav1() {
      document.getElementById("myNav1").style.height = "0%";
    }
    function closeNav2() {
      document.getElementById("myNav2").style.height = "0%";
    }
    function closeNav3() {
      document.getElementById("myNav3").style.height = "0%";
    }
  </script>
   <div class="container" style="margin-top: 10%">
    <div class="scrollmenu">
      <a href="/views/tech/techy.html">&nbsp;ELEKTRONIKA</a>
      <!--<a href="/equilibria">&nbsp;EQUILIBRIA</a>-->
      <a href="/views/tech/Ecell.html">&nbsp;E-CELL</a>
      <a href="/views/tech/aero.html">&nbsp;AERO</a>
      <a href="/views/tech/torque.html">&nbsp;TORQUE</a>
      <a href="/views/tech/robotics.html">&nbsp;ROBOTIX</a>
      <a href="/views/tech/cepheid.html">&nbsp;CEPHEID</a>
      <a href="/views/tech/kludge.html">&nbsp;KLUDGE</a>  
      <a href="/views/tech/infero.html">&nbsp;INFERO</a>
      <a href="/views/tech/civil.html">&nbsp;CIVIL</a>
      <a href="/views/tech/quiz.html">&nbsp;QUIZZES</a>
      <!-- <a href="/online">&nbsp;ONLINE</a>
      <a href="/quadcopter">&nbsp;QUADCOPTER</a>-->
      <a href="/views/tech/paper_pres.html">&nbsp;PAPER PRESENTATION</a>
    </div>
        <h2 style="margin-top:20px; text-align: center;">ROBOTIX</h2>
   <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

    <div class="col-sm-6 text-center">
      <div class="img-wrapper techy">
        <div onclick="openNav()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/battlebots web.jpeg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Battlebots</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/reg_team/event_battleBots'">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="col-sm-6 text-center">
      <div class="img-wrapper techy">
        <div onclick="openNav1()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/DSC_0083.jpeg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">RoboSoccer</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/reg_team/event_roboScoccer'">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


            </div>
          </div>
        </div>
      </div>
</div>
    </div>
     <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

    <div class="col-sm-6 text-center">
      <div class="img-wrapper techy">
        <div onclick="openNav2()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/Quadcopter web.jpeg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Quadcopter</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/reg_team/event_quadCopter'">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="col-sm-6 text-center">
      <div class="img-wrapper techy">
        <div onclick="openNav3()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/line follower web.jpeg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Line Follower Robot</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/reg_team/event_lineFollowBot'">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


            </div>
          </div>
        </div>
      </div>
</div>
    </div>

        
     <div id="myNav3" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.1) 0%, rgba(12, 12, 12, 0.8) 100%), url('/img/robotix_bg.jpg'); background-size: cover;">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container" style="padding-top: 40px;">
    <h2 style='text-align:center'>Line Follower Robot</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a4" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b4" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c4" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d4" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
  <li class="nav-item ml-auto" >
    <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/reg_team/event_lineFollowBot'" >&nbsp;Register</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a4' role="tabpanel">
       <h4>Introduction</h4>
        <p>Black in White? Or White in Black? Either ways, Put your skills together, Brainstorm and implement a bot that follows a described path.The objective of this contest is for a robot to follow a black line on a white background, without losing the line, and navigating several 90 degrees turns. </p>
        </div>
        <div class='tab-pane' id='b4'>
        <h4>Problem Statement</h4>
        <p><br><a  href='/docs/line follower bot.pdf'><button class='btn2'>Problem statement PDF</button></a></p>
        </div>
        <div class='tab-pane' id='c4'>
        <h4>RULES AND REGULATIONS</h4><p>
        Participating teams are always responsible for the 
safety of their bots and are liable for any accidents caused by their team members or their bots.

        </div>
        <div class='tab-pane' id='d4'>
        <h4>Prize</h4>
        <p>Prizes Worth INR 15,000*/-</p>
        <p>Prizes will be given after April 2nd 2019</p>
        <h4>Organisers</h4>
        <p>Khaja:7382013283<br>
                     Aayush:8587087642<br>
                    Mehar:9154407427<br>
                    Mohan:9502933839<br>
<h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in' style="font-size: 15px;">techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>


     <div id="myNav2" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.1) 0%, rgba(12, 12, 12, 0.8) 100%), url('/img/robotix_bg.jpg'); background-size: cover;">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container" style="padding-top: 40px;">
    <h2 style='text-align:center'>QUADCOPTER CHALLENGE</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a3" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b3" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c3" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d3" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
  <li class="nav-item ml-auto" >
    <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/reg_team/event_quadCopter'" >&nbsp;Register</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a3' role="tabpanel">
        <h4>Introduction</h4>
        <p>TThere are going to be obstacles throughout the way and
irrespective of all those, just fly high! Dear budding Engineers, take up the challenge and design your own fly drones.The event is based on finding the most agile and fastest drone. The problem statement is simple: Pass through given levels and the team with a maximum number of points wins.
</p>
        </div>
        <div class='tab-pane' id='b3'>
        <h4>Problem statement</h4>
        <p><br><a  href='/docs/quadcopter challenge.pdf'><button class='btn2'>Problem statement PDF</button></a></p>
        </div>
        <div class='tab-pane' id='c3'>
                <h4>General Rules</h4><p>
        The Organizers will not be responsible for any damage that occur to your quadcopter throughout the competition.

        </div>
        <div class='tab-pane' id='d3'>
        <h4>Prize</h4>
        <p>Prizes Worth INR 45,000*/-</p>
        <p>Prizes will be given after April 2nd 2019</p>
        <h4>Organisers:</h4>
        <p>Binaya:9583312374<br>
         Uttam:9116576509<br>
         Bhanu:7396911038<br>
         Prudhvi:7075901375<br>
<h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in' style="font-size: 15px;">techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>



     <div id="myNav1" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.1) 0%, rgba(12, 12, 12, 0.8) 100%), url('/img/robotix_bg.jpg'); background-size: cover;">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container" style="padding-top: 40px;">
    <h2 style='text-align:center'>RoboSoccer</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a2" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b2" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c2" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d2" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
  <li class="nav-item ml-auto" >
    <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/reg_team/event_roboScoccer'" >&nbsp;Register</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a2' role="tabpanel">
        <h4>Introduction:</h4>
        <p>Ever watched a nail-biting football match with your fingers crossed? But what if this world famous sport is played by bots instead of boots and increase your adrenaline levels. So Pull up your socks and show your skills and abilities in controlling the robot to bring your
team to glory in this world's most popular sport. Lots of thrill promised.</p>
        </div>
        <div class='tab-pane' id='b2'>
        <h4>Problem Statement:</h4> <p>Build two bots that can kick a table tennis ball into the opponent’s Goal Post following the rules. Use your creativity and come up with innovative kicking mechanisms to smash the ball into the goal post.</p>
        <p><br><a  href='/docs/robosoccer.pdf'><button class='btn2'>Problem statement PDF</button></a></p>
        </div>
        <div class='tab-pane' id='c2'>
        <h4>Judging criteria:</h4>
        <p>Finally, the winner is the team who scores more points at the end of the match. The winning team will be qualified to the next rounds.</p>
        <h4>General Rules:</h4><p>
        1.  Each team can have at max 4 members.<br>
        2.  All students with a valid identity card of their respective educational institutes are eligible to participate.<br> 3.  Students from different educational institutes can form a team.<br>
        4.  In case of any discrepancy, organizers’ decision is final. Arguing with organizer will lead to immediate disqualification.<br>
        <h4>Certificate Policy: </h4><p>
The top 3 teams emerging from this competition will be awarded a Certificate of Excellence. <br>
All teams who have registered online and participated in the event during fest will be awarded a Participation Certificate<br></p>

        </div>
        <div class='tab-pane' id='d2'>
        <h4>Prize:</h4>
        <p>Prizes Worth INR 40,000*/-</p>
        <p>Prizes will be given after April 2nd 2019</p>
        <h4>Organisers:</h4>
        <p>Abhishek Bairagi:7089079662<br>
            Rohit : 7558645111<br>
            Abhishek.M:6304356811<br>
            Varun:9100429629<br>
<h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in' style="font-size: 15px;">techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>


     <div id="myNav" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.1) 0%, rgba(12, 12, 12, 0.8) 100%), url('/img/robotix_bg.jpg'); background-size: cover;">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container" style="padding-top: 40px;">
    <h2 style='text-align:center'>Battlebots</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a1" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b1" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c1" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d1" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
  <li class="nav-item ml-auto" >
    <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/reg_team/event_battleBots'" >&nbsp;Register</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a1' role="tabpanel">
         <h4>Introduction:</h4><p>
        <p>Interested in designing a bot? Want to test your robotic skills? The challenge is to create a robot (manually controlled / autonomous) whose sole purpose is to immobilize or otherwise move your opponent out of the arena within a stipulated time.This event aims to test your Robot against another in a field of combat where brute strength and cat-like reflexes hold the key to success.</div>
        <div class='tab-pane' id='b1'>
        <h4>Problem Statement:</h4><p>
        <p><br><a  href='/docs/battlebots.pdf'><button class='btn2'>Problem statement PDF</button></a></p>
        </div>
        <div class='tab-pane' id='c1'>
        <h4>Rules and Regulations:</h4>
        <p>1. The maximum size of a team is 4.<br>
        2. A robot that is unsafe, as deemed by the judges, will be disqualified immediately and the opponent robot will be declared as the winner.<br>
        3. The bot is not allowed to leave anything behind during the run. It should not leave any mark on the arena. Any bot found damaging the arena will be immediately disqualified.<br>
        4. If there is any kind of ambiguity in the selection of weapon systems, please clarify the same with the event organizers to avoid further confusion.<br>
        5. The Victory if both bots remain mobile will be based on the judges at their discretion.The judge's decision will be final and the points will be kept confidential.<br>
        6. Changes in rules, if any, will be highlighted on the website.</p>
        <h4>Certificate Policy:</h4><p>
        1. The top 3 teams emerging from this competition will be awarded a Certificate of Excellence.<br>
        2. All teams who have registered online and participated in the event during fest will be awarded a Participation Certificate</p>
        </div>
        <div class='tab-pane' id='d1'>
        <h4>Prize</h4>
        <p> Prizes Worth INR 45,000*/-
        <p>Prizes will be given after April 2nd 2019</p>
        </p>
        <h4>Organisers</h4>
        <p>Akhil: 9445299569 <br>Srinivas:9440649997 <br>Deepak:9381425973<br>Riddhi-7995582189</p> <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in' style="font-size: 15px;">techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="/js/canva-techy.js"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
     AOS.init();
</script>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>