<!DOCTYPE html>
<html>
<head>
     <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width"/>
     <title>techy | Elan & &eta;vision'19</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
     <meta name="copyright" content="ELAN & ηvision 2019">
     <meta name="author" content="ELAN & ηvision 2019  ">
     <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
     <meta name="theme-color" content="#283389">
     <meta property="og:site_name" content="ELAN & ηvision 2019">
     <meta property="og:title" content="ELAN & ηvision 2019">
     <meta property="og:type" content="website">
     <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
     <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">

     
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
     <link rel="stylesheet" href="/styles/canva.css">
  <link rel="stylesheet" href="/styles/all.css">
  <link rel="stylesheet" href="/styles/techy.css">
     
   <script>
     /*function openNav() {
          document.getElementById("myNav").style.height = "100%";
     }

     function closeNav() {
          document.getElementById("myNav").style.height = "0%";
     }
     function openNav1() {
          document.getElementById("myNav1").style.height = "100%";
     }

     function closeNav1() {
          document.getElementById("myNav1").style.height = "0%";
     }
     function openNav2() {
          document.getElementById("myNav2").style.height = "100%";
     }

     function closeNav2() {
          document.getElementById("myNav2").style.height = "0%";
     }
     function openNav3() {
          document.getElementById("myNav3").style.height = "100%";
     }

     function closeNav3() {
          document.getElementById("myNav3").style.height = "0%";
     }*/
      function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }

    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }

</script>

</head>
<body>
     <canvas id="test" style="z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <div id="myNavr" class="overlaynav">
    <button type="button" class="btn register">Register</button>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/home.html">Home</a>
          <a href="/sponsors.html">Sponsors</a>
          <a href="/team.html">Contact Us</a>
        </div>
        <div  class="col-sm-6 text-center">
          <a href="#" style="text-decoration: underline;">Events</a>
          <a href="/culti.html">Culti</a>
          <a href="/techy.html">Techy</a>
          <a href="/litr.html">Litr</a>
          <a href="/pronites.html">Pronites</a>
          <a href="/infi.html">Infi</a>


          <a href="#">SocialCause</a>
        </div>
      </div>


    </div>
  </div>

  <nav class="navbar navbar-light bg-transparent">
    <a class="navbar-brand" href="#"><img style="background:transparent;width:70px; height:58px;" src="/img/symbolOnly.png" ></a>
    <span style="font-size:50px;cursor:pointer ;color:white; margin-right:10px;" onclick="openrNav()">&#9776; </span></div></div>
  </nav>
     <div class="container">
          <div class="scrollmenu">
             <a href="/techy.html">&nbsp;ELEKTRONIKA</a>
             <!--<a href="/equilibria.html">&nbsp;EQUILIBRIA</a>
             <a href="/ecell.html">&nbsp;E-CELL</a>-->
             <a href="/torque.html">&nbsp;TORQUE</a>
             <a href="/robotics.html">&nbsp;ROBOTIX</a>
             <a href="/cepheid.html">&nbsp;CEPHEID</a>
             <a href="/kludge.html">&nbsp;KLUDGE</a>  
             <a href="/infero.html">&nbsp;INFERO</a>
             <!--<a href="/quizzes.html">&nbsp;QUIZZES</a>
             <a href="/online.html">&nbsp;ONLINE</a>
             <a href="/quadcopter.html">&nbsp;QUADCOPTER</a>
             <a href="/pp.html">&nbsp;PAPER PRESENTATION</a>-->

        </div>
           <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

    <div class="col-sm-6 text-center">
      <div class="img-wrapper">
        <div onclick="openNav()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/DTMF.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">DTMF Race</h3>
              <h4 style="margin-top:0px;">Coming Soon</h4>


            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="col-sm-6 text-center">
      <div class="img-wrapper">
        <div onclick="openNav1()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/bloopers.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Electronic Bloopers</h3>
              <h4 style="margin-top:0px;">Coming Soon</h4>


            </div>
          </div>
        </div>
      </div>
</div>
    </div>
          <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

    <div class="col-sm-6 text-center">
      <div class="img-wrapper">
        <div onclick="openNav2()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/jugaadit.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Jugaad It</h3>
              <h4 style="margin-top:0px;">Coming Soon</h4>


            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="col-sm-6 text-center">
      <div class="img-wrapper">
        <div onclick="openNav3()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/IOT.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">>IoT Challenge</h3>
              <h4 style="margin-top:0px;">Coming Soon</h4>


            </div>
          </div>
        </div>
      </div>
</div>
    </div>
       

     <div id="myNav3" class="overlay" style="background: linear-gradient(280deg, #55552b  40%, rgba(0,0,0,0) 40%), linear-gradient(20deg,#ffff4d 60%,   #ff661a 60%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container">
    <h2 style='text-align:center'>IoT Challenge</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a4" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b4" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c4" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d4" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a4' role="tabpanel">
       <h4>Introduction:</h4><br>
        <p>Being human, we have always been fascinated with gadgets, they make life simpler and work efficiently. IoT is not only making every single gadget smarter than ever before but also they are making them easily accessible across the globe. That is why this is still an active area of interest. So let's make some gadget which simplifies our life using IoT. To achieve this come and participate in this event and show what you’ve got in you to make the world a smarter place.
        </p>
        <p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b4'>
        <h2>Problem statement:</h2><p>
        As the name suggests this event is based on one of the hottest topics in today’s world that is, internet of things. This event checks the basic level knowledge of the student in the field of IOT.<br>
        This event will consist of three rounds namely,<br>
        Qualification round<br>
        Second round<br>
        Final round<br>
        The qualification will test the amount of knowledge the student has in very basic level things related to IOT.<br> The second round will check the basic arduino knowledge of the student and the final round will be totally based on Arduino UNO.</p>
        </div>
        <div class='tab-pane' id='c4'>
        <h4>Event rules:</h4><p>
        1.  Maximum of three people are allowed to participate in a group.<br>
        2.  Every participant should be registered which can be done before hand or on the spot.<br>
        3.  Arduino boards and other required components will be provided.<br>
        4.  Organisers decision is final in all matters.<br>
        5.  In the case of a tie the one who is faster to implement will be awarded.<br>
        6.  Any kind of malpractices will not be entertained and the participant will be disqualified.<br>
        <h4>Judging criteria:</h4><p>
        The team with maximum points at the end will be declared as winner. The participants who enter the second round will be given participation certificates.
        </p>
        </div>
        <div class='tab-pane' id='d4'>
          <h4>Prize:</h4>
          <p>Prize:INR 20,000*/-</p>
          <p>Prizes will be given after April 2nd 2018</p>
        <h4>Organisers:</h4>
        <p>
        Ketan iyengar-9769563302<br>
        Rishideep-9542853064<br>
        Sam Chalyanth - 9705684020<br>
        Srujana-9515594498</p>
        <p>Will be updated soon</p>
        <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>


     <div id="myNav2" class="overlay" style="background: linear-gradient(10deg, #80ffff 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #d24dff 70%, #66ff66 70%);
">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container">
    <h2 style='text-align:center'>Jugaad It</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a3" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b3" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c3" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d3" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a3' role="tabpanel">
        <h4>Introduction</h4><p>
        One of the important works of an electric student is to debug a circuit. This event will test your ability to understand the circuit and debug it. You will have to tweak the circuit given to you to make it work according to the problem statement.
        </p><p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b3'>
        <h4>Problem statement</h4>
        <p><i class='fa fa-circle' style='font-size:8px;'></i> Round 1<br>
         This round will be theoretical and some general question on electronics will be asked.<br><br> 
        <i class='fa fa-circle' style='font-size:8px;'></i> Round 2<br>
        In this a circuit will be given to the each team. The circuit which will be given to each team will be identical.The required information will be given about the circuit. <br>
        The participants are also allowed to google about the circuit.</p> 
        </div>
        <div class='tab-pane' id='c3'>
        <h4>Event rules:</h4><p>
        1. The main goal of round one is to select 8 teams out of all the teams.<br>
        2. Team size can be 1 to 3</p>
        <h4>Judging criteria:</h4><p>
        <i class='fa fa-circle' style='font-size:8px;'></i> The performance in the first round will decide who goes to next     round.<br> 
        <i class='fa fa-circle' style='font-size:8px;'></i> The team which finishes debugging and fixing the circuit is declared as winner<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Organiser verdict is the final and binding</p>
        </div>
        <div class='tab-pane' id='d3'>
        <h4>Prize</h4>
         <p>Prizes Worth INR 10,000*/-</p>
         <p>Prizes will be given after April 2nd 2018</p>
        <h4>Organisers:</h4>
        <p>Pran prateep-9494688054<br>Sumanth-9640493740<br>Saketh-8790774329 <br>Md Bilal-8125908531</p>
        <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>



     <div id="myNav1" class="overlay" style="background: linear-gradient(40deg, #800000  40%, rgba(0,0,0,0) 40%), linear-gradient(8deg,#1a53ff 60%,   #b3b300 60%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container">
    <h2 style='text-align:center'>Electronic Bloopers</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a2" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b2" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c2" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d2" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a2' role="tabpanel">
        <h4>Introduction</h4> 
        <p>Passionate about Electronics? Then this one is for you. This January, come and get immersed in an exciting world of electronics. Prove your mettle by participating in this quiz.
        <p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b2'>
        <h4>Coming Soon</h4>
        </div>
        <div class='tab-pane' id='c2'>
        </p><h4>Rules and regulation:</h4>
        1. It is an offline quiz event.<br> 2. Team size is 1 or 2.<br>
        3. The event consists of two rounds.<br>
        4. Number of teams that get selected for second round will be decided on spot based on participation.<br>
        5. In any case, decision of organiser is final.<br> 
        <h4>Judging criteria:</h4><p>
        1.  The team with maximum points is declared as winner.<br> 
        2.  Top three teams in second round based on the points are declared as winners.<br>
        3.  Participation certificates are given only to those who clear round 1</p>
        </div>
        <div class='tab-pane' id='d2'>
        <h4>Prize</h4>
        <p>Prizes Worth INR 5,000*/-</p>
        <p>Prizes will be given after April 2nd 2018</p>
        <h4>Organisers:</h4>
        <p>Gowtham -9705311199<br>Abhishek Bairagi-7089079662<br>Gaurav Gijare-7058906800
        </p>
        <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>


     <div id="myNav" class="overlay" style="background: linear-gradient(40deg, #b3b300  40%, rgba(0,0,0,0) 40%), linear-gradient(80deg,#004d00 60%,   #800000 60%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container">
    <h2 style='text-align:center'>DTMF Race</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a1" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b1" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c1" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d1" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a1' role="tabpanel">
        <h4>Introduction</h4>
          <p>Gear up with your wireless bot. Here comes the race which will test the strength, stability, and cruelty of your bot. It's all about racing towards the finish line through tough terrain by crushing your opponents. Let's see who’s bot is better equipped, better designed to win.
          </p>
          <p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b1'>
        <h4>Problem statement:</h4>
          <p>As the name suggests, the bot has to complete a track having various obstacles. Your bot has to complete the race overcoming and avoiding various obstacles in the least possible time.
          The participants should prepare a wireless DTMF bot which competes with other bots in an obstacle race.
          Note: Track for the Obstacle race will be made up of different terrains with obstacles to test the participant’s control of the bot. It’s made wide enough for one bot to navigate freely.
          <br><br><a  href='/static/pdf/dtmf.pdf'><button class='btn2'>Problem statement PDF</button></a></p>
        </div>
        <div class='tab-pane' id='c1'>
        <h4>Event rules:</h4><p>
        1.A team may consist of a maximum of 4 members.<br>
        2.No person can be a part of more than one team.<br>
        3.All students must carry a valid identity card<br>
        4.All members of team need to register for the event<br>
        5.Students from different educational institutes can form a team.<br>
        6.Organizer’s decision shall be treated as final and binding on all.</p>
        <h4>Certification Policy:</h4><p>
        1.Certificate of Merit and Prizes will be given for the top two teams.<br>
        2. Participation Certificate will be given for those who registered online and participated in the event.<br>
        3. Participation Certificate is not guaranteed for those who registered on spot for the event.</p>
          <h4>Judging criteria:</h4>
          <p>The bot which completes the race in the least possible time is declared as winner
          </p>
        </div>
        <div class='tab-pane' id='d1'>
          <h4>Prize:</h4>
          <p>Prizes Worth INR 10,000*/-</p>
          <p>Prizes will be given after April 2nd 2018</p>
          <h4>Organisers:</h4>
          <p>Vivek vardhan-9701103218<br>Chakradhar-8500584109<br>Athava Naga Teja-7660827557<br>Dheeraj-9640783673</p>
          <h4>Contact:</h4>
          <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
          </p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>
</div>

<script type="text/javascript" src="/js/canva.js"></script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
     AOS.init();
</script>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>