<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105307113-2');
  </script>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Techy | Elan & &eta;vision'19</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2019">
    <meta name="author" content="ELAN & ηvision 2019  ">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="ELAN & ηvision 2019">
    <meta property="og:title" content="ELAN & ηvision 2019">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
    <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" href="/styles/canva.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/techy.css">
    <script type="text/javascript">
      window.history.replaceState("", "", '/elektronika');
    </script>
</head>
<body>
  <canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
          <a href="/ca">Campus Ambassador</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }
    function openNav() {
      document.getElementById("myNav").style.height = "100%";
    }
    function openNav1() {
      document.getElementById("myNav1").style.height = "100%";
    }
    function openNav2() {
      document.getElementById("myNav2").style.height = "100%";
    }
    function openNav3() {
      document.getElementById("myNav3").style.height = "100%";
    }
    function closeNav() {
      document.getElementById("myNav").style.height = "0%";
    }
    function closeNav1() {
      document.getElementById("myNav1").style.height = "0%";
    }
    function closeNav2() {
      document.getElementById("myNav2").style.height = "0%";
    }
    function closeNav3() {
      document.getElementById("myNav3").style.height = "0%";
    }
  </script>
   <div class="container" style="margin-top: 10%">
    <div class="scrollmenu">
      <a href="/views/tech/techy.html">&nbsp;ELEKTRONIKA</a>
      <!--<a href="/equilibria">&nbsp;EQUILIBRIA</a>-->
      <a href="/views/tech/Ecell.html">&nbsp;E-CELL</a>
      <a href="/views/tech/aero.html">&nbsp;AERO</a>
      <a href="/views/tech/torque.html">&nbsp;TORQUE</a>
      <a href="/views/tech/robotics.html">&nbsp;ROBOTIX</a>
      <a href="/views/tech/cepheid.html">&nbsp;CEPHEID</a>
      <a href="/views/tech/kludge.html">&nbsp;KLUDGE</a>  
      <a href="/views/tech/infero.html">&nbsp;INFERO</a>
      <a href="/views/tech/civil.html">&nbsp;CIVIL</a>
      <a href="/views/tech/quiz.html">&nbsp;QUIZZES</a>
      <!-- <a href="/online">&nbsp;ONLINE</a>
      <a href="/quadcopter">&nbsp;QUADCOPTER</a>-->
      <a href="/views/tech/paper_pres.html">&nbsp;PAPER PRESENTATION</a>
    </div>
        <h2 style="margin-top:20px; text-align: center;">Elektronika</h2>
        <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

    <div class="col-sm-6 text-center">
      <div class="img-wrapper techy">
        <div onclick="openNav()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/DTMF.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">DTMF Race</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/register_dtmf_race';">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="col-sm-6 text-center">
      <div class="img-wrapper techy">
        <div onclick="openNav1()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/Elektabuzz.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">ELEKTABUZZ</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/register_elektabuzz';">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


            </div>
          </div>
        </div>
      </div>
</div>
    </div>
          <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

    <div class="col-sm-6 text-center">
      <div class="img-wrapper techy">
        <div onclick="openNav2()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/Machina Doctrinas.jpeg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">MACHINA DOCTRINAS</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/register_machina_doctrina';">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="col-sm-6 text-center">
      <div class="img-wrapper techy">
        <div onclick="openNav3()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/iot.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">IoT Challenge</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/register_iot_challenge'">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


            </div>
          </div>
        </div>
      </div>
</div>
    </div>
       

     <div id="myNav3" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.2) 0%, rgba(12, 12, 12, 0.8) 100%), url('/img/elek_bg.jpg'); background-size: cover">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container" style="padding-top: 40px;">
    <h2 style='text-align:center'>IoT Challenge</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a4" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b4" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c4" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d4" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
  <li class="nav-item ml-auto" >
    <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/register_iot_challenge'" >&nbsp;Register</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a4' role="tabpanel">
       <h4>Introduction:</h4><br>
        <p>Today’s world is completely fascinated with gadgets, they make life simpler and work efficiently. IoT is the thing which makes every single gadget smarter than ever before and also it makes them easily accessible across the globe. That is why this is still an active area of interest. So let's make some gadget which simplifies our life using IoT. To achieve this come and participate in this event and show what you’ve got in you to make the world a smarter place.
        </p>
        </div>
        <div class='tab-pane' id='b4'>
        <h2>Problem statement:</h2><p>
         This event checks the basic level knowledge of the student in the field of IOT.<br>
        This event will consist of three rounds namely,<br>
        Qualification round<br>
        Second round<br>
        Final round<br>
        1. The qualification will test the amount of knowledge the student has in very basic level things related to IOT.<br>2. The second round will check the basic arduino knowledge of the student and the final round will be totally based on Arduino UNO.<br>
        3. The final round will be the implementation of your Iot knowledge and the problem statement will be given on the spot.<br></p>
        </div>
        <div class='tab-pane' id='c4'>
        <h4>Event rules:</h4><p>
        1.  Maximum of two people are allowed to participate in a group.<br>
        2.  Every participant should be registered which can be done before hand or on the spot.<br>
        3.  Arduino boards and other required components will be provided.<br>
        4.  Organisers decision is final in all matters.<br>
        5.  Participant should be in time for the event.<Br>
        6.  The group which qualifies 1st round(Qualification round) will get participation certificate<br>
        7.  Any kind of malpractices will not be entertained and the participant will be disqualified.<br>
        <!--<h4>Judging criteria:</h4><p>
        The team with maximum points at the end will be declared as winner. The participants who enter the second round will be given participation certificates.
        </p>-->
        </div>
        <div class='tab-pane' id='d4'>
          <h4>Prize:</h4>
          <p>Prize:INR 15,000*/-</p>
          <p>Prizes will be given after April 2nd 2019</p>
        <h4>Organisers:</h4>
        <p>
        Mourya-7095824923<br>
Pramod-9182908954<br>
Prabhath -8008513171<br>
Varuni-9381567981<br>
Shruti-9912879814<br>


        <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in' style="font-size: 15px;">techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>


     <div id="myNav2" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.2) 0%, rgba(12, 12, 12, 0.8) 100%), url('/img/elek_bg.jpg'); background-size: cover">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container" style="padding-top: 40px;">
    <h2 style='text-align:center'>MACHINA DOCTRINAS</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a3" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b3" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c3" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d3" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
  <li class="nav-item ml-auto" >
    <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/register_machina_doctrina';" >&nbsp;Register</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a3' role="tabpanel">
        <h4>Introduction</h4><p>
         If making machines learn is your forté, this is the perfect event for you. Test and hone your skills in ML and Data Analytics by participating in Machina doctrinas, the coolest event in the fest!

        </p>
        </div>
        <div class='tab-pane' id='b3'>
        <h4>Problem statement</h4>
        Participants shall be given challenges related to ML, and shall be scored according to an appropriate metric. The exact nature of the challenge shall be revealed on the spot.

        </div>
        <div class='tab-pane' id='c3'>
        <h4>Event rules:</h4><p>
        1. Team size should not exceed 3.<br>
2. Registration can be done either online or on-the-spot.<br>
3. Participants should bring their own laptops.<br>
4. The decision of the organizing committee is binding and final.<br>
</p>
        </div>
        <div class='tab-pane' id='d3'>
        <h4>Prize</h4>
         <p>Prizes Worth INR 15,000*/-</p>
         <p>Prizes will be given after April 2nd 2019</p>
        <h4>Organisers:</h4>
        <p>PSupraj-7093812854<br>
Siddharth-9703304316<br>
K Vaishnavi-7893914882<br>
Ritwik Sahani-6377328996<br>
Sai Srikar-9381540250<br>
<h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in' style="font-size: 15px;">techy@elan.org.in</a></p>
        </div>
        </div>
        </div>-->
  </div>
</div>
</div>



     <div id="myNav1" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.2) 0%, rgba(12, 12, 12, 0.8) 100%), url('/img/elek_bg.jpg'); background-size: cover">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container" style="padding-top: 40px;">
    <h2 style='text-align:center'>ELEKTABUZZ</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a2" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b2" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c2" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d2" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
  <li class="nav-item ml-auto" >
    <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/register_elektabuzz';" >&nbsp;Register</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a2' role="tabpanel">
        <h4>Introduction</h4> 
        <p>Are you fascinated by electric circuitry and passionate about electronics? This one’s for you then. Plug in and get elektrified!!


        </div>
        <div class='tab-pane' id='b2'>
        <h4>Round 1</h4>
           It is an offline quiz where in some theoretical questions on electronics would be asked. 

<h4>Round 2</h4>
          This round will test your ability to understand the circuit and debug it. Identical circuits would be given to each group.Required information about the circuit will be given. You will have to tweak the circuit given to you to make it work. 

        
        </div>
        <div class='tab-pane' id='c2'>
        </p><h4>Rules and regulation:</h4>
        1. It is an offline quiz event.<br> 2. Team size is 2 or 3.<br>
        3. The event consists of two rounds.<br>
        4. Number of teams that get selected for second round will be decided on spot based on participation.<br>
        5. In any case, decision of organiser is final.<br> 
        <h4>Judging criteria:</h4><p>
        1.  The team with maximum points is declared as winner.<br> 
        2.  Participation certificates are given only to those who clear round 1</p>
        </div>
        <div class='tab-pane' id='d2'>
        <h4>Prize</h4>
        <p>Prizes Worth INR 5,000*/-</p>
        <p>Prizes will be given after April 2nd 2019</p>
        <h4>Organisers:</h4>
        <p>Sai Sowmya -8143741906<br>
Abhishek Bairagi- 7089079662<br>
Divyansh maduriya-9617291727<br>
Devi Aishwarya-9381101397<br>
Balram-9848224697<br>

</p>
        <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in' style="font-size: 15px;">techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>


     <div id="myNav" class="overlay" style="background: linear-gradient(90deg, rgba(12, 12, 12, 0.2) 0%, rgba(12, 12, 12, 0.8) 100%), url('/img/elek_bg.jpg'); background-size: cover">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container" style="padding-top: 40px;">
    <h2 style='text-align:center'>DTMF Race</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a1" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b1" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c1" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d1" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
  <li class="nav-item ml-auto" >
    <a style="font-size: 25px;" class="nav-link" onclick="window.location.href='/register_dtmf_race';" >&nbsp;Register</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a1' role="tabpanel">
        <h4>Introduction</h4>
          <p>Gear up with your wireless bot. Here comes the race which will test the strength, stability, and cruelty of your bot. It's all about racing towards the finish line through tough terrain by crushing your opponents. Let's see who’s bot is better equipped, better designed to win.
          </p>
        </div>
        <div class='tab-pane' id='b1'>
        <h4>Problem statement:</h4>
          <p>
          <a  href='/static/pdf/dtmf.pdf'><button class='btn2'>Problem statement PDF</button></a></p>
        </div>
        <div class='tab-pane' id='c1'>
        <h4>Event rules:</h4><p>
        1.A team may consist of a maximum of 3 members.<br>
        2.If a team is not ready when their challenge round is called by the judge, the team forfeits and the opposing team is declared the winner by default.

        3.All students must carry a valid identity card<br>
        4.All members of team need to register for the event<br>
         5.Participants who have registered online and participated in the event will get a participation certificate<br>
6.The track maybe slippery<br>
7.Organizer's decision is final. No arguments will be entertained. If any arise, the team will be disqualified<br>
.</p>
  
          <h4>Judging criteria:</h4>
          <p>The bot which completes the race in the least possible time is declared as winner
          </p>
        </div>
        <div class='tab-pane' id='d1'>
          <h4>Prize:</h4>
          <p>Prizes Worth INR 10,000*/-</p>
          <p>Prizes will be given after April 2nd 2019</p>
          <h4>Organisers:</h4>
          <p><h4>Contact:</h4>
          Srihith-9110774887
            Venkat Krishna-9963846015<br>
            Akash Tadwai-9491812392<br>
            Surya Prakash-9381410963<br>
            Sai Varshittha-6303010830<br>
            
          <p><a href='mailto:techy@elan.org.in' style="font-size: 15px;">techy@elan.org.in</a></p>
          </p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>
</div>

<script type="text/javascript" src="/js/canva-techy.js"></script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
     AOS.init();
</script>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>