<!DOCTYPE html>
<html>
<head><!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105307113-2');
  </script>
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"/>
  <title>Culti | Elan & &eta;vision'19</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
  <meta name="copyright" content="ELAN & ηvision 2019">
  <meta name="author" content="ELAN & ηvision 2019  ">
  <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
  <meta name="theme-color" content="#283389">
  <meta property="og:site_name" content="ELAN & ηvision 2019">
  <meta property="og:title" content="ELAN & ηvision 2019">
  <meta property="og:type" content="website">
  <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
  <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  <link rel="stylesheet" href="/styles/canva.css">
  <link rel="stylesheet" href="/styles/all.css">
  <link rel="stylesheet" href="/styles/techy.css">
  <script type="text/javascript">
    window.history.replaceState("", "", '/art');
    function openNav() {
      document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.height = "0%";
    }
    function openNav1() {
      document.getElementById("myNav1").style.height = "100%";
    }

    function closeNav1() {
      document.getElementById("myNav1").style.height = "0%";
    }
    function openNav2() {
      document.getElementById("myNav2").style.height = "100%";
    }

    function closeNav2() {
      document.getElementById("myNav2").style.height = "0%";
    }
    function openNav3() {
      document.getElementById("myNav3").style.height = "100%";
    }

    function closeNav3() {
      document.getElementById("myNav3").style.height = "0%";
    }
    function openNav4() {
      document.getElementById("myNav4").style.height = "100%";
    }

    function closeNav4() {
      document.getElementById("myNav4").style.height = "0%";
    }
    function openNav5() {
      document.getElementById("myNav4").style.height = "100%";
    }

    function closeNav5() {
      document.getElementById("myNav4").style.height = "0%";
    }
    function openNav6() {
      document.getElementById("myNav4").style.height = "100%";
    }

    function closeNav6() {
      document.getElementById("myNav4").style.height = "0%";
    }
  </script>
</head>
<body>
  <canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
          <a href="/ca">Campus Ambassador</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }
  </script>
  <div class="container" style="margin-top: 10%">
    <div class="scrollmenu">
      <a href="/views/culti/dance.html">&nbsp;DANCE</a>
      <!--<a href="/equilibria">&nbsp;EQUILIBRIA</a>
      <a href="/ecell">&nbsp;E-CELL</a>-->
      <a href="/views/culti/music.html">&nbsp;MUSIC</a>
      <a href="/views/culti/drama.html">&nbsp;DRAMA</a>
      <a href="/views/culti/moviemaking.html">&nbsp;MOVIE-MAKING</a>
      <a href="/views/culti/art.html">&nbsp;ART</a>  
      <a href="/views/culti/photography.html">&nbsp;PHOTOGRAPHY & RADIO EVENT</a>
      <!--<a href="/quizzes">&nbsp;QUIZZES</a>
      <a href="/online">&nbsp;ONLINE</a>
      <a href="/quadcopter">&nbsp;QUADCOPTER</a>
      <a href="/pp">&nbsp;PAPER PRESENTATION</a>-->
    </div>
    <h2 style="margin-top:20px; text-align: center;">ART</h2>
    <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
    <div class="col-sm-6 text-center">
        <div class="img-wrapper culti">
          <div onclick="openNav()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/art.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Arts Exhibition</h3>
                <button type="button" class="btn" style="margin-top:10px;">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="img-wrapper culti">
          <div onclick="openNav1()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/sprayart.jpeg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Spray Art</h3>
                <button type="button" class="btn" style="margin-top:10px;">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
    <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

      <div class="col-sm-6 text-center">
        <div class="img-wrapper culti">
          <div onclick="openNav2()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/portfolio_pic10.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Nail Art</h3>
                <button type="button" class="btn" style="margin-top:10px;">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="col-sm-6 text-center">
        <div class="img-wrapper culti">
          <div onclick="openNav3()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/portfolio_pic11.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Mehendi</h3>
                <button type="button" class="btn" style="margin-top:10px;">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="" class="row justify-content-center no-gutters">


      <div onclick="openNav4()" class=" col-sm-6 text-center" data-aos="zoom-in-up">
        <div class="img-wrapper culti">
          <div onclick="openNav4()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/portfolio_pic12.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Clay Modelling</h3>
                <button type="button" class="btn" style="margin-top:10px;">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


              </div>
            </div>
          </div>

        </div>

      </div>
       <div class="col-sm-6 text-center">
        <div class="img-wrapper culti">
          <div onclick="openNav5()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/facepainting.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Face Painting</h3>
                <button type="button" class="btn" style="margin-top:10px;">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


              </div>
            </div>
          </div>
        </div>
        


      </div>
      
    </div>

    <div id="myNav1" class="overlay" style="background:  linear-gradient(40deg,  #00004d 33%,#990000 63%);">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
      <div style="text-align:left;padding-top: 40px;" class="overlay-content">
        <div class="container">
          <h2 style='text-align:center'>Spray Art</h2>
          <!-- Nav tabs -->

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" >
              <a style="font-size: 15px; " class="nav-link active"  data-toggle="tab" href="#ab1" role="tab"  aria-selected="true">&nbsp;Introduction</a>
            </li>
            <li class="nav-item">
              <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#bb2" role="tab"  aria-selected="false">&nbsp;Event format</a>


            </li>
            <li class="nav-item">
              <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#cb3" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
            </li>
            <li class="nav-item">
              <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#db4" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
            </li>


          </ul>



          <div class='tab-content'>
            <div class='tab-pane active' id='ab1' role="tabpanel">
              <h4>Introduction</h4>
              <p>Ever saw those cool videos where street artists made amazing landscapes using spray paint? Now it’s your chance to try and make your own spray art! </p>
            </div>
            <div class='tab-pane' id='bb2'>
              <h4>EVENT FORMAT:</h4><p>  Will be released soon.

            </div>
            <div class='tab-pane' id='cb3'>
              <h4>RULES AND REGULATIONS:</h4> Will be released soon.
            </div>
            <div class='tab-pane' id='db4'>
              <h4>PRIZES:</h4><p>
              Prizes worth Rs.*/-</p>
              <p>Prizes will be given after April 2nd 2019</p>
              <h4>ORGANISERS:</h4>
              <p>Will be updated soon.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



    <div id="myNav4" class="overlay" style="background:  linear-gradient(40deg,  #00004d 33%,#990000 63%);">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav4()">&times;</a>
      <div style="text-align:left;padding-top: 40px;" class="overlay-content">
        <div class="container">
          <h2 style='text-align:center'>Clay Modelling</h2>
          <!-- Nav tabs -->

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" >
              <a style="font-size: 15px; " class="nav-link active"  data-toggle="tab" href="#a16" role="tab"  aria-selected="true">&nbsp;Introduction</a>
            </li>
            <li class="nav-item">
              <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#b16" role="tab"  aria-selected="false">&nbsp;Event format</a>


            </li>
            <li class="nav-item">
              <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#c16" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
            </li>
            <li class="nav-item">
              <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#d16" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
            </li>


          </ul>



          <div class='tab-content'>
            <div class='tab-pane active' id='a16' role="tabpanel">
              <h4>Introduction</h4>
              <p>Come! Bring life to figments of your own thoughts and imaginations by moulding beautiful structures out of clay! Win exciting prizes!!</p>
            </div>
            <div class='tab-pane' id='b16'>
              <h4>EVENT FORMAT:</h4><p> <i class='fa fa-circle' style='font-size:8px;'></i> Registrations will be on the spot during the fest.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The following materials will be provided to you<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Polymer clay<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Paints (if required)<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> One can select his/her own theme or model. Every participant will be given limited amount of clay and time, so one has to really plan out his model so as to not run out of clay.</p>
            </div>
            <div class='tab-pane' id='c16'>
              <h4>RULES AND REGULATIONS:</h4><p> <i class='fa fa-circle' style='font-size:8px;'></i> The amount of clay and paint provided will be limited.Team size should be less than 3.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The final results will be announced on the final day of Elan & ηvision 2019.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The decision of the organisers and judges is final and abiding to all.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The organising team has the complete right to change the prize money if the participation is less than five.</p>
              <h4>JUDGING CRITERIA:</h4><p> <i class='fa fa-circle' style='font-size:8px;'></i> Creativity<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Finishing </p>
            </div>
            <div class='tab-pane' id='d16'>
              <h4>PRIZES:</h4><p>
              Prizes worth Rs.1,000*/-</p>
              <p>Prizes will be given after April 2nd 2019</p>
              <h4>ORGANISERS:</h4>
              <p>Will be updated soon.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="myNav3" class="overlay" style="background:  linear-gradient(40deg,  #00004d 33%,#990000 63%);">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
    <div style="text-align:left; " class="overlay-content">
      <div class="container">
        <h2 style='text-align:center;padding-top: 40px;'>Mehendi Art</h2>
        <!-- Nav tabs -->

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a style="font-size: 15px; " class="nav-link active"  data-toggle="tab" href="#a15" role="tab"  aria-selected="true">&nbsp;Introduction</a>
          </li>
          <li class="nav-item">
            <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#b15" role="tab"  aria-selected="false">&nbsp;Event format</a>
          </li>
          <li class="nav-item">
            <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#c15" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
          </li>
          <li class="nav-item">
            <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#d15" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
          </li>
        </ul>



        <div class='tab-content'>
          <div class='tab-pane active' id='a15' role="tabpanel">
            <h4>Introduction</h4>
            <p>For many of us, when mehendi adorns the hands, life takes on a new color. So let the henna flow out of your cones and let's see what color it brings to your life.</p>
          </div>
          <div class='tab-pane' id='b15'>
            <h4>EVENT FORMAT:</h4>
            <p><i class='fa fa-circle' style='font-size:8px;'></i> Registrations will be on the spot during Elan & ηvision 2019.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Each Team must consist of 2 members.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Mehendi cones will be provided by the organisers.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Designs are of your own choice.</p>
            </div>
            <div class='tab-pane' id='c15'>
              <h4>RULES AND REGULATIONS:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> There will be a time limit of 1 hour.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> There is no limit on the number of cones. You can use as many as you want<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> You will be allowed to put mehendi only one hand.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The decision of judges and organisers is final and abiding.</br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The organising team has the complete right to change the prize money if the participation is less than five.</p>
              <h4>JUDGING CRITERIA:</h4><p> Attractivness<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Creativity<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Neatness </p>
            </div>
            <div class='tab-pane' id='d15'>
              <h4>PRIZES:</h4><p>
              Prizes worth Rs.1,000*/-</p>
              <p>Prizes will be given after April 2nd 2019</p>
              <h4>ORGANISERS:</h4>
              <p>Shreni - 9032444030</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="myNav2" class="overlay" style=" background:  linear-gradient(40deg,  #00004d 33%,#990000 63%);" >
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
    <div style="text-align:left;padding-top: 40px; " class="overlay-content">
      <div class="container">
        <h2 style='text-align:center'>Nail Art</h2>
        <!-- Nav tabs -->

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a style="font-size: 15px; " class="nav-link active"  data-toggle="tab" href="#a14" role="tab"  aria-selected="true">&nbsp;Introduction</a>
          </li>
          <li class="nav-item">
            <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#b14" role="tab"  aria-selected="false">&nbsp;Event format</a>
          </li>
          <li class="nav-item">
            <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#c14" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
          </li>
          <li class="nav-item">
            <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#d14" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
          </li>
        </ul>



        <div class='tab-content'>
          <div class='tab-pane active' id='a14' role="tabpanel">
            <h4>Introduction</h4>
            <p>Can you add your intricate details creatively on much smaller canvas like finger nails? Then come, show up your talent in 'Nail Art' of Elan & ηvision 2019!!</p>
          </div>
          <div class='tab-pane' id='b14'>
            <h4>EVENT FORMAT:</h4><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> Registrations will be done on the spot during Elan & ηvision 2018.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Each Team must consist of 2 members.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The following materials will be provided to you:<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Nail polishes<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<i class='fa fa-circle' style='font-size:8px;'></i> Nail art pens<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> The event goes on for all the three days during the fest.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Winners will be declared for each of the three days.</p>
          </div>
          <div class='tab-pane' id='c14'>
            <h4>RULES AND REGULATIONS:</h4><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> Contestants shall use only the paints provided to them by the organizers.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> There will be a time limit of 7 minutes and you should complete in that time.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The decision of the judges and the organisers is final and abiding.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The organising team has the complete right to change the prize money if the participation is less than five.</p>
            <h4>JUDGING CRITERIA:</h4><p> Neatness<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Time duration<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Attractiveness</p>
          </div>
          <div class='tab-pane' id='d14'>
            <h4>PRIZES:</h4><p>
            Prizes worth Rs.1,000*/-</p>
            <p>Prizes will be given after April 2nd 2019</p>
            <h4>Organizers</h4>
            <p>Shreni - 9032444030</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  

<div id="myNav" class="overlay" style=" background:  linear-gradient(40deg,  #00004d 33%,#990000 63%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;padding-top: 40px; " class="overlay-content">
    <div class="container">
      <h2 style='text-align:center'>Arts Exhibtion</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px; " class="nav-link active"  data-toggle="tab" href="#a13" role="tab"  aria-selected="true">&nbsp;Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#b13" role="tab"  aria-selected="false">&nbsp;Event format</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#c13" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#d13" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
      </ul>



      <div class='tab-content'>
        <div class='tab-pane active' id='a13' role="tabpanel">
          <h4>Introduction</h4>
          <p>Ever visited an art gallery? Ever checked out those portraits costing so much? Which one of those trillion random colour strokes on the canvas you think makes it so expensive? It's all about language of the heart which uses the paints and a brush to put the emotions flowing in a river of imagination on the canvas. And that is "ART".</p>
          <p>'EVERYTHING YOU CAN IMAGINE IS REAL' - Pablo Picasso</p><p>
          <p>Art is an expression,a representation of what a person's vivid thoughts and emotions speak. Every stroke of the brush dipped, every colour chosen, every shade painted, has its own meaning. So here is Elan & ηvision 2018 encouraging you to come up with your meaningful strokes to be a part of its colourful art gallery. The gallery is open to everyone throughout the fest.</p>
        </div>
        <div class='tab-pane' id='b13'>
          <h4>EVENT FORMAT:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i> Registrations can be done online or on the spot.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Participants are to submit finished works of art.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Paintings will be exhibited throughout the fest in Elan & ηvision 2018 gallery.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> The three best paintings will be selected and prizes will be announced on the last day of the fest.</p>
        </div>
        <div class='tab-pane' id='c13'>
          <h4>RULES AND REGULATIONS:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i> Paintings can be either brought in person or can be sent by post.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Entries that are received on or before 22 Feb 2019 will be evaluated. Those received through post during Elan & ηvision 2019 will not be evaluated, only those received in person are evaluated.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> The painting should be at least of A3 size.<bR>
          <i class='fa fa-circle' style='font-size:8px;'></i> Judges and organisers decision is final and binding.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Organizers are not responsible for any delay or damage caused to the entries.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i>The organising team has the complete right to change the prize money if the participation is less than six.</p>
          <h4>JUDGING CRITERIA:</d12><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> Topic<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Creativity<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Coloration Skills</p>
          </div>
          <div class='tab-pane' id='d13'>
            <h4>PRIZES:</h4><p>
            Prizes worth Rs.16,000*/-</p>
            <p>Prizes will be given after April 2nd 2019</p>
            <h4>ORGANISERS:</h4><p>
            Anusree - 9381376466<br> Sowbhagya - 950073918</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  

<div id="myNav5" class="overlay" style=" background:  linear-gradient(40deg,  #00004d 33%,#990000 63%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav5()">&times;</a>
  <div style="text-align:left;padding-top: 40px;" class="overlay-content">
    <div class="container">
      <h2 style='text-align:center'>Face Painting:</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a12" role="tab"  aria-selected="true">&nbsp;Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b12" role="tab"  aria-selected="false">&nbsp;Event format</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c12" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d12" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
      </ul>



      <div class='tab-content'>
        <div class='tab-pane active' id='a12' role="tabpanel">
          <h4>Introduction</h4>
          <p>Wanna have some fun with painting?. You think you can have a face funkier than infamous "THE MASK". Then here's something interesting for you. Elan & ηvision 2018's Face Painting is back! . Grab a brush and make your friend's face funny and beautiful.</p>
        </div>
        <div class='tab-pane' id='b12'>
          <h4>EVENT FORMAT:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i> Registrations will be done on the spot during Elan & ηvision 2018.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Each Team must consist of 2 members.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> The following materials will be provided to you:<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Cosmetic grade face paint<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Brushes<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Tissues<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> The event goes on for all the three days during the fest.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Winners will be declared for each of the three days.<br></p>
        </div>
        <div class='tab-pane' id='c12'>
          <h4>RULES AND REGULATIONS:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i> There are no theme constraints. All kinds of themes and patterns are allowed.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Participants should use only the materials provided by the organizers.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Decision of judge and the organisers shall be final and abiding.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> The organising team has the complete right to change the prize money if the participation is less than five..</p>
          <h4>JUDGING CRITERIA:</h4><p> <i class='fa fa-circle' style='font-size:8px;'></i> Creativity<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Time taken<br></p>
        </div>
        <div class='tab-pane' id='d12'>
          <h4>PRIZES:</h4><p>
          Prizes worth Rs.1,000*/-</p>
          <p>Prizes will be given after April 2nd 2019</p>
          <h4>ORGANISERS:</h4>
          <p>Sharanya - 9394746379</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>  

</div>

<script type="text/javascript" src="/js/canva-cul.js"></script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
 AOS.init();
</script>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>