<!DOCTYPE html>
<html>
<head><!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105307113-2');
  </script>
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"/>
  <title>Culti | Elan & &eta;vision'19</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
  <meta name="copyright" content="ELAN & ηvision 2019">
  <meta name="author" content="ELAN & ηvision 2019  ">
  <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
  <meta name="theme-color" content="#283389">
  <meta property="og:site_name" content="ELAN & ηvision 2019">
  <meta property="og:title" content="ELAN & ηvision 2019">
  <meta property="og:type" content="website">
  <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
  <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  <link rel="stylesheet" href="/styles/canva.css">
  <link rel="stylesheet" href="/styles/all.css">
  <link rel="stylesheet" href="/styles/techy.css">
  <script type="text/javascript">
    window.history.replaceState("", "", '/dance');
    function openNav() {
      document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.height = "0%";
    }
    function openNav1() {
      document.getElementById("myNav1").style.height = "100%";
    }

    function closeNav1() {
      document.getElementById("myNav1").style.height = "0%";
    }
    function openNav2() {
      document.getElementById("myNav2").style.height = "100%";
    }

    function closeNav2() {
      document.getElementById("myNav2").style.height = "0%";
    }

    function openNav3() {
      document.getElementById("myNav3").style.height = "100%";
    }

    function closeNav3() {
      document.getElementById("myNav3").style.height = "0%";
    }
    function openNav4() {
      document.getElementById("myNav4").style.height = "100%";
    }

    function closeNav4() {
      document.getElementById("myNav4").style.height = "0%";
    }
  </script>
</head>
<body>
  <canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
          <a href="/ca">Campus Ambassador</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }
    
  </script>
  <div class="container" style="margin-top: 10%">
    <div class="scrollmenu">
     <a href="/views/culti/dance.html">&nbsp;DANCE</a>
      <!--<a href="/equilibria">&nbsp;EQUILIBRIA</a>
      <a href="/ecell">&nbsp;E-CELL</a>-->
      <a href="/views/culti/music.html">&nbsp;MUSIC</a>
      <a href="/views/culti/drama.html">&nbsp;DRAMA</a>
      <a href="/views/culti/moviemaking.html">&nbsp;MOVIE-MAKING</a>
      <a href="/views/culti/art.html">&nbsp;ART</a>  
      <a href="/views/culti/photography.html">&nbsp;PHOTOGRAPHY & RADIO EVENT</a>
      <!--<a href="/quizzes">&nbsp;QUIZZES</a>
      <a href="/online">&nbsp;ONLINE</a>
      <a href="/quadcopter">&nbsp;QUADCOPTER</a>
      <a href="/pp">&nbsp;PAPER PRESENTATION</a>-->
    </div>
    <h2 style="margin-top:20px; text-align: center;">DANCE</h2>
    <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
      <div class="col-sm-6 text-center">
        <div class="img-wrapper culti">
          <div onclick="openNav2()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/Portfolio-pic5.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Street Battle</h3>
                <button type="button" class="btn" style="margin-top:10px;">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="img-wrapper culti">
          <div onclick="openNav()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/breakfree.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Breakfree</h3>
                <button type="button" class="btn" style="margin-top:10px;">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

      <div class="col-sm-6 text-center">
        <div class="img-wrapper culti">
          <div onclick="openNav1()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/Portfolio-pic6.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Nrithyanjali</h3>
                <button type="button" class="btn" style="margin-top:10px;">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" style="margin-top:10px;"onclick="">Details</button>

              </div>
            </div>
          </div>
        </div>



      </div>
    </div>

     



    <div id="myNav2" class="overlay" style="background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
      <div style="text-align:left; " class="overlay-content">
        <div class="container" style="padding-top: 40px;">
          <h2 style='text-align:center'>Step up:Street dance battles</h2>
          <!-- Nav tabs -->

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a style="font-size: 15px; " class="nav-link active"  data-toggle="tab" href="#a2" role="tab"  aria-selected="true">Introduction</a>
            </li>
            <li class="nav-item">
              <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#b2" role="tab"  aria-selected="false">&nbsp;Event format</a>
            </li>
            <li class="nav-item">
              <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#c2" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
            </li>
            <li class="nav-item">
              <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#d2" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
            </li>
            <li class="nav-item ml-auto" >
              <a style="font-size: 25px;" class="nav-link"  >&nbsp;Register</a>
            </li>
          </ul>



          <div class='tab-content'>
            <div class='tab-pane active' id='a2' role="tabpanel">
              <h4>Introduction</h4>
              <p>You think you’ve mastered a dance form? Show-off your dancing skills in the one-on-one face-off and prove yourself. Mesmerise the crowd with your insanely good dance steps and make ‘em go crazy. Engage everyone in this intense battle, where your moves are your weapons. Elan & ηvision 2019 brings to you the street dance battle. </p>
            </div>
            <div class='tab-pane' id='b2' role="tabpanel">
              <h4>EVENT FORMAT:</h4><p>
              <i class='fa fa-circle' style='font-size:10px;'></i> Team size:2-8 members.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> Event will be conducted in two rounds<br>&nbsp;&nbsp;&nbsp;1. Qualifying Round <br>&nbsp;&nbsp;&nbsp;2. Final Round<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> In the qualifying round, teams will have to dance for a random track played for 1 min. from the set of 10 tracks released a day before the event.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> The tracks for the qualifying round will be updated in the <a href="https://docs.google.com/document/d/19DjMd2vuguGid06dPWIAG8CYvLvjrWe-JP_3HOSFXB0/edit?usp=sharing">docs</a><br>
              <i class='fa fa-circle' style='font-size:10px;'></i> Eight teams will be selected for the final round. <br>
              <i class='fa fa-circle' style='font-size:10px;'></i> In the final round, teams will battle in a one-on-one face-off. <br>
              <i class='fa fa-circle' style='font-size:10px;'></i> Tracks will be played randomly for the face-offs, <br>
              <i class='fa fa-circle' style='font-size:10px;'></i> Battles/byes will be decided by picking up chits. <br>
              <i class='fa fa-circle' style='font-size:10px;'></i> Each battle consists of three rounds. <br>
              <i class='fa fa-circle' style='font-size:10px;'></i> Each battle will be of 4 mins.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> Each round of a battle will be of 40 seconds each. <br>
              <i class='fa fa-circle' style='font-size:10px;'></i> The team which will go first will be decided by a toss at the beginning of the battle and there after the next team will go first in the next round and again the first team in the third round.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> In each round both teams will have to perform on the same song.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> Third round of each match will be a solo/duo type battle.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> Any routine solo/duo/group should be performed for at least 30 seconds in a round. </p>
            </div>
            <div class='tab-pane' id='c2' role="tabpanel">
            </p><h4>RULES AND REGULATIONS:</h4><p>
            <p><i class='fa fa-circle' style='font-size:10px;'></i> Registrations can be done online or on-spot.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> On-spot registrations close 3 hours prior to the commencement of the event.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> All sorts of western dance forms are allowed.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> Participants should choose only one dance form and choreograph the track accordingly.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> Any kind of inappropriate behaviour will lead to disqualification.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> The organising team has the complete right to change the prize money if the participation is less than ten.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> The following is a list of popular Street Dance styles from early foundation to present:
            </p>
            <ul style="margin-left: 50px;">
              <li>Locking</li>
              <li>Popping</li>
              <li>Bboying / Bgirling (breaking)</li>
              <li>Waacking / Punking </li>
              <li>Vogueing</li>
              <li>House Dance</li>
              <li>Party Dances or Club Dances (popular or trendy dances)</li>
              <li>Hip Hop Dance / Choreography</li>
              <li>Krumping  </li>
              <li>Stepping / Gumboot</li>
            </ul>
          </p><h4>JUDGING CRITERIA:</h4><p>
          <p> <i class='fa fa-circle' style='font-size:10px;'></i> Musicality<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> Synchronization and execution<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> Energy<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> Overall impact<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> Creativity/power moves</p>
          </div>
          <div class='tab-pane' id='d2' role="tabpanel">
            <h4>PRIZES:</h4><p>
              Prizes worth Rs.*/-</p>
              
              <h4>ORGANISERS:</h4><p>
              Will be Updated soon.</p>
              <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<div id="myNav1" class="overlay" style="background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left; " class="overlay-content">
    <div class="container" style="padding-top: 40px;">
      <h2 style='text-align:center'>Nrithyanjali: A Classical Dance Competition</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px; " class="nav-link active"  data-toggle="tab" href="#a1" role="tab"  aria-selected="true">Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;  " class="nav-link"  data-toggle="tab" href="#b1" role="tab"  aria-selected="false">&nbsp;Event format</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#c1" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px; " class="nav-link"  data-toggle="tab" href="#d1" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
        <li class="nav-item ml-auto" >
          <a style="font-size: 25px;" class="nav-link"  >&nbsp;Register</a>
        </li>
      </ul>


      <div class='tab-content'>
        <div class='tab-pane active' id="a1" role="tabpanel">
          <h4>Introduction</h4>
          <p>Dance, as we know ,is one of the 64 forms of art in the Indian Culture. It embodies all forms of physical art and learning. It is a kinetic form of body language expressed in unarticulated emotions. Classical dance is the fusion of mind's emotions and body's articulate movements. So, we call upon all the classical dancers to come and produce the medly of most graceful and most expressive.<br>
            Come and drown yourself in divine, grace, beauty, tenderness to delight the eyes and souls of the viewers.</p>
          </div>
          <div class='tab-pane' id="b1" role="tabpanel">
            <h4>EVENT FORMAT:</h4>
            <p><i class='fa fa-circle' style='font-size:10px;'></i> Event consists of only one round and the results are decided by the judge.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> The competition is open only to college students with a valid ID card.<br>
              <i class='fa fa-circle' style='font-size:10px;'></i> You can perform in any Indian classical dance form [we'd love to see Bharatanatyam, Kuchipudi, Odissi, Mohiniyattam and others]. However there are no separate judging categories for the different forms.<br>
            </div>
            <div class='tab-pane' id="c1" role="tabpanel">
            </p><h4>RULES AND REGULATIONS:</h4><p>
            <i class='fa fa-circle' style='font-size:10px;'></i> Semi-classical/ classical on Bollywood songs are strictly not allowed.<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> Live music is not allowed.<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> The participants will perform on pre-recorded music which should be brought in a pen drive by the participants.<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> Participants would be given a maximum performance time of 10 minutes and the performance should last for a minimum of 5 mins, anyone exceeding this time limit will get penalty of points.<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> There will be a small weightage for costumes. Dance should consist of both Nritya and Abhinaya.<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> Participants will have to bring their own costumes, accessories and make-up for the competition.<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> Any illegal or unethical act related to the competition and or on its stage, auditorium premises will lead to immediate disqualification.<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> Points will be awarded for rhythm, choice of song and dance, expression, costumes and synchronization.<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> Organizers decision is final and binding to all.<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> Obscenity of any kind is not allowed and will lead to immediate disqualification.<br>
            <i class='fa fa-circle' style='font-size:10px;'></i> The organising team has the complete right to change the prize money if the participation is less than five.<br>
          </p><h4>JUDGING CRITERIA:</h4><p>
          <i class='fa fa-circle' style='font-size:10px;'></i> Rhythm<br>
          <i class='fa fa-circle' style='font-size:10px;'></i> Choice of song and dance<br>
          <i class='fa fa-circle' style='font-size:10px;'></i> Expressions<br>
          <i class='fa fa-circle' style='font-size:10px;'></i> Costume<br></p>
        </div>
        <div class='tab-pane' id="d1" role="tabpanel">
          <h4>PRIZES:</h4><p>
              Prizes worth Rs.*/-</p>
              
              <h4>ORGANISERS:</h4><p>
              Will be Updated soon.</p>
              <br>
      </div>
    </div>
  </div>
</div>
</div>
</div>








<!--breakfree-->
<div id="myNav" class="overlay" style="background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <!--<span class="order" style="position:absolute;padding-top:20px;">Register</span>-->
  <div style="text-align:left;" class="overlay-content">
    <div class="container" style="padding-top: 40px;">
    <h2 style='text-align:center'>Breakfree:Western Dance Competition (HHI Auditions)</h2>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" >
            <a style="font-size: 15px;" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Introduction</a>
          </li>
          <li class="nav-item">
            <a style="font-size: 15px;" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Group Dance</a>
          </li>
          <li class="nav-item">
            <a style="font-size: 15px;" class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Solo Dance</a>
          </li>
          <li class="nav-item">
            <a style="font-size: 15px;" class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Duet</a>
          </li>
          <li class="nav-item">
            <a style="font-size: 15px;" class="nav-link" id="last-tab" data-toggle="tab" href="#last" role="tab" aria-controls="last" aria-selected="false">Organizers & Prizes</a>
          </li>
          <li class="nav-item ml-auto" >
            <a style="font-size: 25px;" class="nav-link"  >&nbsp;Register</a>
          </li>
        </ul>

        <!-- Tab panes -->

        


        <div class='tab-content'>
          <div  class="tab-pane active " id="home" role="tabpanel" aria-labelledby="home-tab">
            <div >
              <h2>Introduction</h2>
            </div>
            <p>Welcome to the true culture of break dance. Elan & ηvision 2019 provides a platform for all the passionate dancers to show their talent and mesmerize the audience. Breakfree has always been one the most awaited events of Elan & ηvision.It consists of ‘three’ categories, namely:<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.Group Dance<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.Solo Dance<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.Duet<br><br>
              Adding to the enthusiasm of the event,this year Breakfree is associating with <i>HIP-HOP INTERNATIONAL(HHI) INDIA </i>to conduct the regional auditions of Indian Hip Hop Dance Championship for Hyderabad during the three days of the fest.<br>
              HIP-HOP INTERNATIONAL(HHI) INDIA is the only International dance platform in India and Indian Hip Hop Dance Championship is India’s most celebrated dance festival.<br><br>
              'Pick your body up and drop it on the floor<br>
              We never quit, we never rest on the floor<br>
              If I ain't wrong we'll probably die on the floor'<br>
              - Lines from Jlo's 'on the floor'.<br><br> If you really dance from the heart, if dance runs through your veins and if dance is in every minute of your life, then this is where you should be!<br>
              So rise and dance.<br>
              Dance with energy and show us whatchya got!!</p>
            </div>
            <div class='tab-pane' id="profile" role="tabpanel" aria-labelledby="profile-tab"><br> <h2>Group Dance</h2> 
              <p>Coordination is what matters when it comes to a group performance. It is a group dance event where one can show off their individual talents or spellbind the crowd with their coordination. It's time to move n shake n drop it.</p>
              <h4>EVENT FORMAT:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> The Event will be conducted in 1 round at the IIT Hyderabad campus.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Minimum size of the team-6 and maximum size of the team-30.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> All the teams who have registered shall participate in the competition.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> During the whole competition, at any given time, minimum of 4  performers should be on the stage and a maximum of 20 performers should be on the stage.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The song must be of 3-5 minutes long for finals.</p>
              <h4>REGISTRATION:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> Only on-line registrations allowed for this event.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The head of the team should register online with the participant names ,contact number and crew name.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Each team will receive a confirmation mail back with the details of the team.<br>
              <i class='fa fa-circle' style=' font-size:8px;'></i> Teams should bring the print out of the confirmation mail.</p>
              <h4>RULES AND REGULATIONS:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> Each team should contain a head to represent the team.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> All western dance forms are permitted.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Each team should contain a minimum of 6 participants.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Organizers will not provide the songs that participants require. Teams should bring their songs in a pendrive.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Teams should bring their own props but they should use them only with the approval of the organizers.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Any kind of fluid or flame is not allowed on the stage.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Each team would be given 3 mins of time for stage rehearsal and a stage setup time of 1 min.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The decision of the organizers and judges shall be final and binding.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The result for the event will be declared immediately after all the performances have been completed.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i>The organising team has the complete right to change the prize money if the participation is less than twenty-five.<br></p>
              <h4>JUDGING CRITERIA:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> Musicality<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Creativity<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Music Mix<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Stage Use<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Performance<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Crowd Appeal<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Synchronization<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Difficulty of Execution<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Formation and Transaction<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Attire</p>
            </div>
            <div class='tab-pane' id="messages" role="tabpanel" aria-labelledby="messages-tab"><br>
              <h4>LOOSE YOUR FEET</h4><p>Got your own dance style you think you've mastered?<br>
              An event for pro solo dancers, make the crowd go crazy with those awesome, super cool moves of yours!<br>
              <h4>EVENT FORMAT:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> The event will be conducted in 1 round at the IIT Hyderabad campus.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Performance duration should be 2-3 min for final.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> For prelims and final you have to bring your own song. You cannot repeat dance steps or moves. You can get similar music beats, but not similar dance steps.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Participants should bring their music/song in a pen drive and save the track on your name.</p>
              <h4>RULES AND REGULATIONS:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> Registration can be done online and on-spot.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> You can perform any type of non-classical dance like hip-hop, stepping, popping, etc.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Participants should produce their ID card at the registration desk.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Props are allowed but heavy props like chairs, tables can be arranged. But you have to inform the event manager by mail or on phone at least 1 day before event.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> No fire, water and heavy objects be used in stage.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> No indecency/obscenity will be tolerated on stage.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Judges and coordinators decisions will be final and binding. There are no arguments in this regard.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The organising team has the complete right to change the prize money if the participation is less than ten.</p>
              <h4>JUDGING CRITERIA:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> Musicality<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Creativity<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Stage Use<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Performance<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Crowd Appeal<br>
            </p></div>
            <div class='tab-pane' id="settings" role="tabpanel" aria-labelledby="settings-tab"><br>
              <h4>DUET</h4><p>A perfect event for a pair of dancers. Participants need to showcase their talent by dancing in duo. Could be couple or anyone who can dance to the grooves coordinating each other which is by the way very essential part of this event</p>
              <h4>EVENT FORMAT:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> The event consists of 1 round which would take place agt the IIT Hyderabad’s campus.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The participants can either register online or on-spot.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> All the duos that’ve been registered shall participate in the competition.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The prelims performance should last 2-3 mins long.</p>
              <h4>RULES AND REGULATIONS:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> Registrations should be done online.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> One of the two members in the duo should register with their name and contact number.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The team should consist of two participants irrespective of their gender.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> You can perform any type of non-classical dance like hip-hop, stepping, popping etc.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Participants should produce their ID card at the registration desk.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> An additional time of 2 minutes will be given for settling.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Props are allowed but heavy props like chairs, tables can be arranged. But you have to inform the event manager by mail or on phone at least 1 day before event.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> No fire, water and heavy objects be used in stage.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> No indecency/obscenity will be tolerated on stage.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The organising team has the complete right to change the prize money if the participation is less than ten.</p>
              <h4>JUDGING CRITERIA:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> Musicality<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Creativity<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Synchronization<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Stage Use<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Performance</p>
            </div>
            <div class='tab-pane' id="last" role="tabpanel" aria-labelledby="last-tab">
              <h4>PRIZES:</h4><p>
              Prizes worth Rs.*/-</p>
              
              <h4>ORGANISERS:</h4><p>
              Will be Updated soon.</p>
              <br>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




</div>
</div>
<script type="text/javascript" src="/js/canva-cul.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
 AOS.init();
</script>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>