<!DOCTYPE html>
<html>
<head><!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105307113-2');
  </script>
    <title>Culti | Elan & &eta;vision'19</title>
     <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width"/>
     <title>Culti | Elan & &eta;vision'19</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
     <meta name="copyright" content="ELAN & ηvision 2019">
     <meta name="author" content="ELAN & ηvision 2019  ">
     <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
     <meta name="theme-color" content="#283389">
     <meta property="og:site_name" content="ELAN & ηvision 2019">
     <meta property="og:title" content="ELAN & ηvision 2019">
     <meta property="og:type" content="website">
     <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
     <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">

   
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
     <link rel="stylesheet" href="/styles/canva.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/techy.css">
    <script type="text/javascript">
        window.history.replaceState("", "", '/moviemaking');
         function openNav() {
          document.getElementById("myNav").style.height = "100%";
     }

     function closeNav() {
          document.getElementById("myNav").style.height = "0%";
     }
      function openNav1() {
          document.getElementById("myNav1").style.height = "100%";
     }

     function closeNav1() {
          document.getElementById("myNav1").style.height = "0%";
     }
    </script>
</head>
<body>
  <canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
          <a href="/ca">Campus Ambassador</a>
          <a href="/online">Online Events</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }

  </script>
     <div class="container" style="margin-top: 10%">
      <div class="scrollmenu">
<a href="/views/culti/dance.html">&nbsp;DANCE</a>
      <!--<a href="/equilibria">&nbsp;EQUILIBRIA</a>
      <a href="/ecell">&nbsp;E-CELL</a>-->
      <a href="/views/culti/music.html">&nbsp;MUSIC</a>
      <a href="/views/culti/drama.html">&nbsp;DRAMA</a>
      <a href="/views/culti/moviemaking.html">&nbsp;MOVIE-MAKING</a>
      <a href="/views/culti/art.html">&nbsp;ART</a>  
      <a href="/views/culti/photography.html">&nbsp;PHOTOGRAPHY & RADIO EVENT</a>
      <!--<a href="/quizzes">&nbsp;QUIZZES</a>
      <a href="/online">&nbsp;ONLINE</a>
      <a href="/quadcopter">&nbsp;QUADCOPTER</a>
      <a href="/pp">&nbsp;PAPER PRESENTATION</a>-->
      </div>
        <h2 style="margin-top:20px; text-align: center;">MOVIE-MAKING</h2>
       <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
       <div  class=" col-sm-6 text-center" >
      <div class="img-wrapper culti">
        <div onclick="openNav1()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/filmfare.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Film Fare Fiesta</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/reg_team/event_filmFiesta';">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>
          </div>
          </div>
        </div>
      </div>
    </div>
     <div  class=" col-sm-6 text-center" >
      <div class="img-wrapper culti">
        <div onclick="openNav()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/Screenwriting.jpeg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">ScreenWriting</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/register_screenwriting';">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>
          </div>
          </div>
        </div>
      </div>
    </div>
    
</div>

<div id="myNav1" class="overlay" style="background:  linear-gradient(140deg,  #006666 33%, #663d00 63%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
    <div class="container" style="padding-top: 40px;">
      <h2 style='text-align:center'>Film Fare Fiesta: A Short film Competition</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a10" role="tab"  aria-selected="true">&nbsp;Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b10" role="tab"  aria-selected="false">&nbsp;Event format</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c10" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d10" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
        <li class="nav-item ml-auto" >
           <a style="font-size: 35px;" class="nav-link" onclick="window.location.href='/reg_team/event_filmFiesta';" >&nbsp;Register</a>
        </li>
      </ul>





      <div class='tab-content'>
        <div class='tab-pane active' id='a10' role="tabpanel">
          <h4>Introduction</h4>
          <p>Do you think you can take after Steven Spielberg, Christopher Nolan and James Cameron? Make your own short film, enthral and captivate movie buffs with your creativity. The stage at Elan & ηvision 2019 is set for you. Get judged by esteemed people in film industry.</p>
        </div>
        <div class='tab-pane' id='b10'>
          <h4>EVENT FORMAT:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i>  All the entries are judged on the first day to shortlist 6 out of them. <br>
          <i class='fa fa-circle' style='font-size:8px;'></i>Team Size: At most 15 in the core team(No particular limit for actors in the film)
</p>
        </div>
        <div class='tab-pane' id='c10'>
          <h4>RULES AND REGULATIONS:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i> Run time should not be more than 20 minutes<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Atleast one member from each team should be present while the judgement is taking place.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Movie should be shot at a minimum resolution of 480 pixels. Marks might be reduced due to poor video/ audio quality.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Entries must be the original work of the entrant.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Any attempt at copyright infringement can lead to immediate disqualification.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> The content of the movie should be appropriate for public screening and thus have no vulgarity. Obscenity (at the discretion of the judges) of any kind is not allowed and will lead to immediate disqualification.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Sound tracks (no max time limit) and stock footage (time limit : max of 1 min 30 seconds) can be borrowed, but with due credits.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Films in languages other than English, Hindi, and Telugu should be accompanied with subtitles.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Participants should send their videos/youtube links of the videos to yashodhan@elan.org.in.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Only those short films which are shot and released after 1st April 2018 would be accepted.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> The decision of the organizers and the judges is final and binding. <br>
          <i class='fa fa-circle' style='font-size:8px;'></i> The organising team has the complete right to change the prize money if the participation is less than six. <br></p>
          <h4>JUDGING CRITERIA:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i> Acting<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Script<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Direction<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Screenplay<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Costumes<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Dialogues<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Cinematography<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Sound editing/ mixing<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Visual effects<br></p>
        </div>
        <div class='tab-pane' id='d10'>
          <h4>PRIZES:</h4><p>
              Prizes worth Rs.15,000/-<br>
              Prizes will be given after April 2nd 2019

</p>
              
              <h4>ORGANISERS:</h4><p>
             Lalithya - 6300305909 <br>        Ujwal - 7337007500

</p>
              <br>
      </div>
    </div>
  </div>
</div>
</div>
</div>

  <div id="myNav" class="overlay" style="background:  linear-gradient(140deg,  #006666 33%, #663d00 63%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container" style="padding-top: 40px;">

    <h2 style='text-align:center'>Screen Writing</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a2" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b2" role="tab"  aria-selected="false">&nbsp;Event Format</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c2" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d2" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
  <li class="nav-item ml-auto" >
    <a style="font-size: 35px;" class="nav-link" onclick="window.location.href='/register_screenwriting';" >&nbsp;Register</a>
  </li>
</ul>

  
        
      <div class='tab-content'>
        <div class='tab-pane active' id='a2' role="tabpanel">
          <h4>Introduction</h4>
          <p>Do you think you can mesmerize audience with your screenplay and make them sit on the edges of their seats throughout ? Then, Elan & ηvision 2019 challenges you with its first ever screenwriting competition.</p>
        </div>
        <div class='tab-pane' id='b2'>
          <h4>EVENT FORMAT:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i>  Each team has to submit an original screenplay of a scene (based on the theme/situation) of not more than 5 minutes of screentime. </p>
        </div>
        <div class='tab-pane' id='c2'>
          <h4>RULES AND REGULATIONS:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i> ScreenplayEach team will be provided with a theme/situation by the organiser.<br>
           <i class='fa fa-circle' style='font-size:8px;'></i> Must be well formatted. For example, one page of your screenplay should be equivalent to one minute of screentime.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Participants should submit their work in 5 hours to the organiser.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Time exceeding penalties:<br>
          15 min after deadline - 5 marks
          30 min after deadline- 10 marks
          60 min after deadline- 20 marks
          <i class='fa fa-circle' style='font-size:8px;'></i> Organisers will not accept the scripts after 1 hour of the deadline.<br>

          </p>
          <h4>JUDGING CRITERIA:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i> Content/Story<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Formatting of the screenplay
         </p>
        </div>
        <div class='tab-pane' id='d2'>
          <h4>PRIZES:</h4><p>
          Prizes worth Rs.5,000/-<br>
        Prizes will be given after April 2nd 2019</p>
        <h4>ORGANISERS:</h4><p>
        Anuraag M - 6303332672

</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>


  </div>
</div>
<script type="text/javascript" src="/js/canva-cul.js"></script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
     AOS.init();
</script>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>