<!DOCTYPE html>
<html>
<head>
  <title>Robotics</title>
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"/>
  <title>Culti | Elan & &eta;vision'19</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
  <meta name="copyright" content="ELAN & ηvision 2019">
  <meta name="author" content="ELAN & ηvision 2019  ">
  <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
  <meta name="theme-color" content="#283389">
  <meta property="og:site_name" content="ELAN & ηvision 2019">
  <meta property="og:title" content="ELAN & ηvision 2019">
  <meta property="og:type" content="website">
  <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
  <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  <link rel="stylesheet" href="/styles/canva.css">
  <link rel="stylesheet" href="/styles/all.css">
  <link rel="stylesheet" href="/styles/techy.css">
  <script type="text/javascript">
    window.history.replaceState("", "", '/music');
  </script>
</head>
<body>
  <canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }
  </script>
  <div class="container" style="margin-top: 10%">
    <div class="scrollmenu">
      <a href="/views/culti/dance.html">&nbsp;DANCE</a>
      <!--<a href="/equilibria">&nbsp;EQUILIBRIA</a>
      <a href="/ecell">&nbsp;E-CELL</a>-->
      <a href="/views/culti/music.html">&nbsp;MUSIC</a>
      <a href="/views/culti/drama.html">&nbsp;DRAMA</a>
      <a href="/views/culti/moviemaking.html">&nbsp;MOVIE-MAKING</a>
      <a href="/views/culti/art.html">&nbsp;ART</a>  
      <a href="/views/culti/photography.html">&nbsp;PHOTOGRAPHY</a>
      <!--<a href="/quizzes">&nbsp;QUIZZES</a>
      <a href="/online">&nbsp;ONLINE</a>
      <a href="/quadcopter">&nbsp;QUADCOPTER</a>
      <a href="/pp">&nbsp;PAPER PRESENTATION</a>-->
    </div>
    <h2 style="margin-top:20px; text-align: center;">MUSIC</h2>
    <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

      <div class="col-sm-6 text-center">
        <div class="img-wrapper">
          <div onclick="openNav()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/vibrazione.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Vibrazione</h3>
                <h4 style="margin-top:0px;">Coming Soon</h4>


              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="col-sm-6 text-center">
        <div class="img-wrapper">
          <div onclick="openNav1()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/octave.png"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Octaves</h3>
                <h4 style="margin-top:0px;">Coming Soon</h4>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

      <div class="col-sm-6 text-center">
        <div class="img-wrapper">
          <div onclick="openNav()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/djwars.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">DJ Wars</h3>
                <h4 style="margin-top:0px;">Coming Soon</h4>


              </div>
            </div>
          </div>
        </div>



      </div>
    </div>


    <div id="myNav3" class="overlay" style="background: linear-gradient(120deg, #cca300 40%, rgba(0,0,0,0) 40%), linear-gradient(120deg,#a31aff 60%,   #ff3399 60%);">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
      <div style="text-align:left;" class="overlay-content">
        <div class="container">
          <h2 style='text-align:center'>Line Robo</h2>
          <!-- Nav tabs -->

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a4" role="tab"  aria-selected="true">&nbsp;Introduction</a>
            </li>
            <li class="nav-item">
              <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b4" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
            </li>
            <li class="nav-item">
              <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c4" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
            </li>
            <li class="nav-item">
              <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d4" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
            </li>
          </ul>



          <div class='tab-content'>
            <div class='tab-pane active' id='a4' role="tabpanel">
             <h4>Introduction</h4>
             <p>Robotics events are incomplete without a line follower competition. A simple black line on a white background and your robot must follow it. The track is filled withbends and curves.The task is to build an autonomous robot which is capable of traversing a black line on a white background. </p>
             <p>Event will be on 10th or 11th Febuary 2018</p>
           </div>
           <div class='tab-pane' id='b4'>
            <h4>Problem Statement</h4>
            <p><br><a  href='/static/pdf/linerobo.pdf'><button class='btn2'>Problem statement PDF</button></a></p>
          </div>
          <div class='tab-pane' id='c4'>
            <h4>RULES AND REGULATIONS</h4><p>
            1.A team may consist of a maximum of 2 members.<br>
            2.No person can be a part of more than one team.<br>
            3.All students must carry a valid identity card<br>
            4.All members of team need to register for the event<br>
            5.Students from different educational institutes can form a team.<br>
            6.Organizer’s decision shall be treated as final and binding on all.</p>
            <h4>Certificate Policy:</h4><p>
            1. Certificate of Merit and Prizes will be given for the top two teams.<br>
            2. Participation Certificate will be given for those who registered online and participated in the event.<br>
            3. Participation Certificate is not guaranteed for those who registered on spot for the event.</p>
          </div>
          <div class='tab-pane' id='d4'>
            <h4>Prize</h4>
            <p>Prizes Worth INR 15,000*/-</p>
            <p>Prizes will be given after April 2nd 2018</p>
            <h4>Organisers</h4>
            <p>Baasha-9848604799<br>Khaja Redyy-7382013283<br>Sunil varma- 8317682299<br>Srihith paruchuru- 8332003346</p>
            <h4>Contact:</h4>
            <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="myNav2" class="overlay" style="background: linear-gradient(60deg, #33ff33 40%, rgba(0,0,0,0) 40%), linear-gradient(60deg ,#ff4da6 60%,  #008040 60%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
    <div class="container">
      <h2 style='text-align:center'>Robo-Pirates</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a3" role="tab"  aria-selected="true">&nbsp;Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b3" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c3" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d3" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
      </ul>



      <div class='tab-content'>
        <div class='tab-pane active' id='a3' role="tabpanel">
          <h4>Introduction</h4>
          <p>Too bored with ground based robot events, you have come to the right place. Pirates is a ‘one of a kind’ event where you are given the platform to create your own robot which floats and navigates on water. Starting from scratch, you get the chance to showcase your creativity and awaken the little engineer in you.</p>
          <p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b3'>
          <h4>Problem statement</h4>
          <p>Make a wired/wireless which can float on water and can perform pick-n-place task …Like manipulating cubes and balls…….</p>
          <p><br><a  href='/static/pdf/pirates.pdf'><button class='btn2'>Problem statement PDF</button></a></p>
        </div>
        <div class='tab-pane' id='c3'>
          <h4>General Rules</h4><p>
          1.  The teams must adhere to the spirit of healthy competition. The teams must not damage the opponent's machine in any way. Judges reserve the right to disqualify any team indulging in misbehavior.<br>
          2.  The mechanism used cannot be changed completely during the competition. Only parts can be replaced in case of repair.<br> 3.  Any team that is not ready at the time specified will be disqualified from the competition automatically.<br>
          4.  The machine would be checked for its safety before the race and would be discarded if found unsafe for other teams and spectators.<br>
          5.  Decision of the judges shall be treated as final and binding on all.<br>
          6.  A team must consist of 3 or less participants.<br> 7.  Students from different educational institutes can form a team.<br> 8.  All students with a valid identity card of their respective educational institutes are eligible to participate in the event.<br>
          <h4>Judging criteria</h4><p>
          1.  The team who score maximum points in 4 minutes will be the winner of that knockout round.<br>
          2.  If at any moment score of any team exceeds 350 then it will be the winner.<br> 3.  In case of TIE, teams will be given extra time, during which the team who scores first will be the winner of that round.<br>
          4.  Certificate of Excellence will be awarded to all winners (only first and second).<br>
          5.  Certificates of Participation will be given to all the teams who have qualified.<br>
          6.  Disqualified teams will not be considered for any certificates.</p>
        </div>
        <div class='tab-pane' id='d3'>
          <h4>Prize</h4>
          <p>Prizes Worth INR 25,000*/-</p>
          <p>Prizes will be given after April 2nd 2018</p>
          <h4>Organisers:</h4>
          <p>Shanmukha Rao Samanthula-9000273721<br>Maniteja -9010774589<br>Abhilash-97013 40387<br>Venkat-9494219983</p>
          <h4>Contact:</h4>
          <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<div id="myNav1" class="overlay" style="background: linear-gradient(40deg, #008055 40%, rgba(0,0,0,0) 40%), linear-gradient(170deg,#a31aff 60%,   #ff3399 60%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
    <div class="container">
      <h2 style='text-align:center'>RoboSoccer</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a2" role="tab"  aria-selected="true">&nbsp;Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b2" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c2" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d2" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
      </ul>



      <div class='tab-content'>
        <div class='tab-pane active' id='a2' role="tabpanel">
          <h4>Introduction:</h4>
          <p>A soccer freak as well as a Robotics Freak too? well, this event is just for you. RoboSoccer combines the universal excitement and amusement inspired by football, with the thrill and satisfaction of making a working robot from scratch. This event is a platform to showcase their robotics talents and bringing the football spirit alive. Teams are expected to build and operate a manual robot to play one-on-one soccer in a knockout tournament but just with cheering, heckling, massacres, nail-biters and a lot more!</p>
          <p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b2'>
          <h4>Problem Statement:</h4> <p>Build two bots that can kick a table tennis ball into the opponent’s Goal Post following the rules. Use your creativity and come up with innovative kicking mechanisms to smash the ball into the goal post.</p>
          <p><br><a  href='/static/pdf/robosoccer.pdf'><button class='btn2'>Problem statement PDF</button></a></p>
        </div>
        <div class='tab-pane' id='c2'>
          <h4>Judging criteria:</h4>
          <p>Finally, the winner is the team who scores more points at the end of the match. The winning team will be qualified to the next rounds.</p>
          <h4>General Rules:</h4><p>
          1.  Each team can have at max 4 members.<br>
          2.  All students with a valid identity card of their respective educational institutes are eligible to participate.<br> 3.  Students from different educational institutes can form a team.<br>
          4.  In case of any discrepancy, organizers’ decision is final. Arguing with organizer will lead to immediate disqualification.<br>
        </div>
        <div class='tab-pane' id='d2'>
          <h4>Prize:</h4>
          <p>Prizes Worth INR 40,000*/-</p>
          <p>Prizes will be given after April 2nd 2018</p>
          <h4>Organisers:</h4>
          <p>Vagesha Vardhan-9786954979<br>Bhanu Prasad-9100292117<br>N Yashodhan Reddy - 9553999950<br>Manohar Reddy - 7382082375<br>Srihas-7093313695</p>
          <h4>Contact:</h4>
          <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div id="myNav" class="overlay" style="background: linear-gradient(30deg, #3366cc 40%, rgba(0,0,0,0) 40%), linear-gradient(70deg,#994d00 60%,   #408000 60%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
    <div class="container">
      <h2 style='text-align:center'>RoboWars</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a1" role="tab"  aria-selected="true">&nbsp;Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b1" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c1" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d1" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
      </ul>



      <div class='tab-content'>
        <div class='tab-pane active' id='a1' role="tabpanel">
         <h4>Introduction:</h4><p>
         <p>Interested in designing a bot? Want to test your robotic skills? The challenge is to create a robot (manually controlled / autonomous) whose sole purpose is to immobilize or otherwise move your opponent out of the arena within a stipulated time. This event aims to test your Robot against another in a field of combat where brute strength and cat-like reflexes hold the key to success.</p>
         <p>Event will be on 10th or 11th Febuary 2018</p>
       </div>
       <div class='tab-pane' id='b1'>
        <h4>Problem Statement:</h4><p>
        <p><br><a  href='/static/pdf/robowars.pdf'><button class='btn2'>Problem statement PDF</button></a></p>
      </div>
      <div class='tab-pane' id='c1'>
        <h4>Rules and Regulations:</h4>
        <p>1. The maximum size of a team is 4.<br>
          2. A robot that is unsafe, as deemed by the judges, will be disqualified immediately and the opponent robot will be declared as the winner.<br>
          3. The bot is not allowed to leave anything behind during the run. It should not leave any mark on the arena. Any bot found damaging the arena will be immediately disqualified.<br>
          4. If there is any kind of ambiguity in the selection of weapon systems, please clarify the same with the event organizers to avoid further confusion.<br>
          5. The Victory if both bots remain mobile will be based on the judges at their discretion.The judge's decision will be final and the points will be kept confidential.<br>
          6. Changes in rules, if any, will be highlighted on the website.</p>
          <h4>Certificate Policy:</h4><p>
          1. The top 3 teams emerging from this competition will be awarded a Certificate of Excellence.<br>
          2. All teams who have registered online and participated in the event during fest will be awarded a Participation Certificate</p>
        </div>
        <div class='tab-pane' id='d1'>
          <h4>Prize</h4>
          <p> Prizes Worth INR 50,000*/-
            <p>Prizes will be given after April 2nd 2018</p>
          </p>
          <h4>Organisers</h4>
          <p>Abhilash Reddy-8096811565<br>Dinesh Chandra -8555930809<br>Revanth Naik-97012 09025</p>
          <h4>Contact:</h4>
          <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="/js/canva-cul.js"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
 AOS.init();
</script>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>