<!DOCTYPE html>
<html>
<head><!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105307113-2');
  </script>
    <title>Culti | Elan & &eta;vision'19</title>
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"/>
  <title>Culti | Elan & &eta;vision'19</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
  <meta name="copyright" content="ELAN & ηvision 2019">
  <meta name="author" content="ELAN & ηvision 2019  ">
  <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
  <meta name="theme-color" content="#283389">
  <meta property="og:site_name" content="ELAN & ηvision 2019">
  <meta property="og:title" content="ELAN & ηvision 2019">
  <meta property="og:type" content="website">
  <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
  <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  <link rel="stylesheet" href="/styles/canva.css">
  <link rel="stylesheet" href="/styles/all.css">
  <link rel="stylesheet" href="/styles/techy.css">
  <script type="text/javascript">
    window.history.replaceState("", "", '/music');
    function openNav() {
      document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.height = "0%";
    }
    function openNav1() {
      document.getElementById("myNav1").style.height = "100%";
    }

    function closeNav1() {
      document.getElementById("myNav1").style.height = "0%";
    }
    function openNav2() {
      document.getElementById("myNav2").style.height = "100%";
    }

    function closeNav2() {
      document.getElementById("myNav2").style.height = "0%";
    }

  </script>
</head>
<body>
  <canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/accomodation">Accomodation</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
          <a href="/ca">Campus Ambassador</a>
          <a href="/online">Online Events</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }
  </script>
  <div class="container" style="margin-top: 10%">
    <div class="scrollmenu">
      <a href="/views/culti/dance.html">&nbsp;DANCE</a>
      <!--<a href="/equilibria">&nbsp;EQUILIBRIA</a>
      <a href="/ecell">&nbsp;E-CELL</a>-->
      <a href="/views/culti/music.html">&nbsp;MUSIC</a>
      <a href="/views/culti/drama.html">&nbsp;DRAMA</a>
      <a href="/views/culti/moviemaking.html">&nbsp;MOVIE-MAKING</a>
      <a href="/views/culti/art.html">&nbsp;ART</a>  
      <a href="/views/culti/photography.html">&nbsp;PHOTOGRAPHY & RADIO EVENT</a>
      <!--<a href="/quizzes">&nbsp;QUIZZES</a>
      <a href="/online">&nbsp;ONLINE</a>
      <a href="/quadcopter">&nbsp;QUADCOPTER</a>
      <a href="/pp">&nbsp;PAPER PRESENTATION</a>-->
    </div>
    <h2 style="margin-top:20px; text-align: center;">MUSIC</h2>
    <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

      <div class="col-sm-6 text-center">
        <div class="img-wrapper culti">
          <div onclick="openNav2()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/vibrazione.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Campus Idol</h3>
                <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/register_vibrazone';">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="col-sm-6 text-center">
        <div class="img-wrapper culti">
          <div onclick="openNav1()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/octave.png"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">Octaves</h3>
                <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/register_octaves';">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

      <div class="col-sm-6 text-center">
        <div class="img-wrapper culti">
          <div onclick="openNav()" class="flip-card"> 
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/events/djwars.jpg"  alt="Avatar" >
              </div>
              <div class="flip-card-back">
                <h3 style="margin-top:50px;">DJ Wars</h3>
                <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/register_dj_wars';">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" style="margin-top:10px;">Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="myNav" class="overlay" style=" background:  linear-gradient(240deg,  #1f004d 33%, #660029 83%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
    <div class="container" style="padding-top: 40px;">
      <h2 style='text-align:center'>DJ Wars:  A DJ’ying Competition</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a5" role="tab"  aria-selected="true">Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b5" role="tab"  aria-selected="false">&nbsp;Event format</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c5" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d5" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
        <li class="nav-item ml-auto" >
           <a style="font-size: 35px;" class="nav-link" onclick="window.location.href='/register_dj_wars';" >&nbsp;Register</a>
        </li>
      </ul>



      <div class='tab-content'>
        <div class='tab-pane active' id='a5' role="tabpanel">
          <h4>Introduction</h4>
          <p>
            The most awaited event is back with a bang in Elan & ηvision 2019!!<br><br>
            For all the aspiring DJ's out there!! Can you mix 'em good enough?!Then what are you waiting for?!!Spin 'em to own 'em!!<br>
            Battle with the beats! Fight with the tunes! May the best win!This is the War of DJ's, where DJ's compete with each other, on a huge platform, like never before!</p>
          </div>
          <div class='tab-pane' id='b5'>
            <h4>EVENT FORMAT:</h4><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> The event consists of two rounds-Prelims and finals.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Participants should register online for the event or even on-spot.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> On-spot registrations would be closed 1 hour before the event starts.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Five participants will be selected for the finals depending on their performance during the prelims.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Each DJ will be given a maximum time of 15 minutes to perform for both prelims and finals.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> 5 minutes would be given as a spare time for each of them before their performance to settle down.<br></p>
          </div>
          <div class='tab-pane' id='c5'>
            <h4>RULES AND REGULATIONS:</h4><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> This is an individual event. No DJ duos are allowed.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The participants should be of the age 17-25 years of age and the participants should produce age proof at the registration desk on the day of event.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Time limit should be strictly followed by the participants. Participant will be penalized by judges for not doing so.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> A minimum of three genres to be used. Language is not a barrier.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> A minimum of six songs to be played and 4 CDs to be changed.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Tags must be avoided. They can attract negative points.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Inappropriate content, religious blasphemy and vulgarity will not be tolerated.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Participants should have their own music. No music will be provided by the organizers.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Props or costumes will have to be arranged by the participants.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Obscenity in any form is strictly prohibited and would lead to disqualification.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Decision of organisers and judges will be final and abiding.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Style statement will also be rewarded.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The organising team has the complete right to change the prize money if the participation is less than five.<br></p>
            <h4>INFRASTRUCTURE SUPPLIED:</h4><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> A DJ console(Mark I) and mixer<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> 4 bin DJ sound system<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Effect lights[sprinklers, lasers, cans, and smoke]<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Sound Monitors<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> 2 mics<br></p>
            <h4>JUDGING CRITERIA:</h4><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> Mixing Techniques (Beat Matching, EQing, Use of faders/cross-faders)<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Tricks (Effects, Looping, Scratching)<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Use Of Equipment/Technology<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Track Selection<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Style statement<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Crowd engagement<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Overall Impact, uniqueness of the performance</p>

          </div>
          <div class='tab-pane' id='d5'>
             <h4>PRIZES:</h4><p>
              Prizes worth Rs.25,000/-<br>
              Prizes will be given after April 2nd 2019
</p>
              
              <h4>ORGANISERS:</h4><p>
              Vineeth - 8179113554<br>
              Sudeep - 9866437375</p>
              <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div id="myNav1" class="overlay" style=" background:  linear-gradient(240deg,  #1f004d 33%, #660029 83%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
    <div class="container" style="padding-top: 40px;">
      <h2 style='text-align:center'>Octaves:A Solo Instrument Competition</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a4" role="tab"  aria-selected="true">Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b4" role="tab"  aria-selected="false">&nbsp;Event format</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c4" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d4" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
        <li class="nav-item ml-auto" >
           <a style="font-size: 35px;" class="nav-link" onclick="window.location.href='/register_octaves';" >&nbsp;Register</a>
        </li>
      </ul>



      <div class='tab-content'>
        <div class='tab-pane active' id='a4' role="tabpanel">
          <h4>Introduction</h4>
          <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
           <div class="col-sm-6 ">
          <p>This event pits the best against the best on the cultural stage. The name says it all and if you think you have mastered the instrument of your choice, then this is the stage for you. Not just that, this also tests your creativity and sees if you can come up with your own tune to wow us.</p>
          </div>
           <div class="col-sm-6 text-center">
           <img src="/img/events/Campud Idol Logo IIT Hyderabad.jpeg"  alt="Avatar" >
           </div>
           </div>
           </div>
        <div class='tab-pane' id='b4'>
          <h4>EVENT FORMAT:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i> This being a solo competition allows no more than one person per team.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Registration: On the spot/Online.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> On-spot registrations would be closed 1 hour before the event.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Duration of each performance in the first round: 6 min (empty stage to empty stage).<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Duration of each performance in the second round: as long as the backing track lasts (empty stage to empty stage).<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> There will be two categories. Melody and percussion instruments.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Round 1:<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i>  Participants will be given 6 minutes to play anything they want.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Based on the scores of the first round 2 participants from each category progresses into the second round.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> Overshooting the time limit will result in a penalty.<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Round 2:<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> The second round will be a face-off between the top two from each category. Ie, the first in melody vs the second in melody and similarly for percussion.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> After qualification after the first round, the finalists will be given tracks to play over. Ie, the melody finalists will be given tracks with percussion to play over and vice-versa. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-circle' style='font-size:8px;'></i> This will be done to ensure fair judging.<br>
        </div>
        <div class='tab-pane' id='c4'>
        </p><h4>RULES AND REGULATIONS:</h4><p>
        <i class='fa fa-circle' style='font-size:8px;'></i> A participant can stick to ONLY ONE instrument for the entire competition.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Electric instruments are allowed.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Keyboards can be played only in the piano patch.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Availability of the following instruments is assured (if required) : A keyboard (in piano tune), acoustic guitar, and drums.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Decision of the event organizers and the judges will be final and abiding.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> The organising team has the complete right to change the prize money if the participation is less than five. <br></p>
        <h4>JUDGING CRITERIA:</h4><p>
        <i class='fa fa-circle' style='font-size:8px;'></i> Rhythm<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Creativity<br></p>
      </div>
      <div class='tab-pane' id='d4'>
       
<h4>PRIZES:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> Prizes worth Rs.15,000/-<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Release of  the music of the winning artist globally to over 150 digital platforms including Spotify, Saavn, Amazon Music, Apple Music, Gaana, Google Play Music, etc.<br>
<i class='fa fa-circle' style='font-size:8px;'></i> Promotion of the release on Songdew TV (which has a reach of around 40 Million Households)<br>

              <i class='fa fa-circle' style='font-size:8px;'></i> Prizes will be given after April 2nd 2019
</p>
              
              <h4>ORGANISERS:</h4><p>
             Abhignya     -    9381963302<br>
              Aditya Vardhan  -  9573166062<br>
                  Yashwanth Purli - 9381670803
</p>
              <br>
      </div>
    </div>
  </div>
</div>
</div>
</div>



<div id="myNav2" class="overlay" style="  background:  linear-gradient(240deg,  #1f004d 33%, #660029 83%);" >
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
    <div class="container" style="padding-top: 40px;">
      <h2 style='text-align:center'>Campus Idol: A Solo Singing Competition</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a3" role="tab"  aria-selected="true">Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b3" role="tab"  aria-selected="false">&nbsp;Event format</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c3" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d3" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
        <li class="nav-item ml-auto" >
           <a style="font-size: 35px;" class="nav-link" onclick="window.location.href='/register_vibrazone';" >&nbsp;Register</a>
        </li>
      </ul>



      <div class='tab-content'>
        <div class='tab-pane active' id='a3' role="tabpanel">
        
          <h4>Introduction</h4>
        <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">
           <div class="col-sm-6 text-center">
          <p>Wanna put your singing skills to the test? Got a versatile voice that can mesmerize everyone? Put your heart to it and sing your way to glory!.Its a solo singing competition.</p>
          </div>
           <div class="col-sm-6 text-center">
           <img src="/img/events/Campud Idol Logo IIT Hyderabad.jpeg"  alt="Avatar" >
           </div>
           </div>
          </div>
          <div class='tab-pane' id='b3'>
            <h4>EVENT FORMAT</h4><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> Registrations can be online or on-spot during Elan & ηvision 2019.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> This competition consists of 2 rounds- prelims and finals.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Depending on the prelims performance 10 participants would be selected for the finals.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Participants can sing any song of his/her choice of genre bollywood music/film music.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Prelims Round: To participate in the Campus Idol, you must have 5 songs that you know very well and must be ready to perform any of those 5 songs for the competition. If someone else has chosen your song, or something does not work out with your first choice, you will need to be ready to sing your other choice.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Finals: For finals participant can sing any bollywood or film song of his/her own choice.<br>
            </p>
          </div>
          <div class='tab-pane' id='c3'>
            <h4>RULES AND REGULATIONS:</h4><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> On Spot Registrations closes one hour before the start of the event.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Songs containing vulgar or explicit lyrics will not be allowed. Contestants who, during their performance, use vulgar lyrics or perform in an obscene manner will be disqualified from the competition, NO RAP.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Participants can bring a karaoke track or play an accompanying instrument and are also allowed to have an instrumentalist accompanist(max 2)  ONLY for the final round and not for the prelims. <br>
            <i class='fa fa-circle' style='font-size:8px;'></i> For prelims round time limit is 2 minutes and for finals there is a 3 minute time limit on all songs.The participants should perform for a minimum of 90 seconds(including Mukhda and antara).<br>NO EXCEPTIONS.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> NO BACKING VOCALS ALLOWED.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Participant exceeding prescribed time limit will invite a penalty.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The decision of the organisers and the judges are final. Any contestant or their associates, who argue with a judge may be deemed to be using offensive behaviour and the contestant may be disqualified from the competition.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The decision of the judges and the organizers is final and abiding.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The organizing team has the right to change any or all the rules mentioned above.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i>The organising team has the complete right to change the prize money if the participation is less than ten.<br></p>
            <h4>JUDGING CRITERIA:</h4>
            <p><i class='fa fa-circle' style='font-size:8px;'></i> Vocal ability<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Stage presence<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Appearance<br></p>
            </div>
            <div class='tab-pane' id='d3'>
              <h4>PRIZES:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> Prizes worth Rs.15,000/-<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> A video profile of the winner of the Contest will be created by Songdew . Songdew would based on this do editing, packaging and run the same on its TV channel, Songdew TV (which has a reach of around 40 Million Households).<br>
<i class='fa fa-circle' style='font-size:8px;'></i> 1st prize winner will be directly considered for the finale of Campus Idol powered by Songdew where the final winner will be awarded a music sponsorship by Songdew<br>

              <i class='fa fa-circle' style='font-size:8px;'></i> Prizes will be given after April 2nd 2019
</p>
              
              <h4>ORGANISERS:</h4><p>
              Yashwanth Purli - 9381670803<br>
              Abhignya  -    9381963302<br>
              Aditya Vardhan-    9573166062<br>
</p>
              <br>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
</div>
<script type="text/javascript" src="/js/canva-cul.js"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
 AOS.init();
</script>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>