<!DOCTYPE html>
<html>
<head><!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105307113-2');
  </script>
    <title>Culti | Elan & &eta;vision'19</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Culti | Elan & &eta;vision'19</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2019">
    <meta name="author" content="ELAN & ηvision 2019  ">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="ELAN & ηvision 2019">
    <meta property="og:title" content="ELAN & ηvision 2019">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
    <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" href="/styles/canva.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/techy.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
    <script type="text/javascript">
        window.history.replaceState("", "", '/photography');
    </script>
  </head>
<body>
<canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
          <a href="/ca">Campus Ambassador</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }
  </script>

  <div class="container" style="margin-top: 10%">
    <div class="scrollmenu">
      <a href="/views/culti/dance.html">&nbsp;DANCE</a>
      <!--<a href="/equilibria">&nbsp;EQUILIBRIA</a>
      <a href="/ecell">&nbsp;E-CELL</a>-->
      <a href="/views/culti/music.html">&nbsp;MUSIC</a>
      <a href="/views/culti/drama.html">&nbsp;DRAMA</a>
      <a href="/views/culti/moviemaking.html">&nbsp;MOVIE-MAKING</a>
      <a href="/views/culti/art.html">&nbsp;ART</a>  
      <a href="/views/culti/photography.html">&nbsp;PHOTOGRAPHY</a>
      <!--<a href="/quizzes">&nbsp;QUIZZES</a>
      <a href="/online">&nbsp;ONLINE</a>
      <a href="/quadcopter">&nbsp;QUADCOPTER</a>
      <a href="/pp">&nbsp;PAPER PRESENTATION</a>-->
    </div>
    <h2 style="margin-top:20px; text-align: center;">PHOTOGRAPHY</h2>

  <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

    <div class="col-sm-6 text-center">
      <div class="img-wrapper culti">
        <div onclick="openNav()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/picelectic.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Picelectic</h3>
              <h4 style="margin-top:0px;">Coming Soon</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </div>

     
       

     


     <div id="myNav1" class="overlay" style="background: linear-gradient(120deg, #2C3E50  33%, rgba(0, 0, 0, 0) 33%), linear-gradient(120deg, #27AE60 66%, #F39C12  66%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container">
    <h2 style='text-align:center'>Galileo Project</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a2" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b2" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c2" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d2" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a2' role="tabpanel">
        <h4>Introduction</h4>
        <p>'By taking the sense our sense of sight far beyond the realm of our forebear’s imagination, these wonderful instruments, the telescopes, open the way to a deeper and more perfect understanding of nature.' - Rene Descartes.<br> Make your own Optical tube. This event is based on building of a simple terrestrial telescope with given components. Also, test your talent in physics by participating in a challenging quiz.</p>
        <p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b2'>
        <h4>Problem statement:</h4><p>
        The event will be consisting of three rounds.<br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Round 1:<br>
        A quiz will be conducted to screen the participants. This quiz is based mostly on optics and physics of light.<br><br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Round 2:<br>
        Another quiz will be conducted to screen the participants. This quiz is based on Skymap and a few stellar objects.<br><br>
        <i class='fa fa-circle' style='font-size:8px;'></i> Round 3:<br>
        The top ten teams from the quizzes will qualify to the third round. The teams have to make a terrestrial telescope with the components and infrastructure provided by the organizers.<br>
        </p>
        </div>
        <div class='tab-pane' id='c2'>
        <h4>Judgement Criteria:</h4><p>
        1. Magnification<br>
        2. Clarity of the image<br>
        3. Overall Design<br></p>
        <h4>Certification Policy:</h4><p>
        1)Certificate of Merit and Prizes will be given for the top two teams.<br>
        2)Participation Certificate will be given for those who registered online and participated in the event.<br>
        3)Participation Certificate is not guarenteed for those who registered onspot for the event.<br>
        </p><h4>Rules and Regulations:</h4><p>
        1. Each team is allowed to have a maximum of three members.<br>
        2. Members of a team can be from different colleges.<br>
        3. If a member is found using any other components, other than the ones provided by the organizers, the team shall be disqualified<br>
        4. The Organizers reserve all rights to change any of the mentioned rules as they deem fit.<br>
        5. Changes in the rules, if any, will be highlighted on the website.<br>
        6. In case of any discrepancy, the decision of the organizers shall be final.
        </p>
        </div>
        <div class='tab-pane' id='d2'>
        <h4>Prize</h4><p>
        Prizes Worth INR 10,000*/-</p>
        <p>Prizes will be given after April 2nd 2018</p>
        <h4>Organisers</h4>
        <p>Will be updated soon</p>
        <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>


     <div id="myNav" class="overlay" style="background: linear-gradient(220deg, #C0392B  33%, rgba(0, 0, 0, 0) 33%), linear-gradient(120deg,#2C3E50  66%, #ffc608 66%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
  <div class="container">
    <h2 style='text-align:center'>Aquanaut</h2>
<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a1" role="tab"  aria-selected="true">&nbsp;Introduction</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b1" role="tab"  aria-selected="false">&nbsp;Problem Statement</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c1" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
  </li>
  <li class="nav-item">
    <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d1" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
  </li>
</ul>

        
        
       <div class='tab-content'>
        <div class='tab-pane active' id='a1' role="tabpanel">
        <h4>Introduction:</h4>
        <p>Ever dreamt of building your own rocket prototype and flying it. 
        Here’s your chance. 
        Take your first big step to propel yourself into the world of aerodynamics.
        In this event, participants have to build a Water rocket which is pressurised by compressed air.
        'Be a Newton and test the Third law for yourselves'
        </p>
        <p>Event will be on 10th or 11th Febuary 2018</p>
        </div>
        <div class='tab-pane' id='b1'>
        <h4>Problem statement</h4><p>
        The participants are required to design and build a water rocket (single stage/multi stage) that is completely powered by the thrust provided by compressed air in the bottle and using water as the fuel 
        <br><a  href='/static/pdf/aquanaut.pdf'><button class='btn2'>Problem statement PDF</button></a>
        </div>
        <div class='tab-pane' id='c1'>
        <h4>Rules and Regulations:</h4><p>
        1.  A maximum of three members are allowed in a team.<br>
        2.  There can be students from different institutions in a team.<br>
        3.  Only plastic soft drink bottles are to be used as the rocket body.<br>
        4.  The rocket can be multi-staged but the total volume of the pressure chamber should not exceed 1.5 litres.<br>
        5.  The water rocket must only use compressed ambient atmospheric air as source of energy. Pressure compressors (foot pump) and water shall be provided.<br>
        6.  The amount of water to be filled in the rocket is left to the choice of the team.<br>
        7.  The pressure inside the pressure chamber should not exceed 50 psi.<br>
        8.  Launchers will not be provided by the organizers. Each team must have their own launchers.<br>
        9.  The rocket must be launched from a stationary position using a fixed launcher.Slingshots, trebuchets, catapults, cannons, and all other forms of launcher boost assists are forbidden. In other words, the internal pressure of the rocket must be the only source of energy for the rocket.<br><br><br>
        A team can get disqualified if:<br>
        1.  Any rocket is found to be dangerous to launch by the organizers and judges.<br>
        2.  A rocket blasts before the launch.<br>
        3.  A rocket launches before indicated by the organizers.<br>
        4.  Any part of the rocket breaks off from the rocket during the flight.<br>
        5.  Any ready-made models are used.<br>
        6.  Any design rule is not abided by the participant.<br>
        The organizers reserve all rights to change any of the above rules as they deem fit.<br>
        Changes in rules, if any, will be highlighted on the website. In case of any discrepancy, the decision of the judges shall be treated as final and binding.
        </p>
        </div>
        <div class='tab-pane' id='d1'>
        <h4>Prize</h4><p>
        Prizes Worth INR 20,000*/-</p>
        <p>Prizes will be given after April 2nd 2018</p>
        <h4>Organisers</h4>
        <p>Raja Pradyumna-7093328322<br>Ashish-8500183293<br>Haveesh Singirikonda-7799665254</p>
        <h4>Contact:</h4>
        <p><a href='mailto:techy@elan.org.in'>techy@elan.org.in</a></p>
        </div>
        </div>
        </div>
  </div>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="/js/canva-cul.js"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
     AOS.init();
</script>

<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>