<!DOCTYPE html>
<html>
<head><!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105307113-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105307113-2');
  </script>
    <title>Culti | Elan & &eta;vision'19</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Culti | Elan & &eta;vision'19</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elan & ηVision is the techno-cultural fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2019">
    <meta name="author" content="ELAN & ηvision 2019  ">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,workshops,kludge,infero,cephid,ecell,e-cell,robotics,equilibria,torque,electronica">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="ELAN & ηvision 2019">
    <meta property="og:title" content="ELAN & ηvision 2019">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
    <meta property="og:description" content="ELAN & ηvision 2019: Techno-cultural Fest of IIT Hyderabad">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" href="/styles/canva.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/techy.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
    <script type="text/javascript">
        window.history.replaceState("", "", '/photography');
         function openNav() {
          document.getElementById("myNav").style.height = "100%";
     }

     function closeNav() {
          document.getElementById("myNav").style.height = "0%";
     }
      function openNav1() {
          document.getElementById("myNav1").style.height = "100%";
     }

     function closeNav1() {
          document.getElementById("myNav1").style.height = "0%";
     }
    </script>
  </head>
<body>
<canvas id="test" style="top: 0;z-index: -100;position: fixed; width: 100%;height: 100%;overflow-x: hidden;" ></canvas>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <div id="myNavr" class="overlaynav" style="z-index=10; font-size: 1.3em;">
    <a href="/me"><button id="signInBtn" type="button" class="btn register" >Sign In</button></a>
    <a href="javascript:void(0)" class="closebtnnav" onclick="closerNav()">&times;</a>
    <div class="overlaynav-content" >
      <div class="row justify-content-center no-gutters">
        <div  style="margin-top:9%;" class="col-sm-6 text-center">
          <a href="/index.html">Home</a>
          <a href="/views/sponsors.html">Sponsors</a>
          <a href="/views/team.html">Contact Us</a>
        </div>
        <div style="margin-top:2%;" class="col-sm-6 text-center">
          <!-- <a href="#" style="text-decoration: underline;">Events</a> -->
          <a href="/views/culti/dance.html">Culti</a>
          <a href="/views/tech/techy.html">Techy</a>
          <a href="/views/litr.html">Litr</a>
          <a href="/views/biggies.html">Biggies</a>
          <a href="/views/infi.html">Infi</a>
          <a href="/views/workshops/workshops.html">Workshops</a>
          <a href="/ca">Campus Ambassador</a>
          <a href="/online">Online Events</a>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="sticky">
    <a href="/index.html"><img src="img/symbolOnly.png" height="42" width="47.5641025641" alt=""></a>
    <span onclick="openrNav()" class="fas fa-bars" style="float: right; color: #EDEDED; font-size: 2em; padding: 2vh;">
    </span>
  </div>
  <script type="text/javascript">
    if(window.name) document.getElementById('signInBtn').innerHTML = window.name;
    function openrNav() {
      document.getElementById("myNavr").style.width = "100%";
    }
    function closerNav() {
      document.getElementById("myNavr").style.width = "0%";
    }

  </script>

  <div class="container" style="margin-top: 10%">
    <div class="scrollmenu">
      <a href="/views/culti/dance.html">&nbsp;DANCE</a>
      <!--<a href="/equilibria">&nbsp;EQUILIBRIA</a>
      <a href="/ecell">&nbsp;E-CELL</a>-->
      <a href="/views/culti/music.html">&nbsp;MUSIC</a>
      <a href="/views/culti/drama.html">&nbsp;DRAMA</a>
      <a href="/views/culti/moviemaking.html">&nbsp;MOVIE-MAKING</a>
      <a href="/views/culti/art.html">&nbsp;ART</a>  
      <a href="/views/culti/photography.html">&nbsp;PHOTOGRAPHY & RADIO EVENT</a>
      <!--<a href="/quizzes">&nbsp;QUIZZES</a>
      <a href="/online">&nbsp;ONLINE</a>
      <a href="/quadcopter">&nbsp;QUADCOPTER</a>
      <a href="/pp">&nbsp;PAPER PRESENTATION</a>-->
    </div>

  <div style="" class="row justify-content-center no-gutters" data-aos="zoom-in-up">

    <div class="col-sm-6 text-center">
    <h2 style="margin-top:20px; text-align: center;">PHOTOGRAPHY</h2>
      <div class="img-wrapper culti">
        <div onclick="openNav()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/picelectic.jpg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">Picelectic</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/register_picelectric';">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 text-center">
    <h2 style="margin-top:20px; text-align: center;">RADIO EVENT</h2>
      <div class="img-wrapper culti">
        <div onclick="openNav1()" class="flip-card"> 
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/events/RJ hunt.jpeg"  alt="Avatar" >
            </div>
            <div class="flip-card-back">
              <h3 style="margin-top:50px;">RJ Hunt</h3>
              <button type="button" class="btn" style="margin-top:10px;" onclick="window.location.href='/register_rj_hunt';">Register</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" onclick="" style="margin-top:10px;">Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </div>

     
<div id="myNav" class="overlay" style="background:  linear-gradient(40deg,  #77b300 33%, #003300 63%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
    <div class="container" style="padding-top: 40px;">
      <h2 style='text-align:center'>Picelectic: Competition for best pictures taken during Elan & ηvision 2019</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a21" role="tab"  aria-selected="true">&nbsp;Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b21" role="tab"  aria-selected="false">&nbsp;Event format</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c21" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d21" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
        <li class="nav-item ml-auto" >
              <a style="font-size: 35px;" class="nav-link" onclick="window.location.href='/register_picelectric';" >&nbsp;Register</a>
            </li>
      </ul>



      <div class='tab-content'>
        <div class='tab-pane active' id='a21' role="tabpanel">
          <h4>Introduction</h4>
          <p>
            Portray your photography skills by shooting pictures in,on and about Elan & ηvision 2019. There will be 2 winners announced each day of the 3 days the fest goes on. The pictures can be submitted any time near the counter that is allocated.</p>
          </div>
          <div class='tab-pane' id='b21'>
            <h4>EVENT FORMAT:</h4><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> There are no online registrations for this event.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> There are only on-spot registrations available for this event.</p>
          </div>
          <div class='tab-pane' id='c21'>
            <h4>RULES AND REGULATIONS:</h4><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> The captures must be only during the 3 days of the Elan & ηvision 2019 fest and only inside IIT Hyderabad premises.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The pictures can be submitted any time near the counter that is allocated.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> The counter will not be available after 30 minutes after the completion of the day’s events.<br>

            <i class='fa fa-circle' style='font-size:8px;'></i> The pics must be taken only using a Digi-cam or a Bluetooth enabled mobile (for transfer purpose).<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Winner is judged according to the moments captured in the best way.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> Winners will be declared after the fest online.<br>

            <i class='fa fa-circle' style='font-size:8px;'></i> The organising team has the complete right to change the prize money if the participation is less than ten.<br>
          </div>
          <div class='tab-pane' id='d21'>
            <h4>PRIZES:</h4><p>
              Prizes worth Rs.3,000/-<br>
              Prizes will be given after April 2nd 2019.</p>
              
              <h4>ORGANISERS:</h4><p>
              Ashok  - 9640240203 <br>
                 Havya   -   9381571718
</p>
              <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myNav1" class="overlay" style="background:  linear-gradient(40deg,  #77b300 33%, #003300 63%);">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
  <div style="text-align:left;" class="overlay-content">
    <div class="container" style="padding-top: 40px;">
      <h2 style='text-align:center'>RJ Hunt</h2>
      <!-- Nav tabs -->

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link active"  data-toggle="tab" href="#a11" role="tab"  aria-selected="true">&nbsp;Introduction</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#b11" role="tab"  aria-selected="false">&nbsp;Event format</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#c11" role="tab"  aria-selected="false">&nbsp;Rules & Regulations</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 15px;" class="nav-link"  data-toggle="tab" href="#d11" role="tab"  aria-selected="false">&nbsp;Organizers & Prizes</a>
        </li>
        <li class="nav-item ml-auto" >
              <a style="font-size: 35px;" class="nav-link" onclick="window.location.href='/register_rj_hunt';" >&nbsp;Register</a>
            </li>
      </ul>



      <div class='tab-content'>
        <div class='tab-pane active' id='a11' role="tabpanel">
          <h4>Introduction</h4>
          <p>
            Ever been called a chatterbox? If you are good at entertaining your friends with non-stop, animated, energetic chatter, here's the right platform to test how good you are! Entertain the crowd, and you might probably find yourself among the RJ legends! A ramp to your RJ ying future!</p>
          </div>
          <div class='tab-pane' id='b11'>
            <h4>EVENT FORMAT:</h4><p>
            <i class='fa fa-circle' style='font-size:8px;'></i> Registrations can be done online or On Spot.<br>
            <i class='fa fa-circle' style='font-size:8px;'></i> On Spot Registrations will close 1 hour before the commencement of the event</p>
          </div>
          <div class='tab-pane' id='c11'>
            <h4>RULES AND REGULATIONS:</h4><p>
              <i class='fa fa-circle' style='font-size:8px;'></i> The event will be conducted in three rounds-on-spot,interview and finals.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> For the on-spot round,the participants would be given a random topic to speak on for 2 minutes.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Based on the on-spot round,10 candidates would be selected for the interview round.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> These 10 candidates will be interviewed by asking questions and giving them situations.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> 5 candidates will be selected for the final round.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> In final round, the contestant will have to host a show like an actual RJ does . The Contestants are expected to entertain the audiences by telling stories, current affairs (about Elan & ηvision 2019 ), cinema news, etc.<br> <i class='fa fa-circle' style='font-size:8px;'></i> Each contestant has to perform for maximum of 20 minutes.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> This is an individual event.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Time limit should be strictly followed. Participant will be heavily penalized by judges for not doing so.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The Participants can speak in Telugu, Hindi or English. Other languages are not allowed.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> Decision of judges and organisers will be final and abiding.<br>
              <i class='fa fa-circle' style='font-size:8px;'></i> The organising team has the complete right to change the prize money if the participation is less than ten.</p>

            <h4>JUDGING CRITERIA:</h4><p>
          <i class='fa fa-circle' style='font-size:8px;'></i> Spontaneity<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Sense of humour<br>
          <i class='fa fa-circle' style='font-size:8px;'></i> Overall Impact
          </p>
          </div>
          <div class='tab-pane' id='d11'>
            <h4>PRIZES:</h4><p>
              Prizes worth Rs.7,000/-<br>
              Prizes will be given after April 2nd 2019</p>
              
              <h4>ORGANISERS:</h4><p>
              Lachiram-9553716082<br>
             Priyanka - 9381537097
</p>
              <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

       

     


</div>
</div>

<script type="text/javascript" src="/js/canva-cul.js"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
     AOS.init();
</script>

<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</body>
</html>